.main-short-search {
	background: #fff;
	border-width: 1px 0px 0px;
	border-style: solid;
	border-color: #e0e5ea;
	padding: 20px 0px;
	position: relative;
	font-size: 0;
	
	&__col {
		display: inline-block;
		vertical-align: middle;
	}

	&__relative {
		position: relative;
	}
	&__child {
		position: absolute;
		left: 0px;
		bottom: -44px;
		z-index: 999;
	}
	&__title {
		font-size: 13px;
		line-height: 1.0;
		font-family: 'IntroBlack';
		text-transform: uppercase;
		margin: -2px 0px;
	}
	&__comment {
		&:extend(.text-sm);
	}
}