

.nav-tile {
	/*margin-top: -20px;*/
	&__item {
		transition: 100ms border-color;
		display: block;
		margin-top: 20px;
		box-sizing: content-box;
		border: 4px solid transparent;
		padding: 11px 26px 21px 26px;
		background: #fff;
		text-decoration: none !important;
		min-height: 280px;

		&_side {
			min-height: initial;
			min-height: auto\0;
			margin-top: 0;
			padding-right: 16px;
			padding-left: 16px;
		}

		&:hover {
			border-color: #FFBC66;

			.nav-tile__h1 {
				color: #FF9000;
			}
		}
	}

	&__h1 {
		&:extend(.h15);
		transition: 100ms color;
		margin-left: -2px;
		margin-top: 20px;
		color: #f63;
		text-transform: uppercase;
		
		&_small {
			font-size: 23px;
			margin-left: -1px;
		}
	}

	&__text {
		&:extend(.text-md);
		margin-top: 10px;
		line-height: 1.35;
		color: #555;
	}

	&__button {
		margin-top: 20px;
	}
}
