
.nav-tabs {

	border-bottom: 0;
	margin-top: -5px;

	&_has-gap {
		margin-bottom: 20px;
	}

	&__item {
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}

		&.active {
			.nav-tabs__link {
				color: #09a !important;
			}
		}
	}

	&__link {
		background: none !important;
		border: 0 !important;
		margin-right: 0 !important;
		padding: 5px 0 !important;
		font-size: 14px;
		font-family: 'IntroBlack';
		text-transform: uppercase;

		&:hover {
			color: #09a;
		}
	}

	&__count {
		display: inline-block;
		vertical-align: top;
		border-radius: 10px;
		border: 2px solid #64b1be !important;
		padding: 2px 4px;
		margin-left: 4px;
		margin-bottom: -1px;
		font-family: 'pt_sansbold';
		font-size: 13px;
		line-height: 1;
		color: #64b1be;
	}

	&__h1 {
		&:extend(.h27);
		margin-top: -7px;
	}

	&__h2 {
		&:extend(.text-md);
		margin-top: 5px;
		color: #555;
	}

	&__sep-1 {
		display: block !important;
		margin-top: -10px;
		margin-bottom: 3px;
	}

	&__sep-fix-tb {
		display: block !important;
		margin-top: -4px;
		margin-bottom: 3px;
	}

	&__sep-fix-b {
		margin-bottom: 3px;
	}

	&__sep-fix-t {
		display: block !important;
		margin-top: -10px;
	}

}