
.kids-concurses {
	&__list {
		&__item {
			background: #fff;
			padding: 30px;
			margin-bottom: 21px;
			&__img,
			&__right,
			&__body {
				display: table-cell;
				vertical-align: top;
			}
			&__img {
				padding-right: 20px;
				a,
				a img {
					display: block;
				}
			}
			&__body {
				font-size: 15px;
				padding: 0px;
				p {
					line-height: 1.35;
					margin: 6px 0px 0px;
				}
				&__date {
					font-family: 'pt_sansbold';
					font-size: 13px;
					line-height: 1.0;
					color: @light-gray;
					margin: -2px 0px 9px;
				}
				&__title {
					font-size: 22px;
					line-height: 1.2;
					color: #224466;
					margin-bottom: 0px;
				}
			}
		}
	}
}

