.modal-backdrop {
	background: rgba(255,255,255,0.80);
	position: fixed!important; 
	&.in {
		opacity: 1.0;
	}
}
section.content {
	.modal-dialog {
		box-shadow: none;
		margin: 0px;
		width: auto;
	}
}
.modal-dialog {
	box-shadow: 0px 5px 70px 0px rgba(29,64,69,0.20);
	.modal-content {
		padding: 40px 45px 25px;
		border-radius: 0px;
		border: 0px;
		box-shadow: none;
		&:after {
			content: "";
			border: 4px solid rgb(176,219,225);
			position: absolute;
			top: 4px;
			right: 4px;
			bottom: 4px;
			left: 4px;
		}
	}
	.form-group {
		&:extend(.clearfix all);
		margin-bottom: 20px;
	}
	.modal{
		&-header,
		&-body,
		&-footer {
			position: relative;
			padding: 0px;
			z-index: 333;
		}
	}
	.modal {
		&-header {
			border: 0px none;
			margin: 0px 0px 36px;
			.modal-title {
				font-family: 'IntroLight';
				font-size: 30px;
				text-transform: uppercase;
				line-height: 1.1;
				span.small {
					font-family: 'pt_sansregular';
					font-size: 15px;
					text-transform: none;
					line-height: 1.1;
					display: block;
					padding: 8px 0px 0px;
				}
			}
		}
		&-body {
			&:extend(.clearfix all);
		}
	}
	.control-label {
		margin-top: 7px;
	}
	.close {
		background-color: rgb(237,240,243);
		position: absolute;
		top: 18px;
		right: 18px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		opacity: 1.0;
		z-index: 444;
		&:hover {
			background-color: darken(rgb(237,240,243), 2%);
		}
		&:active {
			background-color: darken(rgb(237,240,243), 10%);
		}
		span {
			.sprite(@icon-blocks-modal-close-cross);
			display: block;
			margin: auto;
			width: 11px;
			height: 11px;
			vertical-align: middle;
		}
	}
}