.navbar {
	background: transparent;
	border: 0px none;
	margin: 0px;
	padding-top: 31px;
	padding-bottom: 20px;
	min-height: 1px;
	border-radius: 0;
	.open-leftmenu {
		background: #2c4d6d;
		width: 29px;
		height: 27px;
		padding: 5px 0px 0px 7px;
		display: block;
		border-width: 2px 0px;
		border-style: solid;
		border-color: #2c4d6d transparent #142a3e;
		box-shadow: 0px 2px 2px rgba(0,0,0,.375);
		&:active {
			border-color: #142a3e transparent #2c4d6d;
			box-shadow: 0px 1px 1px rgba(0,0,0,.175);
		}
	}
	.nav {
		width: 100%;
		font-family: 'IntroBlack';
		text-transform: uppercase;
		&.nav-string {
			& > li + li {
				margin-left: 0px;
			}
			& > li {
				float: left;
			}
			.delimiter {
				font-family: 'IntroRegular';
			}
		}
		&.nav-string {
			>li>ul {
				font-size: 14px;
				>li {
					>a {
						
					}
				}
			}
		}
		li {
			width: 16.5%;
			font-size: 23px;
			text-align: center;
			position: relative;
			&,&:focus,&:active,&:focus:active,
			& a,& a:focus,& a:active,& a:focus:active {
				background: transparent;
			}
			.dropdown-menu {
				font-size: 14px;
			}
			&.item {
				margin: 0px;
				&-1 {
					width: 19%;
				}
				&-2 {
					width: 10%;
				}
				&-3 {
					width: 18%;
				}
				&-4 {
					width: 17%;
				}
				&-5 {
					width: 14%;
				}
				&-6 {
					width: 17%;
				}
			}
			&.delimiter {
				width: 1%;
				text-align: center;
				color: #c1cbd6;
			}
			&.dd-item {
				a {
					padding-right: 10px;
				}
			}
			a {
				padding: 0px 0px;
				.glyphicon-arrow-down {
					background-color: transparent;
					background-image: url(../images/icons.png);
					background-repeat: no-repeat;
					background-position: 0% -18px;
					width: 10px;
					height: 10px;
					position: absolute;
					right: 5px;
					top: 50%;
					margin-top: -5px;
					&:before,
					&:after {
						content: "";
						background: transparent;
					}
					
				}
				&.active {
					.glyphicon-arrow-down {
						background-position: -11px -18px;
					}
				}
				&:hover {
					.glyphicon-arrow-down {
						background-position: -21px -4px;
					}
				}
			}
			&.dropdown {
				&.open {
					.glyphicon-arrow-down {
						background-position: -21px -18px;
					}
				}
				.dropdown-menu {
					border: 0px none;
					margin-top: 11px;
					padding: 20px 20px 34px;
					text-transform: none;
					box-shadow: 0px 6px 25px 0px rgba(2,3,3,0.30);
					border-radius: 0;
					&:before {
						content: "";
						position: absolute;
						border-width: 0px 8px 8px;
						border-style: solid;
						border-color: transparent transparent #fff;
						width: 0px;
						height: 0px;
						left: 20px;
						top: -8px;
					}
					li {
						line-height: 1.0;
						text-align: left;
						margin: 0px 0px 2px;
						width: 100%;
						a {
							font-family: 'pt_sansregular';
							font-size: 15px;
							color: @href-color;
							&:hover {
								color: @href-color-hover;
							}
							&:active {
								color: @href-color-active;
							}
						}
						&.title {
							margin-bottom: 10px;
							strong {
								font-family: 'pt_sansbold';
								font-size: 18px;
								color: @href-color;
							}
						}
					}
				}
			}
			&:hover,
			&:active,
			&:focus,
			&:focus:active,
			& a:hover,
			& a:active,
			& a:focus,
			& a:focus:active {
				background: transparent;
				outline: none;
			}
		}
	}
}

.nav-main {

	&__subitem {
		&.active {
			color: #0ab !important;
		}
	}

}