.calendar-big {

  .ui-datepicker {
    width: 450px;
    padding: 10px;
    padding-bottom: 4px;
    background: #f7f7f7;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;

    .ui-datepicker-header {
      padding-top: 15px;
      padding-bottom: 15px;

      .ui-corner-all {
        top: 50%;
        height: auto;
      }

      .ui-datepicker-title {
        color: @font-color;
        font-size: 15px;
        font-weight: bold;
      }
    }

    .ui-datepicker-calendar {

      thead {
        font-size: 13px;
        font-weight: normal;
        color: @gray-text;
        background: #e2e7ed;
      }

      tbody {
        background: #ffffff;
      }

      td {
        border: solid 5px #f7f7f7;
      }

      .ui-state-default {
        font-size: 14px;
        font-weight: bold;
        font-family: "pt_sansbold";
        color: @font-color;
        min-height: 40px;
        text-align: center;
        line-height: 1.85;
        vertical-align: middle;
      }

      .ui-state-active {
        color: #ffffff;
      }
    }
  }
}
