.datetimepicker {
	&__inline {
		position: relative;
		display: inline-block;
		z-index: 100;
		.datetimepicker__calendar {
			position: absolute;
			top: 100%;
		}
	}
	.form-control {
		padding-right: 0px;
	}
	label.error {
		display: none!important;
	}
}
.js-datetimepicker {
	.datetimepicker {
		padding-right: 6px;
	}
}
