form {
	&.review-form {
		background-color: #edf0f3;
		padding: 30px 30px;
		textarea {
			min-height: 100px;
		}
		.form-group {
			margin-bottom: 22px;
		}
		label {
			margin-bottom: 10px;
		}
		label,
		strong {
			font-size: 15px;
		}
		.media {
			margin-bottom: 5px;
			&-left {
				padding-right: 15px;
			}
			&-body {
				.stars-blue {
					margin-right: 5px;
				}						
			}
		}
		
	}
}

.review-form {
	&__stars {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -3px;
	}
}
		