.profile-contacts {
	h4 {
		margin-bottom: 18px;
	}
	h5 {
		margin-bottom: 27px;
	}
	hr {
		margin: 19px 0px;
	}
	&__media {
		&-left {
			padding-right: 22px;
		}
		&-body {
			width: 360px;
			max-width: 360px;
			padding-top: 12px;
			.media-heading {
				margin-bottom: 4px;
			}
		}
		&-right {
			padding-top: 15px;
			p {
				margin-bottom: 5px;
				color: rgb(85,85,85);
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
	
	&__memo {
		padding: 2px 0px;
		h5 {
			font-size: 18px;
			margin-bottom: 15px;
			a {
				margin-left: 18px;
				font-family: 'pt_sansbold';
				font-size: 15px;
				.glyphicon-download {
					width: 11px;
					height: 15px;
					.sprite(@icon-blocks-profile-contacts-download);
					display: inline-block;
					vertical-align: middle;
					margin-right: 8px;
				}
			}
		}
		ul.numeric-decimals {
			counter-reset:section; list-style-type:none;
			li {
				list-style-type:none;
				ul {
					counter-reset:subsection;
					li:before {
						counter-increment:subsection;
						content:counter(section) "." counter(subsection) ". ";
					}
				}
				&:before{
					float: left;
					counter-increment:section;
					content:counter(section) ". ";/*content:"Section " counter(section) ". ";*/
				}
			}
		}
		ul,
		ol {
			padding-left: 0px;
			li {
				color: rgb(85,85,85);
				font-family: 'pt_sansbold';
				font-size: 13px;
				margin-bottom: 12px;
				p {
					font-family: 'pt_sansregular';
					font-size: 13px;
					color: rgb(119,119,119);
					padding-left: 15px;
					margin-bottom: 4px;
				}
				ul,
				ol {
					li {
						padding-left: 15px;
						margin-bottom: 0px;
						font-family: 'pt_sansregular';
						color: rgb(119,119,119);
						p {
							padding-left: 22px;
							margin-bottom: 4px;
						}
					}
				}
			}
		}
	}
}