.presss-kit-list {
	.anons {
		font-family: 'IntroRegular';
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 40px;
	}	
	.media {
		&-left {
			a {
				&,
				& img {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
		&-body {
			padding-top: 25px;
			
		}
	}
}
.about-contacts {
	color: #555;
	h3,.h3 {
		color: #333;
		margin-bottom: 10px;
	}
	.row {
		&:first-child {
			.col-md-6 {
				&:first-child {
					h3 {
						margin-bottom: 16px;
					}
				}
			}
			.col-md-6 {
				article {
					&:first-child {
						h3 {
							margin-bottom: 10px;
						}
					}
					&:last-child {
						h3 {
							margin-bottom: 16px;
						}
					}
				}
			}			
		}
		&:last-child {

		}
	}
	p {
		margin-bottom: 16px;
	}
	.onmap-href {
		display: inline-block;
		.glyphicon {
			position: relative;
			top: 0px;
		}
	}
	article {
		&:first-child {
			margin-bottom: 33px;
		}
		&:last-child {
			margin-bottom: 0px;
		}
	}
	.dotted-line {
		margin: 18px 0px 27px;
	}
	.media {
		&-left {
			padding-right: 18px;
		}
		&-body {
			.media-heading {
				padding: 16px 0px 0px;
				text-transform: uppercase;
				a {
					font-size: 20px;
					color: @orange;
					font-family: 'IntroBlack';
					line-height: .95;
					text-decoration: none;
					&:hover {
						color: #ff9000;
					}
				}
			}
			p {
				margin-bottom: 0px;
			}
		}
	}
}
.about-job {
	&__item {
		
	}
	&__title {
		font-size: 22px;
		line-height: 1.2;
		margin-bottom: 6px;
	}
	.media {
		p {
			margin-bottom: 0px;
		}
	}
	.dotted-line {
		
	}
	&-open {
		&__title {
			font-family: 'IntroRegular';
			font-size: 22px;
			line-height: 1.2;
			margin-bottom: 17px;
		}
		&__subtitle {
			font-family: 'IntroRegular';
			font-size: 18px;
			margin-bottom: 11px;
		}
		&__article {
			margin-bottom: 18px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
		ul,
		ul li {
			padding-left: 0px;
		}
		ul {
			padding-left: 22px;
			li {
				margin-bottom: 9px;
			}
		}
	}
}
