div.panel-tour {
	border: 4px solid #a3d3da;
	padding: 20px 28px 12px;
	margin: 0px;
	min-height: 320px;
	&.panel-tour_no-frame {
		border: 0px none;
		padding: 26px 30px 24px;
		.dotted-line {
			margin: 16px 0px 13px;
		}
	}
	label {
		font-size: 14px;
		line-height: 1.3;
		color: #333;
	}
	.form-group {
		margin-bottom: 12px;
		&--btn {
			margin-bottom: 0px;
		}
	}
	.panel-heading {
		padding-bottom: 0px!important;
		.panel-title {
			margin-bottom: 10px;
		}
	}
	.age-of-children,
	.check-in-date {
		margin-bottom: 22px;
	}
	.bootstrap-select .btn {
		background: #f7f7f7;
		padding: 3px 9px;
	}
	.bootstrap-select {
		width: 100%!important;
		max-width: 100%;
		.btn {
			span.caret {
				background: transparent url(../images/icons.png) no-repeat 50% -173px;
				width: 16px;
				height: 18px;
				border: 0px none;
				margin-top: -7px;

			}
			&:hover {
				span.caret {
					background-position: 50% -195px;
				}
			}
		}
		.dropdown-menu {
			border: 0px none;
			&.open {
				ul.dropdown-menu {
					display: block;
				}
				.mCSB_container {
					margin-right: 25px;
				}
			}
			border-radius: 0;
			ul {
				>li {
					&.selected {
						>a {
							background: @green;
							color: #fff;
						}
					}
					>a {
						padding: 2px 20px;
						color: @dk-blue;
						font-size: 15px;
						font-family: 'pt_sansbold';
						&:hover {
							background: @green;
							color: #fff;
						}
					}
				}
			}
		}
	}
}