
.audio {
	#js-audio__playbutton {
		cursor: pointer;
	}
	&__pane {
		width: 100%;
		display: inline-block;
		&__leftcol {
			float: left;
			position: relative;
			width: 45px;
		}
		&__rightcol {
			float: right;
			width: 45px;
		}
		&__leftcol,
		&__rightcol {
			padding-top: 33px;
		}
		&__wrapper {
			width: 100%;
			margin-left: -100%;
			float: right;
		}
		&__colorline {
			content: "";
			position: absolute;
			left: 0px;
			right: 0px;
			top: 50%;
			height: 1px;
			overflow: hidden;
			z-index: 10;
			&:after,
			&:before {
				content: "";
				position: absolute;
				left: 0px;
				right: 0px;
				height: 0px;
				overflow: hidden;
			}
			&_gray {
				&:after {
					border-top: 1px dotted #637a94;
				}
				&:before {
					border-top: 1px dotted #516b88;
					margin-left: 1px;
				}
			}
			&_orange {
				width: 0px;
				z-index: 20;
				&:after {
					border-top: 1px dotted #ff7648;
				}
				&:before {
					border-top: 1px dotted #ff6633;
					margin-left: 1px;
				}
			}
		}
		&__centercol {
			margin: 0px 45px;
			position: relative;
		}
		&__eq {
			height: 100px;
			position: relative;
			top: 0px;
			left: 0px;
			z-index: 100;
			.audio__canvas {
				float: left;
			}
			&_absolute {
				position: absolute;
				width: 0px;
				overflow: hidden;
				z-index: 110;
			}
			.audio__pane__img {
				display: none;
			}
			&_show {
				.audio__pane__img {
					display: block;
				}
				.audio__canvas {
					display: none;
				}
			}
		}
		&__current-time {
			font-size: 13px;
			line-height: 34px;
			color: #888;
		}
	}
	&__myaudio__hide {
		position: absolute;
		opacity: 0.0;
	}
	&__canvas_flip {
		-moz-transform: scaleY(-1);
		-o-transform: scaleY(-1);
		-webkit-transform: scaleY(-1);
		transform: scaleY(-1);
		filter: FlipV;
	}
}