
.persons {

	&__list {
		margin-right: -15px;
		margin-left: -15px;
	}

	&__item {
		padding-right: 15px;		
		padding-left: 15px;
	}

	&__image-box {
		display: inline-block;
		border-radius: 50%;
		overflow: hidden;
	}

	&__h1 {
		margin-top: 15px;

		&__link {
			&:extend(.h40);
			&:extend(.link-blue all);
		}
	}

	&__text {
		&:extend(.text-md);
		margin-top: 10px;
		color: #555;
	}

	&__info {
		&:extend(.text-xs);
		margin-top: 15px;
		color: #888;

		&-normal {
			color: #777;
			font-size: 15px;
			line-height: 20px;
			b {
				color: #333;
			}
		}
	}
}