.profile-settings {
	.form-horizontal {
		padding: 0px 0px;
		margin: 0px 0px;
		border: 0px none;
	}
	.dotted-line {
		margin-top: 24px;
		margin-bottom: 23px;
	}
	&__section {
		label {
			margin-bottom: 2px;
		}
	}
	&__item {
		max-width: 680px;
	}
	.form-group {
		margin-bottom: 12px;
		&-btn {
			margin: 0px;
			padding: 8px 0px 10px;
		}
	}
	.glyphicon {
		&-plus {
			.sprite(@icon-blocks-profile-settings-plus);
			width: 14px;
			height: 14px;
			display: inline-block;
			margin-right: 10px;
		}
	}
	.js-profile-settings__add {
		display: inline-block;
		margin-top: 6px;
	}
}