.newyear-offer {
	&__h1 {
    padding: 0;
    margin-bottom: 25px;
		font-family: 'IntroBlack';
		font-size: 30px;
		color: @orange;
    text-transform: uppercase;
	}
	&-items-list {
    font-size: 0;
	}
	&-item {
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		width: 295px;
		margin-right: 25px;
		&:nth-child(3n) {
			margin-right: 0;
		}
		&__img {
			width: 100%;
			display: block;
			margin-bottom: 20px;
		}
		&__title {
      min-height: 60px;
      padding-bottom: 10px;
			color: @href-color;
			font-size: 18px;
		}
		&__desc {
			font-size: 13px;
			color: @gray-text;
			padding-bottom: 15px;
		}
		&__footer {
			padding-bottom: 35px;
		}
		&__icon {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}
		&__price {
			font-family: 'IntroBlack';
			display: inline-block;
			vertical-align: bottom;
			color: @orange;
			font-size: 25px;
			line-height: 25px;
		}
		&__rub {
      font-family: inherit;
			display: inline-block;
			vertical-align: top;
			font-weight: bold;
		}
	}
}
