.events {

	&__list {
		padding-bottom: 10px;
	}

	&__image-box {
		width: 240px;
		float: right;
	}

	&__image-desc {
		margin-right: 240px;
		padding-right: (@grid-gutter-width*2);
	}

	&__paybox {
		float: right;
		width: 130px;
	}

	&__author {
		float: right;
		width: 160px;
	}

	&__label {
		&:extend(.text-sm);
		color: #777;
	}

	&__price {
		margin-top: 2px;
		font-family: 'IntroRegular';
		font-size: 24px;
		line-height: 1.1;
		color: #f63;
	}

	&__button {
		width: 100%;
		margin-top: 10px;
	}

	&__date {
		float: left;
		width: 90px;
		height: 90px;
		padding-left: 9px;
		background: #f3f3f3;
		text-decoration: none !important;
		position: relative;
		display: block;
		
		&_green {
			background: #57c157;
		}
		&_blue {
			background: #00aabb;
		}

		&_purple {
			background: #5c7cc1;
		}

		&_orange {
			#gradient.vertical(#ff7939; #ff6934);
		}
		
		&_gray {
			#gradient.vertical(#90a4bb; #7d91a8);
		}

		&__day {
			margin-top: 3px;
			font-size: 50px;
			font-family: 'IntroBlack';
			line-height: 1;
			color: #fff;
		}

		&__month {
			font-size: 14px;
			font-family: 'IntroBlack';
			line-height: 1;
			color: #fff;
			text-transform: uppercase;
		}

		&__time {
			position: absolute;
			left: 0;
			top: 0;
			color: #fff;
			font-size: 14px;
			line-height: 30px;
			height: 30px;
			background: #ff5400;
			font-weight: bold;
			width: 100%;
			padding: 0 8px;
			top: initial;
			bottom: -30px;
			white-space: nowrap;
			&_disabled {
				background: #bcbcbc;
			}			
		}
		&_disabled {
			background: #cdcdcd;
		}
	}

	&__desc {
		margin-left: 110px;

		&_next-to-paybox {
			margin-right: 150px;
		}
		&-min-height {
			min-height: 110px;
		}
	}

	&__info {
		position: relative;
		padding-left: 45px;
		padding-top: 1px;

		&__icon {
			position: absolute;
			top: 0;
			left: 0;

			&_block {
				position: static;
			}
			&_discuss {
				.sprite(@icon-blocks-scoutorium-icon-discuss);
			}	
			&_meeting {
				.sprite(@icon-blocks-scoutorium-icon-meeting);
			}
			&_doc {
				.sprite(@icon-blocks-scoutorium-icon-doc);
			}		
		}
	}

	&__place {
		&:extend(.text-sm);
		position: relative;
		padding-left: 17px;
		margin-top: -5px;
		color: #777;

		&_side {
			padding-left: 0;
			margin-top: 12px;
		}

		&__icon {
			.sprite(@icon-blocks-events-location);
			position: absolute;
			top: 2px;
			left: 0;

			&_inline {
				position: static;
				display: inline-block;
				margin-right: 5px;
			}

			&-online {
				.sprite(@icon-blocks-events-online);
			}
		}
	}
	
	&__target {
		&:extend(.text-sm);
		margin-top: 3px;
		color: #777;

		&_side {
			margin-top: 10px;
		}
	}

	&__h1 {
		margin-top: 8px;

		&_side {
			margin-top: 12px;
		}

		&__link {
			&:extend(.h27);
			&:extend(.link-blue all);

			&_small {
				font-size: 18px;
			}
		}
	}

	&__h2 {
		&:extend(.h25);
		margin-top: -10px;
		color: #0ab;
	}

	&__nums {
		&:extend(.text-md);
		color: #555;

		&__item {
			font-family: 'IntroRegular';
			font-size: 24px;
			color: #333;
		}

		&__sep {
			margin: 0 3px;
		}
	}

	&__text {
		&:extend(.text-md);
		margin-top: 5px;
		color: #555;

		&_lg {
			.text-xxl();
			margin-top: 10px;
			color: #333;
		}
	}

}