
.personal {
	&__white-cols {
		white-space: nowrap;
		overflow: hidden;
		margin: 20px 0;
		.row {
			.personal__white-col {
				display: block;
			}
		}
	}
	&__white-col {
		background: #fff;
		padding: 15px 18px 15px 20px;
		line-height: 16px;
		display: inline-block;
		vertical-align: top;

		.gray-text {
			display: block;
			padding-bottom: 5px;
		}
	}

	&-download {
		background: #e5eaef;
		padding: 15px 20px 20px;
		margin-bottom: 10px;
	
		&__right {
			display: inline-block;
			vertical-align: middle;
		}
		&__link {
			font-weight: bold;
			text-transform: uppercase;
			border-bottom: 1px dotted;
			font-family: 'pt_sansbold';
			position: relative;
			top: 2px;			
		}
		&__icon {
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
			background: url(../images/icons.png) no-repeat 0 0;

			&-pdf {
				width: 42px;
				height: 50px;
				background-position: 0 -1667px;
			}
			&-error {
				width: 52px;
				height: 52px;
				background-position: -45px -1668px;
			}
		}
	}
	&-pay {
		background: #e5eaef;
		padding: 15px 20px;
		margin-bottom: 10px;

		&__title {
			font-size: 12px;
			line-height: 18px;
			text-transform: uppercase;
			font-family: 'IntroBlack';
		}

		&__price {
			font-size: 30px;
			line-height: 40px;
			/*text-transform: uppercase;*/
			font-family: 'IntroBlack';
			letter-spacing: -1px;
			position: relative;
			top: -1px;			
		}

		&__about {
			background-color: #fff;
			position: relative;
			padding: 10px 20px;
			margin-top: 20px;



			&:before {
				bottom: 100%;
				left: 20px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: #ffffff;
				border-width: 10px;
			}

			&-link {
				color: #00aabb!important;

				.glyphicon.default {
					display: none;
				}
				.glyphicon.active {
					display: inline-block;
				}				

				&.collapsed {

					color: #068!important;

					.glyphicon.default {
						display: inline-block;
					}
					.glyphicon.active {
						display: none;
					}
				}
			}
		}

	}
	&-tourist-info {
		margin-left: -20px;
		margin-right: -20px;
		&--disabled {
			opacity: 0.5;
			label.form__checkbox.disabled {
				opacity: 1.0;
			}
		}
		&__backlight {
			position: relative;
			&:before {
				content: "";
				display: block;
				background-color: #f7f7f7;
				position: absolute;
				top: 0px;
				right: 10px;
				bottom: 0px;
				left: 10px;
			}
		}
		&__header {
			position: relative;
			font-size: 12px;
			line-height: 16px;
			color: #777;
			padding: 6px 0;
			font-family: 'pt_sansregular';

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: url(../images/border-bg.png) repeat-x 0 0;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: url(../images/border-bg.png) repeat-x 0 0;
			}

			&.b-t-0 {
				&:before {
					display: none;
				}
			}
		}
		&__content {
			padding: 17px 0;
			font-size: 14px;
			font-family: 'pt_sansbold';
		}

		&__servise-list {
			background: #edf0f3;
			margin: 0 0 20px;

			display: none;
			transition: all 0.3s ease;	

			&.active {
				display: block;				
			}	

			&-title {
				background: #f1f2f3;
				padding: 10px 15px;
				margin: 5px 0;	
				cursor: pointer;			
				&-text {
					border-bottom: 1px dotted;
					font-family: 'pt_sansbold';
					color: #224466;
				}
				&-icon {
					width: 7px;
					height: 7px;
					display: inline-block;
					vertical-align: middle;
					background: url(../images/icons.png) no-repeat -1px -1725px;
					margin-right: 3px;
					transform: rotate(-90deg);
					transition: all 0.3s ease;
				}
				&:hover {
					.personal-tourist-info__servise-list-title-text {
						color: #068;
					}
				}
				&.active {
					.personal-tourist-info__servise-list-title-icon {
						transform: rotate(0);
					}
				}
			}

			&__header {
				padding: 10px;
				background: url(../images/border-bg.png) repeat-x 0 bottom;
				font-size: 13px;
				color: #777777;
			}
			&__content {
				margin: 0 10px;
				padding-bottom: 1px;
				font-size: 13px;
				font-family: 'pt_sansbold';

				& > .row {
					background-color: transparent;
					padding: 11px 0 14px;
					margin-bottom: 3px;
					/*
					&:nth-child(2n) {
						
						position: relative;
						&:before {
							content: "";
							display: block;
							background-color: #f7f7f7;
							position: absolute;
							top: 0px;
							right: 10px;
							bottom: 0px;
							left: 10px;
						}
					}
					*/
				}
				&.bg-white {
					& > .row {
						&:nth-child(2n) {
							background-color: #fff;
						}
					}
				}				
			}
			&.bg-white {
				background-color: #fff;
			}

		}
	}
}