.transport {
	&-intro {
		height: 630px;
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-color: #7de1ed;
		background-size: auto 100%;
		&__title {
			font-family: 'IntroBlack';
			font-size: 60px;
			line-height: 60px;
			color: #fff;
			padding: 55px 0px;
			letter-spacing: -3.5px;
		}
		&__button {
			color: #fff !important;
			font-family: 'IntroBlack';
			font-size: 40px;
			height: 80px;
			line-height: 80px;
			background: #ff5028;
			transition: all .3s ease;
			margin: 0 30px;
			display: inline-block;
			padding: 0px 30px;
			letter-spacing: -2px;
			&:hover {
				background: #ff6b1b;
			}
			&:focus ,
			&:active {
				background: #ff561b;
			}
		}
	}
	&-intro-content {
		background: #fff;
		margin-top: -115px;
		position: relative;
		padding: 30px 350px 0 30px;
		color: #333333;
		font-size: 22px;
		line-height: 26px;
		&__pic {
			position: absolute;
			bottom: -25px;
			right: 25px;
		}
		&__button {
			position: absolute;
			top: 40px;
			right: 40px;
			font-size: 20px;
			padding: 20px 30px !important;
		}
		p {
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__gallery {
		margin-right: 0;
		height: 290px;
	}
	&-addl-service {
		&__item {
			padding: 0 0 25px 65px;
			position: relative;
			min-height: 42px;
		}
		&__num {
			position: absolute;
			left: 5px;
			top: 1px;
			font-size: 15px;
			color: #6884a3;
			font-family: 'IntroBlack';
			width: 42px;
			height: 42px;
			border-radius: 42px;
			border: 2px solid #6884a3;
			text-align: center;
			line-height: 42px;
		}
		&__text {
			font-size: 18px;
			line-height: 24px;
			color: #555555;
			font-family: 'IntroRegular';
		}
	}
	&-price {
		background: url(../images/promo/transport/price-gradient.png) 0 0 repeat-x;
		background-size: auto 100%;
		height: 473px;
		position: relative;
		text-align: center;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(../images/promo/transport/bubbles.png) 50% 50% no-repeat;
			z-index: 1;
		}
		&__items {
			position: relative;
			z-index: 2;
			padding: 8px 0 0;
		}
		&__item {
			display: inline-block;
			vertical-align: top;
			width: 167px;
			&:nth-child(2n){
				padding-top: 130px;
			}
			&-pic {
				height: 120px;
				line-height: 120px;
				margin-bottom: 10px;
			}
			&-img {
				vertical-align: bottom;
			}
			&-text {
				font-size: 18px;
				color: #555555;
				line-height: 24px;
				font-family: 'IntroRegular';
			}
		}
	}
	&-contact {
		position: relative;
		padding-left: 53px;
		&__icon {
			width: 42px;
			height: 42px;
			position: absolute;
			top: 0;
			left: 0;
			&--place {
				background: url(../images/promo/transport/contact-place.png) 0 0 no-repeat;
			}
			&--phone {
				background: url(../images/promo/transport/contact-phone.png) 0 0 no-repeat;
			}
			&--email {
				background: url(../images/promo/transport/contact-email.png) 0 0 no-repeat;
			}
		}
		&__label {
			font-size: 15px;
			color: #555555;
			font-family:'pt_sansregular';
		}
		&__value {
			font-size: 15px;
			color: #333333;
			font-family:'pt_sansbold';
		}
	}
	&-line {
		height: 15px;
		background: url(../images/promo/transport/line.png) 0 0 repeat-x;
		margin: 60px -10px -25px;
		padding-bottom: 120px;
	}
	&-seperator {
	}
	.cell {
		margin-top: 0;
	}
	.h27 {
		letter-spacing: -0.5px;
	}
	.slider-thumbs__nav {
		top: 3px;
		bottom: 3px;
		left: 0;
	}
	.slider-thumbs__menu {
		bottom: 3px;
		left: 0;
	}
}