.num-special {
	position: relative;
	margin-bottom: 20px;
	&_short {
		.num-special__text {
			.num-special__numbers {
				margin-right: 17px;
			}
			.num-special__h1 {
				font-size: 30px;
			}
			.num-special__h6 {
				font-size: 18px;
			}
		}
	}
	&__text {
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		padding: 26px 30px;
		&,
		& * {
			color: #fff;
		}
		.num-special__orange {
			color: @orange;
		}
		.num-special__h1,
		.num-special__h6,
		.num-special__numbers {
			display: inline-block;
			vertical-align: middle;
		}
		.num-special__h6_tree-line-text {
			top: -7px;
			margin-bottom: -12px!important;
			position: relative; 
		}
		.num-special__h1 {
			margin: 0px 0px;
			font-family: 'IntroBlack';
			text-transform: uppercase;
			font-size: 30px;
			line-height: 0.94;
			margin-right: 22px;
		}
		.num-special__h6 {
			margin: 0px 0px;
			font-family: 'IntroRegular';
			font-size: 18px;
			line-height: 1.1;
			max-width: 300px;
		}
		.num-special__numbers {
			margin-right: 28px;
			&__num {
				background: transparent url(../images/mosgortur-special/num-cell.png) no-repeat 50% 50%;
				display: inline-block;
				width: 41px;
				height: 55px;
				position: relative;
				text-align: center;
				/*line-height: 56px;*/
				line-height: 1.0;
				padding: 0.1em 0px 0px;
				font-family: 'IntroRegular';
				font-size: 48px;
				margin-right: 1px;
				&:before,
				&:after {
					content: "";
					background: rgba(255,199,119,0.30);
					position: absolute;
					height: 1px;
					top: 48%;
					left: 1px;
					right: 0px;
					font-size: 1px;
					line-height: 0;
					overflow: hidden;
					margin-top: -1px;
				}
				&:after {
					background: rgba(242,78,23,0.70);
					margin-top: 0px;
				}
			}
		}
	}
}