
.nav-right {

	&__item {
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-top: 2px;
		font-family: 'IntroRegular';
		font-size: 16px;
		line-height: 1.3;
		text-decoration: none !important;
		background: #fff;
		color: #246;

		&:first-child {
			margin-top: 0;
		}
		
		&_active,
		&:hover {
			background: #0ab;
			color: #fff;
		}

		&_has-sub {

			&:before {
				content: ' ';
				.sprite(@icon-blocks-nav-right-arrow-up);
				position: absolute;
				right: 15px;
				top: 50%;
				margin-top: -(@icon-blocks-nav-right-arrow-up-height/2);
			}

			&:hover {
				background: #fff;
				color: #00aab0;
			}

			&.collapsed {
				&:before {
					.sprite(@icon-blocks-nav-right-arrow-down);
				}

				&:hover {
					&:before {
						.sprite(@icon-blocks-nav-right-arrow-down-hover);
					}
				}
			}
		}
	}

	&__sub {
		margin-top: 2px;

		&_no-gap {
			background: #fff;
			margin-top: 0;
			padding: 10px 15px;
			padding-top: 0;
		}
	}

	&__link {
		&:extend(.text-md);
		&:extend(.link-blue all);
		display: block;
		margin-top: 5px;

		&:first-child {
			margin-top: 0;
		}

		&_active {
			color: #0ab;
		}
	}

}