.profile {
	&__total-price {
		font-family: 'IntroBlack';
		font-size: 36px;
		line-height: 1.0;
		.rub {
			font-size: 34px;
		}
		&_title {
			display: inline-block;
			line-height: 1.10;
		}
	}
	&__footer {
		padding-top: 10px;
		padding-bottom: 7px;
	}
	.glyphicon {
		&-download {
			.sprite(@icon-blocks-profile-download);
			display: inline-block;
			margin: -3px 10px 0px 0px;
		}
	}
	&__title {
		&--blue {
			color: #00aabb;
		}
		&--f24 {
			font-size: 24px;
			font-weight: bold;
		}
	}
	&-table {
		&__head {
			color: #777777;
			font-size: 13px;
			&:after {
				content: '';
				height: 1px;
				display: block;
				background: url(../images/border-bg.png) repeat-x 0 0;
				margin-top: 5px;
			}
			&:before {
				content: '';
				height: 1px;
				display: block;
				background: url(../images/border-bg.png) repeat-x 0 0;
				margin-bottom: 5px;
			}
			&-col {
				height: 32px;
				line-height: 32px;
				vertical-align: bottom;
			}
			&-bottom {
				display: inline-block;
				vertical-align: bottom;
				line-height: 16px;
			}
		}
		&__body {
			font-size: 14px;
			line-height: 18px;
			padding: 25px 0 30px;
			background: url(../images/border-bg.png) repeat-x 0 100%;
			position: relative;
			&:last-child {
				background: transparent;
			}
			&--disabled {
				&:before {
					content: '';
					display: block;
					position: absolute;
					background: rgba(255,255,255,0.70);
					top: 0;
					left: 0;
					height: calc(100% - 1px);
					width: 100%;
					z-index: 1;
				}
			}
		}
		.z-2 {
			z-index: 2;
			position: relative;
		}
		&__actions {
			white-space: nowrap;
			padding-bottom: 13px;
		}
		&__action {
			display: inline-block;
			vertical-align: middle;
			font-size: 18px;
			margin: 0 7px 0 0;
			.glyphicon-doc {
				vertical-align: top;
			}
		}
		&__preview {
			width: 100px;
			height: 100px;
			border: 5px solid #fff;
			box-shadow: 0px 3px 10px 0px rgba(193, 203, 214, 0.75);
			img {
				display: block;
				width: 100%;
			}
		}
		&__promoicon {
			position: relative;
			top: 6px;
		}
	}
}