
.rates {

	&__item {
		margin-top: 10px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__photo-box {
		float: left;
		border-radius: 50%;
		overflow: hidden;
		width: 60px;
		height: 60px;

		background: url(../images/user/user_boy_60x60.png) no-repeat 0 0;

		img {
			width: 60px;
			height: 60px;
			display: block;
		}

		&-girl {
			background: url(../images/user/user_girl_60x60.png) no-repeat 0 0;
		}
	}

	&__desc {
		margin-left: 75px;
		padding-top: 17px;
	}

	&__dotes {
		text-align: right;

		&:after {
			content: ' ';
			display: block;
			border-top: 1px dotted #7f90a3;
			margin-top: -1px;
			position: relative;
			top: -6px;
		}
	}

	&__name-box {
		position: relative;
		z-index: 10;
		float: left;
		margin-top: 2px;
		padding-right: 10px;
		background: #fff;
		text-align: left;
	}

	&__index {
		font-family: 'IntroRegular';
		font-size: 16px;
		color: #999;
	}

	&__name {
		&:extend(.h27);
		&:extend(.link-blue all);
	}

	&__value {
		position: relative;
		z-index: 10;
		display: inline-block;
		padding-left: 10px;
		background: #fff;
		font-family: 'IntroRegular';
		font-size: 24px;
		line-height: 1;
		color: #999;
	}

}