
.form-filter {

	&__h1 {
		&:extend(.text-md);
		margin-bottom: 6px;
		font-family: 'pt_sansbold';
		color: #333;
	}

	&__item {
		margin-top: 3px;
	}

	&__field {
		margin-top: 10px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__label {
		
		&_inline {
			margin-bottom: 0;
			margin-top: 5px;
		}
	}

	&__space {
		height: 10px;
	}

	&__extended {
		&:extend(.text-sm);
	}
	&__expanded-search {
		display: inline-block;
		font-size: 13px;
		line-height: 1.35;
		span {
			border-bottom: 1px dashed;
		}
		&:hover {
			span {
				border-bottom-color: transparent;
			}
		}
	}

	&__sep {
		border-color: #c1cbd6;
		border-width: 0 0 1px 0;
		border-style: dashed;
		margin: 20px 0;
	}

	background: #fff;
	border-width: 4px;
	border-style: solid;
	border-color: @lt-green;
	color: @dk-blue;
	padding: 18px 22px;
	margin-bottom: 20px;
	section {
		position: relative;
		padding-bottom: 25px;
		&:after {
			content: "";
			background: #c1cbd6;
			position: absolute;
			height: 1px;
			overflow: hidden;
			left: 0px;
			right: 0px;
			bottom: 0px;
		}
		&:first-child {
			header {
				padding-top: 0px;
			}
		}
		&.last-child {
			padding-top: 14px;
			padding-bottom: 12px;
			margin-bottom: 20px;
		}
		header {
			font-family: 'IntroRegular';
			font-size: 18px;
			color: @mid-gray;
			padding: 20px 0px 16px;
		}
	}
	.form-group {
		&.check-in-date {
			.ul {
				margin-bottom: 10px;
				.li {
					display: inline-block;
					padding-top: 4px;
				}
			}
		}
	}
	.dotted-line {
		margin-bottom: 11px;
		&:nth-last-child(2) {
			margin-bottom: 21px;
		}
	}
	.form-btn-group {
		padding-top: 15px;
		padding-bottom: 17px;
	}
	.glyphicon {
		&-grown-up,
		&-child {
			width: 16px;
			height: 16px;
			margin-top: 3px;
		}
		&-grown-up {
			.sprite(@icon-blocks-kidslist-grown-up);
		}
		&-child {
			.sprite(@icon-blocks-kidslist-child);
		}
	}
}