
.nav-tour {

	/*margin-top: 20px;*/
	padding-top: 20px;
	margin-bottom: 5px;
	font-size: 0;
	white-space: nowrap;
	overflow: hidden;
	border-top: 1px solid #e0e5ea ;

	&__item {
		float: none;
		display: inline-block;
		vertical-align: top;
	}

	&__link {
		color: #f63 !important;

		&:hover,
		&.active {
			color: #ff9000 !important;
			color: #0ab !important;
		}
	}

	&__text {
		display: block;
		margin-top: 20px;
		width: 10px;
		font-size: 18px;
		font-family: 'IntroBlack';
		line-height: 1;
		text-transform: uppercase;
		white-space: normal;
	}
	
	.lSPrev,
	.lSNext {
		opacity: 1;
		margin-top: -(@icon-blocks-nav-tour-prev-height/2);
		z-index: 10;
	}

	.lSPrev {
		.sprite(@icon-blocks-nav-tour-prev);

		&:hover {
			.sprite-position(@icon-blocks-nav-tour-prev-hover);
		}
	}
	
	.lSNext {
		.sprite(@icon-blocks-nav-tour-next);

		&:hover {
			.sprite-position(@icon-blocks-nav-tour-next-hover);
		}
	}

}