
.docs {
	
	&__item {
		display: table;
		width: 100%;
	}

	&__num {
		display: table-cell;
		white-space: nowrap;
		padding-right: 5px;
		font-size: 16px;
		font-family: 'IntroRegular';
		color: #999;
	}

	&__name {
		&:extend(.h40);
		display: table-cell;
		width: 100%;

		&_info {
			position: relative;
			padding-left: 30px;

			&:before {
				content: ' ';
				.sprite(@icon-blocks-docs-arrow-right);
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

}