.partners-reviews {
	.partners-reviews {
		&__item {
			&__title {
				padding: 18px 0px 0px;
				margin: 0px 75px 17px 90px;
				&_no-img {
					margin-left: 0px;
				}
			}
			&__h5 {
				font-family: 'IntroRegular';
				font-size: 18px;
				line-height: 1.1;
				margin: 0px 0px 3px 0px;
			}
			&__post {
				font-size: 13px;
				color: @gray-text;
			}

		}
		&__img {
			float: left;
		}
		&__date {
			float: right;
			font-size: 13px;
			line-height: 1.1;
			color: #888888;
			padding: 23px 0px 0px;
		}
	}
	.dotted-line {
		margin: 24px 0px 10px;
	}
}