.tour-search {
	.white-tabs {
		.nav {
			.white-tabs__btn {
					margin-right: 2px;
				a {
					padding: 15px 21px 10px;
					letter-spacing: -0.5px;
				}
			}
		}
	}
	&__form {
		color: #555;
		label {
			color: #555;
			line-height: 18px;
		}

		&__title {
			color: @mid-gray;
			font-size: 23px;
			text-transform: uppercase;
			margin-bottom: 25px;
			font-family: 'IntroRegular';
			letter-spacing: -1.5px;
		}

		.form-group {
			margin-bottom: 20px;
		}
		.select-wrapper {
			height: 29px;
			
			&:after {
				top: 6px;
			}
			select {
				height: 27px;
				background-position: 100% -162px;

				&:hover {
					background-position: 100% -186px;					
				}
			}
		}
		.input-group {
			height: 29px;
		}
		input[type="text"] {
			height: 27px;
		}		
		.check-in-date  {
			.datetimepicker {
				.input-group-addon {
					padding: 2px 0;
				}
			}
		}		
	}
	&__panel-heading {
		padding: 0px 0px;
		.panel-title {
			text-transform: uppercase;
			color: #555555;
			font-size: 30px;
			line-height: 1.0;
			font-family: 'IntroLight';
			padding-bottom: 25px;
			margin: 0px;
		}
	}
	&__panel-tour {
		padding: 25px 0px 20px;
		hr.dotted-line {
			margin: 20px 0px 24px;
		}
		.border {
			border-style: dashed;
			border-color: #c1cbd6;
			&-left {
				border-width: 0px 1px 0px 0px;
			}
			&-right {
				border-width: 0px 0px 0px 1px;
			}
		}
		.tour-search__horizontal-form {
			label {
				margin-top: 5px;
			}
		}
		.form-group-btn {
			padding-top: 20px;
		}
		.glyphicon {
			&-grown-up,
			&-child {
				width: 16px;
				height: 16px;
				margin-top: 3px;
			}
			&-grown-up {
				.sprite(@icon-blocks-kidslist-grown-up);
			}
			&-child {
				.sprite(@icon-blocks-kidslist-child);
				margin-right: 1px;
			}
		}
	}
	&__column {
		.check-in-date {
			margin-bottom: 0px;
		}
		&_border-left,
		&_border-right {
			/*background: url(../images/border-bg-vertical.png) repeat-y 100% 0;*/
			border-right: 1px dashed #c1cbd6;
		}
		&_border-left {
			border-width: 0px 0px 0px 1px;
		}
		&-48 {
			width: 48%;
		}
	}
	.popover {
		&.bottom {
			top: 100%!important;
		}
	}
	.form__checkbox.active {
		color: @href-color-active;
	}
	.m-b-8 {
		margin-bottom: 8px!important;
	}
}