.best {
	&__h1 {
		font-family: 'IntroBlack';
		font-size: 30px;
		line-height: 30px;
		color: #ff6633;
		padding-bottom: 25px;
	}
	&-list {
		position: relative;
		&__inner {
			white-space: nowrap;
			width: 940px;
		}
		.fotorama__wrap {
			width: 940px !important;
			height: 350px !important;
		}
		.fotorama__arr {
			transform: translate3d(0, 0, 0) !important;
			opacity: 1 !Important;
			top: 90px;
			position: absolute;
			bottom: initial;
			width: 26px;
			height: 50px;
			&--next {
				background: url(../images/best/slider-next.png) no-repeat 0 0 !important;
				right: -1px;
			}
			&--prev {
				background: url(../images/best/slider-prev.png) no-repeat 0 0 !important;
				left: -1px;
			}
			&--disabled {
				opacity: 0 !important;
			}
		}
	}
	&-item {
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		width: 295px;
		margin-right: 25px;
		&:nth-child(3n) {
			margin-right: 0;
		}
		&__img {
			width: 100%;
			display: block;
			margin-bottom: 20px;
		}
		&__title {
			color: #224466;
			font-size: 18px;
			padding-bottom: 10px;
			height: 60px;
			overflow: hidden;
		}
		&__desc {
			font-size: 13px;
			color: #777777;
			padding-bottom: 15px;
		}
		&__footer {
			padding-bottom: 15px;
		}
		&__icon {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}
		&__price {
			font-family: 'IntroBlack';
			display: inline-block;
			vertical-align: bottom;
			color: #ff6633;
			font-size: 25px;
			line-height: 25px;
		}
		&__rub {
			display: inline-block;
			vertical-align: top;
			
			font-weight: bold;
		}
	}
}