
.rub {
	font-family: 'als_rublregular';
}

*:focus {
	outline: none;
}

body {
	min-width: 1020px;
	overflow-x: hidden;
	font-family: 'pt_sansregular';
}
.height-150 {
	height: 150px!important;
}
.container {
	width: 1020px;
}
.clear-left {
	clear: left!important;
}
.clear-right {
	clear: right!important;
}
.width-auto {
	width: auto!important;
}
accordion {
	display: block;
}
label {
	font-weight: normal;
}

b, strong {
	font-weight: normal;
	font-family:'pt_sansbold';
}

a {
	transition: 150ms color;
}

.ymaps-2-1-27-controls-pane {
	left: 50% !important;
	margin-left: -510px !important;
}

.ymaps-2-1-27-balloon {
	padding: 0 !important;
}

.ymaps-2-1-27-balloon__close {
	top: 10px !important;
	right: 10px !important;
}

.ymaps-2-1-27-balloon__close-button {
	background: #edf0f3 !important;
	width: 30px !important;
	height: 30px !important;
	text-align: center !important;
	line-height: 30px !important;
	opacity: 1 !important;
	margin: 0 !important;

	&:hover {
		background: darken(#edf0f3, 2%) !important;
	}

	&:before {
		content: ' ';
		.sprite(@icon-blocks-modal-close-cross);
		vertical-align: middle;
	}
}

