
.height-100p {
	height: 100%;
}

.text-middle {
	vertical-align: middle;
}

.text-right {
	text-align: right !important;
}

.relative {
	position: relative;
}


.f-s-18 {
	font-size: 18px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.f-s-15 {
  font-size: 15px;
}

.line-h-1 {
  line-height: 1;
}
