@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-te4xs8');
  src:url('../fonts/icomoon.eot?#iefix-te4xs8') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?-te4xs8') format('truetype'),
    url('../fonts/icomoon.woff?-te4xs8') format('woff'),
    url('../fonts/icomoon.svg?-te4xs8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diary:before {
  content: "\e600";
}
.icon-download:before {
  content: "\e601";
}
.icon-edit:before {
  content: "\e602";
}
.icon-mail:before {
  content: "\e603";
}
.icon-ok:before {
  content: "\e604";
}
.icon-okblack:before {
  content: "\e605";
}
.icon-plusblack:before {
  content: "\e606";
}
.icon-trash:before {
  content: "\e607";
}