
.reset-font {
	margin: 0;
	font-size: 100%;
	line-height: 1;
}

.h15 {
	margin: 0;
	font-family: 'IntroBlack';
	font-size: 30px;
	line-height: .95;
}

.h20 {
	margin: 0;
	margin-left: -1px;
	font-family: 'IntroLight';
	font-size: 30px;
	line-height: 1;
	text-transform: uppercase;
}

.h25 {
	margin: 0;
	margin-left: -1px;
	font-family: 'IntroRegular';
	font-size: 36px;
	line-height: 1;
}

.h27 {
	margin: 0;
	font-family: 'IntroRegular';
	font-size: 22px;
	line-height: 1.1;
}

.h28 {
	margin: 0;
	font-family: 'pt_sansregular';
	font-size: 22px;
	line-height: 1.1;
}

.h30 {
	margin: 0;
	font-family: 'IntroBlack';
	font-size: 20px;
	line-height: 1;
}

.h40 {
	margin: 0;
	font-family: 'IntroRegular';
	font-size: 18px;
	line-height: 1.22;
}

.text-xs {
	font-family: 'pt_sansregular';
	font-size: 13px;
	line-height: 1.4;
}

.text-xs-light {
	font-family: 'IntroLight';
	font-size: 13px;
	line-height: 1;
}

.text-sm {
	font-family: 'pt_sansregular';
	font-size: 14px;
	line-height: 1.35;
}

.text-md {
	font-family: 'pt_sansregular';
	font-size: 15px;
	line-height: 1.42;
}

.text-lg {
	font-family: 'pt_sansregular';
	font-size: 16px;
	line-height: 1.25;
}

.text-xl {
	font-family: 'pt_sansregular';
	font-size: 17px;
	line-height: 1.35;
}

.text-xxl {
	font-family: 'pt_sansregular';
	font-size: 18px;
	line-height: 1.4;
}

.text-10 {
	font-family: 'IntroRegular';
	font-size: 16px;
	line-height: 1.25;
}

.text-9 {
	font-family: 'IntroRegular';
	font-size: 15px;
	line-height: 1.25;
}

.text-bold {
	font-family: 'pt_sansbold';
}
.text-normal {
	font-family: 'pt_sansregular';
}

.text-orange  {
	color: @orange;
}
.text-blue  {
	color: @href-color-active;
}
.text-mid-gray  {
	color: @mid-gray;
}
.text-gray {
  color: @gray-text;
}
.link-orange {
	transition: 100ms color;
	color: #f63;

	&:hover,
	&:focus {
		color: lighten(#f63, 5%);
	}
}
.link-blue {
	transition: 100ms color;
	color: #224466;

	&:hover,
	&:focus {
		color: #006688;
	}
}
