@deeplight-gray:     #999;
@light-gray:         #888;
@mid-gray:           #555;
@gray:               #444;
@dk-blue:            #246;
@gray-text:          #777;
@gray-nums:          #acbbcb;
@orange:             #f63;
@yellow:             #ff9000;
@green:              #0ab;
@lt-green:           #a3d3da;
@emerald:            #35a1b3;
@marine-color:       #00bcd6;
@marine-color-light: #00c6e1;

@href-color:         #224466;
@href-color-hover:   #006688;
@href-color-active:  #00aabb;

@href-color-emerald: #7dd;
@base-color:         #333;
@font-color:         #333;

