
.schedule {

	&__button {
		margin-top: 15px;
	}

	&__col-name {
		width: 30%;

		&_narrow {
			width: 25%;
		}
	}

	&__col-time {
		width: 13%;
	}

	&__col-main {
		width: 15%;
	}

	&__name {
		&:extend(.text-md);
		&:extend(.link-blue all);
	}

	&__download {
		&:extend(.text-sm);
		&:extend(.link-blue all);
		display: inline-block;
		margin-top: 20px;
		white-space: nowrap;
	}

	&__row-icon {
		margin-top: 5px;
	}

}