---
layout: default.hbs
title: Мосгортур
---
{{> nav-fixed }}
<header class="header">
  <div class="container">
    {{> header }}
    {{> nav-main }}
  </div>
</header>
<!-- [Start Container]-->
<div class="container m-t-40">
  <main>
    <section class="content">
      <div class="reservation appointment-info">
        <form action="#" method="post" class="form-horizontal">
          <div class="reservation__main-title m-t-10">запись на прием в ГАУК «Мосгортур»</div>
          <div class="progress-steps">
            <div class="progress-step">
              <span class="progress-step__num">1</span>
              <span class="progress-step__text">Первый шаг <br>
								<span class="bold-text">Выбор даты и времени</span>
              </span>
            </div>

            <div class="progress-step">
              <span class="progress-step__num">2</span>
              <span class="progress-step__text">Второй шаг<br>
								<span class="bold-text">Сведения о посетителе</span>
              </span>
            </div>

            <div class="progress-step progress-step-disabled">
              <span class="progress-step__num">3</span>
              <span class="progress-step__text">Третий шаг<br>
								<span class="bold-text">Подтверждение записи</span>
              </span>
            </div>
          </div>

          <hr class="page__sep page__sep-wave m-t-30">

          <div class="reservation__section">
            <h4 class="reservation__section__title m-b-25">
              <span class="bold">Сведения о посетителе</span>
						</h4>

            <hr class="dotted-line"/>

            <div class="row">
              <div class="col-md-12 reservation__section__column">

                <div class="form-group">
                  <label for="appointment-surname" class="col-sm-5 control-label f-s-14">Фамилия</label>
                  <div class="col-sm-16 p-l-0 p-r-0">
                    <input id="appointment-surname" type="text" placeholder="Константинопольский" class="form-control f-s-14"/>
                  </div>
                </div>

                <div class="form-group">
                  <label for="appointment-name" class="col-sm-5 control-label f-s-14">Имя</label>
                  <div class="col-sm-16 p-l-0 p-r-0">
                    <input id="appointment-name" type="text" placeholder="Константин" class="form-control f-s-14"/>
                  </div>
                </div>

                <div class="form-group">
                  <label for="appointment-midname" class="col-sm-5 control-label f-s-14">Отчество</label>
                  <div class="col-sm-16 p-l-0 p-r-0">
                    <input id="appointment-midname" type="text" placeholder="Константинович" class="form-control f-s-14"/>
                  </div>
                </div>

                <div class="form-group">
                  <label for="appointment-phone" class="col-sm-5 control-label f-s-14">Телефон</label>
                  <div class="col-sm-10 p-l-0 p-r-0">
                    <input id="appointment-phone" type="text" placeholder="" class="form-control f-s-14"/>
                  </div>
                </div>

                <div class="form-group">
                  <label for="appointment-email" class="col-sm-5 control-label f-s-14">Эл.почта</label>
                  <div class="col-sm-16 p-l-0 p-r-0">
                    <input id="appointment-email" type="email" placeholder="" class="form-control f-s-14"/>
                  </div>
                </div>

              </div>
            </div>

            <hr class="page__sep-wave m-t-30 m-b-30" />

            <div class="reservation__footer p-b-15 clearfix">
              <div class="float-left">
								<a href="#" class="button button_blue-dark button_small progress-button-prev">
									<span class="button__text">Назад</span>
								</a>
							</div>

              <div class="float-right">
                <a href="#" class="button button_blue-dark button_small progress-button-next">
                  <span class="button__text">ДАЛЕЕ</span>
                </a>
              </div>
            </div>

          </div>
        </form>
      </div>
    </section>
  </main>
</div>
<!-- [/End Container]-->
{{> footer }}
