---
layout: default.hbs
title: Мосгортур
---
{{> nav-fixed }}
<header class="header">
  <div class="container">
    {{> header }}
    {{> nav-main }}
  </div>
</header>
<!-- [Start Container]-->
<div class="container m-t-40">
  <main>
    <section class="content">
      <div class="reservation appointment-confirm">
        <form action="#" method="post" class="form-horizontal">
          <div class="reservation__main-title m-t-10">запись на прием в ГАУК «Мосгортур»</div>
          <div class="progress-steps">
            <div class="progress-step">
              <span class="progress-step__num">1</span>
              <span class="progress-step__text">Первый шаг <br>
								<span class="bold-text">Выбор даты и времени</span>
              </span>
            </div>

            <div class="progress-step">
              <span class="progress-step__num">2</span>
              <span class="progress-step__text">Второй шаг<br>
								<span class="bold-text">Сведения о посетителе</span>
              </span>
            </div>

            <div class="progress-step">
              <span class="progress-step__num">3</span>
              <span class="progress-step__text">Третий шаг<br>
								<span class="bold-text">Подтверждение записи</span>
              </span>
            </div>
          </div>

          <hr class="page__sep page__sep-wave m-t-30">

          <div class="reservation__section">
            <h4 class="reservation__section__title m-b-25">
              <span class="bold">Подтверждение записи</span>
						</h4>

            <hr class="dotted-line"/>

            <div class="row m-r-0 m-b-15 appointment-confirm__date">
              <div class="col-md-3">
                <span>Дата</span>
              </div>
              <div class="col-md-20">
                <span class="bold">01.02.2017</span>
              </div>
            </div>

            <div class="row m-r-0 m-b-15 appointment-confirm__time">
              <div class="col-md-3">
                <span>Время</span>
              </div>
              <div class="col-md-20">
                <span class="bold">14:30</span>
              </div>
            </div>

            <div class="row m-r-0 m-b-15 appointment-confirm__goal">
              <div class="col-md-3">
                <span>Цель</span>
              </div>
              <div class="col-md-20">
                <span class="bold">Подтверждение родства</span>
              </div>
            </div>

            <div class="row m-r-0 m-b-15 appointment-confirm__name">
              <div class="col-md-3">
                <span>ФИО</span>
              </div>
              <div class="col-md-20">
                <span class="bold">Константинопольский Константин Константинович</span>
              </div>
            </div>

            <div class="row m-r-0 m-b-15 appointment-confirm__email">
              <div class="col-md-3">
                <span>Эл. почта</span>
              </div>
              <div class="col-md-20">
                <span class="bold">konstantinopolskiy-konstantin@mail.ru</span>
              </div>
            </div>

            <div class="row m-r-0 m-b-15 appointment-confirm__phone">
              <div class="col-md-3">
                <span>Телефон</span>
              </div>
              <div class="col-md-20">
                <span class="bold">+7 (495) 000-00-00</span>
              </div>
            </div>

            <div class="row m-r-0 m-b-15 appointment-confirm__address">
              <div class="col-md-3">
                <span>Адрес</span>
              </div>
              <div class="col-md-20">
                <span class="bold">г. Москва, ул. Комсомольская Набережная, 43, кв. 15</span>
              </div>
            </div>

            <hr class="dotted-line"/>
            <div>Номер для авторизации в терминале: <span class="bold appointment-number">556 294 344</span></div>
            <hr class="dotted-line"/>

            <div class="m-b-5">
              <label class="form__checkbox form__checkbox_color js-icheck-parent active">
                 <input type="checkbox" class="js-icheck" checked />
                 <span class="f-s-15 line-h-1 text-mid-gray">Даю согласие на обработку моих персональных данных</span>
              </label>
            </div>
            <div class="f-s-13 text-gray">
              После подтверждения мы отправим на указанную электронную почту сообщение, содержащее ваш уникальный номер электронной очереди
            </div>

            <hr class="page__sep-wave m-t-30 m-b-30" />

            <div class="reservation__footer p-b-15 clearfix">
              <div class="float-left">
								<a href="#" class="button button_blue-dark button_small progress-button-prev">
									<span class="button__text">Назад</span>
								</a>
							</div>

              <div class="float-right">
                <a href="#" class="button button_blue-dark button_small">
                  <span class="button__text">ПОДТВЕРДИТЬ</span>
                </a>
              </div>
            </div>

          </div>
        </form>
      </div>
    </section>
  </main>
</div>
<!-- [/End Container]-->
{{> footer }}
