---
layout: default.hbs
title: Мосгортур
---
{{> nav-fixed }}
<header class="header">
  <div class="container">
    {{> header }}
    {{> nav-main }}
  </div>
</header>
<!-- [Start Container]-->
<div class="container m-t-40">
  <main>
    <section class="content">
      <div class="reservation appointment-del">
        <form action="#" method="post" class="form-horizontal">
          <div class="reservation__main-title m-t-10">запись на прием в ГАУК «Мосгортур»</div>

          <hr class="page__sep page__sep-wave m-t-30">

          <div class="reservation__section">
            <h4 class="reservation__section__title m-b-25">
              <span class="bold">Вы действительно хотите отменить посещение?</span>
						</h4>

            <hr class="dotted-line"/>

            <div class="row m-r-0 m-b-15 appointment-del__date">
              <div class="col-md-3">
                <span>Дата</span>
              </div>
              <div class="col-md-20">
                <span class="bold">01.02.2017</span>
              </div>
            </div>

            <div class="row m-r-0 m-b-15 appointment-del__time">
              <div class="col-md-3">
                <span>Время</span>
              </div>
              <div class="col-md-20">
                <span class="bold">14:30</span>
              </div>
            </div>

            <div class="row m-r-0 m-b-15 appointment-del__goal">
              <div class="col-md-3">
                <span>Цель</span>
              </div>
              <div class="col-md-20">
                <span class="bold">Подтверждение родства</span>
              </div>
            </div>

            <div class="row m-r-0 m-b-15 appointment-del__name">
              <div class="col-md-3">
                <span>ФИО</span>
              </div>
              <div class="col-md-20">
                <span class="bold">Константинопольский Константин Константинович</span>
              </div>
            </div>

            <div class="row m-r-0 m-b-15 appointment-del__email">
              <div class="col-md-3">
                <span>Эл. почта</span>
              </div>
              <div class="col-md-20">
                <span class="bold">konstantinopolskiy-konstantin@mail.ru</span>
              </div>
            </div>

            <div class="row m-r-0 m-b-15 appointment-del__phone">
              <div class="col-md-3">
                <span>Телефон</span>
              </div>
              <div class="col-md-20">
                <span class="bold">+7 (495) 000-00-00</span>
              </div>
            </div>

            <!-- <div class="row m-r-0 m-b-15 appointment-del__address">
              <div class="col-md-3">
                <span>Адрес</span>
              </div>
              <div class="col-md-20">
                <span class="bold">г. Москва, ул. Комсомольская Набережная, 43, кв. 15</span>
              </div>
            </div> -->

            <hr class="page__sep-wave m-t-40 m-b-30" />

            <div class="reservation__footer p-b-15 clearfix">
              <div class="float-left">
								<a href="#" class="button button_blue-dark button_small">
									<span class="button__text">ЗАКРЫТЬ</span>
								</a>
							</div>

              <div class="float-right">
                <a href="#" class="button button_orange button_small">
                  <span class="button__text">ОТМЕНИТЬ ПОСЕЩЕНИЕ</span>
                </a>
              </div>
            </div>

          </div>
        </form>
      </div>
    </section>
  </main>
</div>
<!-- [/End Container]-->
{{> footer }}
