---
layout: default.hbs
title: Мосгортур
---
{{> nav-fixed }}
<header class="header">
  <div class="container">
    {{> header }}
    {{> nav-main }}
  </div>
</header>
<!-- [Start Container]-->
<div class="container m-t-40">
  <main>
    <section class="content">
      <div class="reservation appointment">
        <form action="#" method="post" class="form-horizontal">
          <div class="reservation__main-title m-t-10">запись на прием в ГАУК «Мосгортур»</div>
          <div class="progress-steps">
            <div class="progress-step">
              <span class="progress-step__num">1</span>
              <span class="progress-step__text">Первый шаг <br>
								<span class="bold-text">Выбор даты и времени</span>
              </span>
            </div>

            <div class="progress-step progress-step-disabled">
              <span class="progress-step__num">2</span>
              <span class="progress-step__text">Второй шаг<br>
								<span class="bold-text">Сведения о посетителе</span>
              </span>
            </div>

            <div class="progress-step progress-step-disabled">
              <span class="progress-step__num">3</span>
              <span class="progress-step__text">Третий шаг<br>
								<span class="bold-text">Подтверждение записи</span>
              </span>
            </div>
          </div>

          <hr class="page__sep page__sep-wave m-t-30">

          <div class="reservation__section">
            <h4 class="reservation__section__title m-b-25">
              <span class="bold">Выбор даты и времени посещения</span>
						</h4>

            <hr class="dotted-line"/>

            <div class="appointment-date__section">
              <h6 class="m-b-10">Выберите дату визита</h6>
              <div class="calendar-big m-b-0"></div>
            </div>

            <hr class="dotted-line" />

            <div class="appointment-time__section">
              <h6 class="m-b-10 f-s-14">Выберите время визита</h6>
              <div class="time-selector__list m-b-30">
                <div class="time-selector__item">
									<input type="radio" name="time-selector" id="08:00" value="08:00" disabled/>
                  <label for="08:00">08:00</label>
								</div>
                <div class="time-selector__item">
									<input type="radio" name="time-selector" id="09:00" value="09:00"/>
                  <label for="09:00">09:00</label>
								</div>
                <div class="time-selector__item">
									<input type="radio" name="time-selector" id="10:00" value="10:00"/>
                  <label for="10:00">10:00</label>
								</div>
                <div class="time-selector__item">
									<input type="radio" name="time-selector" id="11:00" value="11:00"/>
                  <label for="11:00">11:00</label>
								</div>
                <div class="time-selector__item">
									<input type="radio" name="time-selector" id="12:00" value="12:00" disabled/>
                  <label for="12:00">12:00</label>
								</div>
                <div class="time-selector__item">
									<input type="radio" name="time-selector" id="13:00" value="13:00" disabled/>
                  <label for="13:00">13:00</label>
								</div>
                <div class="time-selector__item">
									<input type="radio" name="time-selector" id="14:00" value="14:00"/>
                  <label for="14:00">14:00</label>
								</div>
                <div class="time-selector__item">
									<input type="radio" name="time-selector" id="15:00" value="15:00"/>
                  <label for="15:00">15:00</label>
								</div>
                <div class="time-selector__item">
									<input type="radio" name="time-selector" id="16:00" value="16:00"/>
                  <label for="16:00">16:00</label>
								</div>
                <div class="time-selector__item">
									<input type="radio" name="time-selector" id="17:00" value="17:00"/>
                  <label for="17:00">17:00</label>
								</div>
                <div class="time-selector__item">
									<input type="radio" name="time-selector" id="18:00" value="18:00"/>
                  <label for="18:00">18:00</label>
								</div>
                <div class="time-selector__item">
									<input type="radio" name="time-selector" id="19:00" value="19:00" checked/>
                  <label for="19:00">19:00</label>
								</div>
              </div>
            </div>

            <hr class="dotted-line" />

            <div class="appointment-goal__section row m-l-0">
              <h6 class="m-b-10 f-s-14">Цель визита</h6>
              <div class="col-sm-8 p-l-0">
                <div class="select-wrapper select-wrapper-full">
                  <select name="appointment-goal" id="appointment-goal" class="no-custom">
										<option>Подтверждение родства</option>
										<option>Ограбление корована</option>
										<option>Адский угар</option>
                    <option>Чад кутежа</option>
                    <option>Вступление в скотоложескую связь с гусями</option>
								  </select>
                </div>
              </div>
            </div>

            <hr class="page__sep-wave m-t-30 m-b-30" />

            <div class="reservation__footer p-b-15 clearfix">
              <div class="float-right">
                <a href="#" class="button button_blue-dark button_small progress-button-next">
                  <span class="button__text">ДАЛЕЕ</span>
                </a>
              </div>
            </div>

          </div>
        </form>
      </div>
    </section>
  </main>
</div>
<!-- [/End Container]-->
{{> footer }}
