---
layout: modal.hbs
---

<button type="button" data-dismiss="modal" aria-label="Close" class="close">
    <span aria-hidden="true"></span>
</button>

<div class="form-vertical-border">
	<div class="row">
		<div class="col-xs-12 padding-right-40">
			
			<form action="example-error.json" class="form js-example-form-modal">
				<div class="modal-header">
					<h4 class="modal-title">Регистрация
						<span class="small">Уже регистрировались?&nbsp;
							<a data-target="#largeModal" data-toggle="modal" data-dismiss="modal" href="modal-authorize.html">Войдите</a>
						</span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="row form-group">
						<label for="name" class="col-sm-8 control-label">Имя</label>
						<div class="col-sm-16">
							<input id="name" type="password" placeholder="" class="form-control"/>
						</div>
					</div>
					<div class="row form-group">
						<label for="family" class="col-sm-8 control-label">Фамилия</label>
						<div class="col-sm-16">
							<input id="family" type="password" placeholder="" class="form-control"/>
						</div>
					</div>
					<div class="row form-group">
						<label for="email" class="col-sm-8 control-label">Эл.почта</label>
						<div class="col-sm-16">
							<input id="email" type="email" placeholder="" class="form-control"/>
						</div>
					</div>
					<div class="row form-group">
						<label for="input-text-1" class="col-sm-8 control-label">Пароль</label>
						<div class="col-sm-16">
							<input id="input-text-1" type="password" placeholder="" class="form-control"/>
						</div>
					</div>
					<div class="row form-group">
						<label for="input-text-2" class="col-sm-8 control-label form__label-inline_up">Подтверждение пароля</label>
						<div class="col-sm-16">
							<input id="input-text-2" type="password" placeholder="" class="form-control"/>
						</div>
					</div>
					<div class="row form-group">
						<label for="input-text-2" class="col-sm-8 control-label">Дата рождения</label>
						<div class="col-sm-10">
							<!-- [begin born-date]-->
							<div class="form-group check-in-date js-datetimepicker">
								<input class="js-datetimepicker-date-1" type="hidden" size="10" value="" />
								<div class="input-group date datetimepicker">
									<input type="text" class="form-control js-datetimepicker-input"/>
									<span class="input-group-addon js-datetimepicker-icon">
										<i class="glyphicon glyphicon-calendar"></i>
									</span>
								</div>
								<span class="js-datetimepicker-calendar js-datetimepicker-born"></span>
							</div>
							<!-- [/end born-date]-->
						</div>
					</div>
					<div class="js-error-box"></div>
					<div class="row form-group">
						<div class="col-sm-16 pull-right">
							<button type="submit" name="submit" class="button button_blue-dark button_blue-dark_size-2">
								<span class="button__text">Зарегистрироваться</span>
							</button>
						</div>
					</div>
				</div>
			</form>
			
		</div>
		<div class="col-xs-12 padding-left-40">
			
			<form action="example-error.json" class="form js-example-form-modal">
				<div class="modal-header">
					<h4 class="modal-title">
						Регистрация
						<br />
						по номеру
						<br />
						льготной
						<br />
						путевки
						<span class="small">
							Введите номер путевки и фамилию для бронирования
							<br />
							дополнительного места к льготной путевке
						</span>
					</h4>
				</div>
				<div class="modal-body m-b-5">
					<div class="row form-group">
						<label for="name" class="col-sm-8 control-label">Номер путевки</label>
						<div class="col-sm-16">
							<input id="name" type="password" placeholder="" class="form-control"/>
						</div>
					</div>
					<div class="row form-group">
						<label for="family" class="col-sm-8 control-label">Ваша фамилия</label>
						<div class="col-sm-16">
							<input id="family" type="password" placeholder="" class="form-control"/>
						</div>
					</div>
					<div class="js-error-box"></div>
					<div class="row form-group">
						<div class="col-sm-16 pull-right">
							<button type="submit" name="submit" class="button button_blue-dark button_blue-dark_size-2">
								<span class="button__text">Зарегистрироваться</span>
							</button>
						</div>
					</div>
				</div>
			</form>
			
		</div>
	</div>
</div>