---
layout: modal.hbs
---

<button type="button" data-dismiss="modal" aria-label="Close" class="close">
    <span aria-hidden="true"></span>
</button>
<div class="modal-header">
    <h4 class="modal-title">Турист</h4>
</div>
<div class="modal-body">
    <form action="#">
        
        {{!--  group --}}
        <div class="row form-group">
            <div class="col-sm-7 control-label form__label-inline_up">Пол</div>
            <div class="col-sm-13">
                <label class="form__checkbox form__checkbox_color form__checkbox_bold js-icheck-parent active">
                   <input type="radio" name="radio" class="js-icheck" checked />
                   Мужской
                </label>
                <label class="form__checkbox form__checkbox_color form__checkbox_bold js-icheck-parent">
                   <input type="radio" name="radio" class="js-icheck" />
                   Женский
                </label>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-7 control-label">Имя</label>
            <div class="col-sm-13">
                <input type="text" placeholder="" class="form-control"/>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-7 control-label">Отчество</label>
            <div class="col-sm-13">
                <input type="text" placeholder="" class="form-control"/>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-7 control-label">Фамилия</label>
            <div class="col-sm-13">
                <input type="text" placeholder="" class="form-control"/>
            </div>
        </div>
        <div class="row form-group check-in-date">
            <label class="col-sm-7 control-label">Дата рождения</label>
            <div class="col-sm-10">
                <!-- [begin born-date]-->
                <div class="check-in-date margin-bottom-0 js-datetimepicker">
                    <input class="js-datetimepicker-date-1" type="hidden" size="10" value="" />
                    <div class="input-group date datetimepicker">
                        <input type="text" class="form-control js-datetimepicker-input"/>
                        <span class="input-group-addon js-datetimepicker-icon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                    <span class="js-datetimepicker-calendar js-datetimepicker-born"></span>
                </div>
                <!-- [/end born-date]-->
            </div>
        </div>
        <div class="row form-group check-in-date">
            <label class="col-sm-7 control-label">Страна рождения</label>
            <div class="col-sm-13">
                <div class="select-wrapper select-wrapper-full">
                    <select name="nationality" id="nationality" class="no-custom">
                        <option>Россия</option>
                        <option>Украина</option>
                        <option>Белоруссия</option>
                    </select>
                </div>
            </div>
        </div>
        {{!-- /group --}}

        <hr class="page__sep" />
        
        {{!--  group --}}
        <div class="row form-group check-in-date">
            <label class="col-sm-7 control-label form__label-inline_up">
                Удостоверяющий документ
            </label>
            <div class="col-sm-13">
                <div class="select-wrapper select-wrapper-full">
                    <select name="nationality" id="nationality" class="no-custom">
                        <option>Свидетельство о рождении</option>
                        <option>Паспорт</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-7 control-label">Номер документа</label>
            <div class="col-sm-13">
                <input type="text" placeholder="" class="form-control"/>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-7 control-label">Серия документа</label>
            <div class="col-sm-13">
                <input type="text" placeholder="" class="form-control"/>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-7 control-label">Кем выдан</label>
            <div class="col-sm-17">
                <input type="text" placeholder="" class="form-control"/>
            </div>
        </div>
        <div class="row form-group check-in-date">
            <label class="col-sm-7 control-label">Когда выдан</label>
            <div class="col-sm-10">
                <!-- [begin born-date]-->
                <div class="check-in-date margin-bottom-0 js-datetimepicker">
                    <input class="js-datetimepicker-date-1" type="hidden" size="10" value="" />
                    <div class="input-group date datetimepicker">
                        <input type="text" class="form-control js-datetimepicker-input"/>
                        <span class="input-group-addon js-datetimepicker-icon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                    <span class="js-datetimepicker-calendar js-datetimepicker-born"></span>
                </div>
                <!-- [/end born-date]-->
            </div>
        </div>
        {{!-- /group --}}

        <hr class="page__sep" />

        {{!--  group --}}
        <div class="row form-group">
            <label class="col-sm-7 control-label form__label-inline_up">
                Тип загранпаспорта
            </label>
            <div class="col-sm-13">
                <div class="select-wrapper select-wrapper-full">
                    <select class="no-custom">
                        <option>Первый</option>
                        <option>Второй</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-7 control-label">Номер</label>
            <div class="col-sm-13">
                <input type="text" placeholder="" class="form-control"/>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-7 control-label form__label-inline_up">
                Орган, выдавший документ
            </label>
            <div class="col-sm-17">
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="row form-group check-in-date">
            <label class="col-sm-7 control-label">Дата выдачи</label>
            <div class="col-sm-10">
                <!-- [begin born-date]-->
                <div class="check-in-date margin-bottom-0 js-datetimepicker">
                    <input class="js-datetimepicker-date-1" type="hidden" size="10" value="" />
                    <div class="input-group date datetimepicker">
                        <input type="text" class="form-control js-datetimepicker-input"/>
                        <span class="input-group-addon js-datetimepicker-icon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                    <span class="js-datetimepicker-calendar js-datetimepicker-born"></span>
                </div>
                <!-- [/end born-date]-->
            </div>
        </div>
        <div class="row form-group check-in-date">
            <label class="col-sm-7 control-label">Срок действия</label>
            <div class="col-sm-10">
                <!-- [begin born-date]-->
                <div class="check-in-date margin-bottom-0 js-datetimepicker">
                    <input class="js-datetimepicker-date-1" type="hidden" size="10" value="" />
                    <div class="input-group date datetimepicker">
                        <input type="text" class="form-control js-datetimepicker-input"/>
                        <span class="input-group-addon js-datetimepicker-icon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                    <span class="js-datetimepicker-calendar js-datetimepicker-born"></span>
                </div>
                <!-- [/end born-date]-->
            </div>
        </div>
        {{!-- /group --}}

        <hr class="page__sep" />

        <h5 class="profile-settings__item__title">
            Контактная информация (необязательно)
        </h5>

        {{!--  group --}}
        <div class="row form-group">
            <label class="col-sm-7 control-label">Эл. почта</label>
            <div class="col-sm-13">
                <input type="text" placeholder="" class="form-control"/>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-7 control-label">Телефон</label>
            <div class="col-sm-13">
                <input type="text" placeholder="" class="form-control"/>
            </div>
        </div>
        {{!-- /group --}}
        
        <div class="row form-group form__button-box text-center">
            <button type="submit" name="submit" class="button button_blue-dark button_blue-dark_size-2">
                <span class="button__text">Добавить</span>
            </button>
        </div>

    </form>
</div>