---
layout: modal.hbs
---

<button type="button" data-dismiss="modal" aria-label="Close" class="close">
		<span aria-hidden="true"></span>
</button>
			
<form action="example-error.json" class="form js-example-form-modal">
	<div class="modal-header">
		<h4 class="modal-title">
			Задайте свой вопрос
		</h4>
	</div>
	<div class="modal-body margin-bottom-0">
		<div class="form-group">
			<label for="email" class="col-sm-5 control-label p-l-0 p-r-0">Ваше имя</label>
			<div class="col-sm-12 p-l-0 p-r-0">
				<input id="name" type="text" placeholder="" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-5 control-label p-l-0 p-r-0">Электронная почта</label>
			<div class="col-sm-12 p-l-0 p-r-0">
				<input id="email" type="text" placeholder="" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-5 control-label p-l-0 p-r-0">Ваш вопрос</label>
			<div class="col-sm-19 p-l-0 p-r-0">
				<textarea id="text" placeholder="" class="form-control" rows="4"></textarea>
			</div>
		</div>
		<div class="form-group">
				<label for="name">Символы <br>с картинки</label>
				<div class="form-captcha m-b-15 w405">
						<div class="row">
								<div class="col-xs-8">
										<img src="http://placehold.it/120x35" alt="" class="form-captcha__img">
								</div>
								<div class="col-xs-8">
										<input type="text" class="form-control form-captcha__filed">
								</div>
						</div>
						<a href="#" class="form-captcha__refresh">Обновить картинку</a>
				</div>
		</div>
		<div class="js-error-box"></div>
		<div class="form-group">
			<div class="col-sm-16 col-sm-offset-5 p-l-0 m-t-5">
				<button type="submit" name="submit" class="button button_blue-dark button_blue-dark_size-2">
					<span class="button__text">Отправить</span>
				</button>
			</div>
		</div>
	</div>
</form>

