---
layout: modal.hbs
---

<button type="button" data-dismiss="modal" aria-label="Close" class="close">
    <span aria-hidden="true"></span>
</button>
<div class="modal-header">
    <h4 class="modal-title">Дополнительные услуги</h4>
</div>
<div class="modal-body">
    <form action="#">
        
        <table class="table-default">
            <tr>
                <th>Услуга</th>
                <th class="text-right">Доплата</th>
            </tr>
            <tr>
                <td>
                    <label class="form__checkbox form__checkbox_long js-icheck-parent">
                       <input type="checkbox" class="js-icheck" />
                       Пешеходная экскурсия по Алуште [Кипарис] (МЕЧТА, Трехразовое, Крым -> Евпатория) (15.06.2015 - 28.06.2015)
                    </label>
                </td>
                <td>
                    <div class="table-default__price">
                        + 1120 <span class="rub">a</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form__checkbox form__checkbox_long js-icheck-parent">
                       <input type="checkbox" class="js-icheck" />
                       Экскурсия по Балаклаве (МЕЧТА, Трехразовое, Крым -> Евпатория) (15.06.2015 - 28.06.2015)
                    </label>
                </td>
                <td>
                    <div class="table-default__price">
                        + 500 <span class="rub">a</span>
                    </div>
                </td>
            </tr>
        </table>
        
        <div class="row form-group form__button-box text-center">
            <button type="submit" name="submit" class="button button_blue-dark button_blue-dark_size-2">
                <span class="button__text">Сохранить</span>
            </button>
        </div>

    </form>
</div>