---
layout: modal.hbs
---

<button type="button" data-dismiss="modal" aria-label="Close" class="close">
    <span aria-hidden="true"></span>
</button>
<div class="modal-header m-b-25">
    <h4 class="modal-title">Заказ услуг</h4>
</div>
<div class="modal-body">
    <form action="#">

        <hr class="page__sep" />
        <hr class="page__sep m-t-0 m-b-20" />

        <div class="form-group">
            <label class="form__tab-checkbox checked">
               <input type="radio" name="radio2" class="js-tab-checkbox js-checkbox-content-control" data-content="visible-for-groups" checked />
               Групповые
            </label>
            <label class="form__tab-checkbox">
               <input type="radio" name="radio2" class="js-tab-checkbox" />
               Индивидуальные
            </label>
        </div>
        
        <div class="visible-for-groups">

            <hr class="page__sep m-t-10 m-b-20" />
            <hr class="page__sep m-t-10 m-b-20" />

            <h5 class="h30 f-s-18 p-b-20">
                Численность группы
            </h5>
            <div class="form-group">
                <label class="form__checkbox js-icheck-parent active text-normal m-r-5">
                   <input type="radio" name="radio1" class="js-icheck" checked />
                   от 9 человек
                </label>
                <label class="form__checkbox js-icheck-parent text-normal m-r-5">
                   <input type="radio" name="radio1" class="js-icheck" />
                   до 20 человек
                </label>
                <label class="form__checkbox js-icheck-parent text-normal m-r-5">
                    <input type="radio" name="radio1" class="js-icheck" />
                    до 30 человек
                </label>
                <label class="form__checkbox js-icheck-parent text-normal m-r-5">
                    <input type="radio" name="radio1" class="js-icheck" />
                    более 40 человек
                </label>
            </div>
        </div>

        <div class="visible-for-groups">

            <hr class="page__sep m-t-25 m-b-25" />
            <hr class="page__sep m-t-25 m-b-25" />

            <h5 class="h30 f-s-18 p-b-20">
                Дополнительные услуги
            </h5>
            <div class="form-group">
                <div class="p-b-10">
                    <label class="form__checkbox js-icheck-parent active">
                       <input type="checkbox" class="js-icheck" />
                       Питание в пути следования
                    </label>
                </div>
                <div>
                    <label class="form__checkbox js-icheck-parent active">
                       <input type="checkbox" class="js-icheck" />
                       Медицинское сопровождение групп
                    </label>
                </div>
            </div>

        </div>

        <hr class="page__sep m-t-25 m-b-25" />

        <h5 class="h30 f-s-18 p-b-20">
            Направление и даты поездки
        </h5>

        <div class="row form-group m-b-0">
            <label class="col-sm-6 control-label">Пункт отправления</label>
            <div class="col-sm-15 p-r-0 p-l-0">
                <div class="select-wrapper select-wrapper-full">
                    <select name="country" id="country" class="no-custom">
                        <option>Россия</option>
                        <option>Украина</option>
                        <option>Белоруссия</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-6 control-label">&nbsp;</label>
            <div class="col-sm-15 p-r-0 p-l-0">
                <div class="select-wrapper select-wrapper-full">
                    <select name="city" id="city" class="no-custom">
                        <option>Выберите город</option>
                        <option>Москва</option>
                        <option>Санкт-Петербург</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-6 control-label">Пункт назначения</label>
            <div class="col-sm-15 p-r-0 p-l-0">
                <div class="select-wrapper select-wrapper-full">
                    <select name="country" id="country" class="no-custom">
                        <option>Не выбрано</option>
                        <option>Украина</option>
                        <option>Белоруссия</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-6 control-label">Дата поездки</label>
            <div class="col-sm-9 p-r-0 p-l-0">
                <!-- [begin born-date]-->
                <div class="check-in-date margin-bottom-0 js-datetimepicker">
                    <input class="js-datetimepicker-date-1" type="hidden" size="10" value="" />
                    <div class="input-group date datetimepicker">
                        <input type="text" class="form-control js-datetimepicker-input"/>
                        <span class="input-group-addon js-datetimepicker-icon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                    <span class="js-datetimepicker-calendar js-datetimepicker-born"></span>
                </div>
                <!-- [/end born-date]-->
            </div>
        </div>

        <hr class="page__sep" />

        <h5 class="h30 f-s-18 p-b-20">
            Личные данные и контактная информация 
        </h5>

        {{!--  group --}}

        <div class="row form-group">
            <label class="col-sm-6 control-label">Имя</label>
            <div class="col-sm-15 p-l-0 p-r-0">
                <input type="text" placeholder="" class="form-control"/>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-6 control-label">Фамилия</label>
            <div class="col-sm-15 p-l-0 p-r-0">
                <input type="text" placeholder="" class="form-control"/>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-6 control-label">Отчество</label>
            <div class="col-sm-15 p-l-0 p-r-0">
                <input type="text" placeholder="" class="form-control"/>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-6 control-label">Телефон</label>
            <div class="col-sm-15 p-l-0 p-r-0">
                <input type="text" placeholder="" class="form-control"/>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-6 control-label">Эл. почта</label>
            <div class="col-sm-15 p-l-0 p-r-0">
                <input type="text" placeholder="" class="form-control"/>
            </div>
        </div>
        {{!-- /group --}}

        <hr class="page__sep" />
        
        <div class="row form-group form__button-box">
            <button type="submit" name="submit" class="button button_blue-dark button_blue-dark_size-2">
                <span class="button__text">Заказать</span>
            </button>
        </div>

    </form>
</div>