---
layout: modal.hbs
---

<button type="button" data-dismiss="modal" aria-label="Close" class="close">
    <span aria-hidden="true"></span>
</button>

<div class="form-vertical-border">
	<div class="row">
		<div class="col-xs-12 padding-right-40">
			
			<form action="example-error.json" class="form js-example-form-modal">
				<div class="modal-header">
					<h4 class="modal-title">
						Вход
						<span class="small">
							Первый раз на сайте?&nbsp;
							<a data-target="#largeModal2" data-toggle="modal" data-dismiss="modal" href="modal-registrate.html">Зарегистрируйтесь</a>
						</span>
					</h4>
				</div>
				<div class="modal-body margin-bottom-0">
					<div class="form-group">
						<label for="email" class="col-sm-5 control-label p-l-0 p-r-0">Эл. почта</label>
						<div class="col-sm-19 p-l-0 p-r-0">
							<input id="email" type="email" placeholder="" class="form-control"/>
						</div>
					</div>
					<div class="form-group">
						<label for="passw" class="col-sm-5 control-label p-l-0 p-r-0">Пароль</label>
						<div class="col-sm-19 p-l-0 p-r-0">
							<input id="passw" type="password" placeholder="" class="form-control"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-19 col-sm-offset-5 p-l-0 p-r-0">
							<div class="row">
								<div class="col-sm-12 padding-right-0">
									<label class="form__checkbox form__checkbox_remind js-icheck-parent">
                              <input type="checkbox" class="js-icheck" />
                              Запомнить меня
                           </label>
								</div>
								<div class="col-sm-12 text-right padding-left-0">
									<a href="">Напомнить пароль</a>
								</div>
							</div>
						</div>
					</div>
					<div class="js-error-box"></div>
					<div class="form-group">
						<div class="col-sm-16 col-sm-offset-5 p-l-0 m-t-5">
							<button type="submit" name="submit" class="button button_blue-dark button_blue-dark_size-2">
								<span class="button__text">Войти</span>
							</button>
						</div>
					</div>
				</div>
			</form>
			
		</div>
		<div class="col-xs-12 padding-left-40">
			
			<form action="example-error.json" class="form js-example-form-modal">
				<div class="modal-header">
					<h4 class="modal-title">
						авторизация
						<br />
						по номеру
						<br />
						льготной
						<br />
						путевки
						<span class="small">
							Введите номер путевки и фамилию для бронирования
							<br />
							дополнительного места к льготной путевке
						</span>
					</h4>
				</div>
				<div class="modal-body margin-bottom-0">
					<div class="row form-group">
						<label for="number-of-tickets" class="col-sm-8 control-label">Номер путевки</label>
						<div class="col-sm-16">
							<input id="number-of-tickets" type="email" placeholder="" class="form-control"/>
						</div>
					</div>
					<div class="row form-group">
						<label for="last-name" class="col-sm-8 control-label">Ваша фамилия</label>
						<div class="col-sm-16">
							<input id="last-name" type="password" placeholder="" class="form-control"/>
						</div>
					</div>
					<div class="js-error-box"></div>
					<div class="row form-group">
						<div class="col-xs-16 pull-right">
							<button type="submit" name="submit" class="button button_blue-dark button_blue-dark_size-2">
								<span class="button__text">Войти</span>
							</button>
						</div>
					</div>
				</div>
			</form>
			
		</div>
	</div>
</div>

