---
layout: modal.hbs
---

<button type="button" data-dismiss="modal" aria-label="Close" class="close">
	<span aria-hidden="true"></span>
</button>
<div class="modal-header m-b-0">
	<h4 class="modal-title">Карточка туриста</h4>
	<hr class="page__sep page__sep-wave" />
</div>
<div class="modal-body">
	<form action="#" class="f-s-14">     
		{{!--  group --}}

		<div class="form-group m-b-30">
			<label class="form__checkbox js-icheck-parent active">
				<input type="checkbox" class="js-icheck" checked />
				Турист является заказчиком
			</label>  
		</div>

		<hr class="page__sep page__sep-bg m-t-25 m-b-20" />

		<div class="row form-group m-b-20">
			<div class="col-sm-4 control-label f-s-14 form__label-inline_up p-t-5">Пол</div>
			<div class="col-sm-16 p-r-20 p-l-5">
				<label class="form__checkbox form__checkbox_color form__checkbox_bold js-icheck-parent active">
				   <input type="radio" name="radio" class="js-icheck" checked />
				   Мужской
				</label>
				<label class="form__checkbox form__checkbox_color form__checkbox_bold js-icheck-parent">
				   <input type="radio" name="radio" class="js-icheck" />
				   Женский
				</label>
			</div>
		</div>

		<div class="row form-group">
			<label class="col-sm-4 control-label f-s-14">Фамилия</label>
			<div class="col-sm-10 p-r-20 p-l-5">
				<input type="text" class="form-control" placeholder="Константинопольский"/>
			</div>
		</div>		

		<div class="row form-group">
			<label class="col-sm-4 control-label f-s-14">Имя</label>
			<div class="col-sm-10 p-r-20 p-l-5">
				<input type="text" class="form-control" placeholder="Константин"/>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-sm-4 control-label f-s-14">Отчество</label>
			<div class="col-sm-10 p-r-20 p-l-5">
				<input type="text" class="form-control" placeholder="Александрович"/>
				<label class="form__checkbox js-icheck-parent m-t-5">
					<input type="checkbox" class="js-icheck" />
					Нет отчества
				</label> 				
			</div> 			
		</div>

		<div class="row form-group check-in-date">
			<label class="col-sm-4 control-label f-s-14 m-t-0">Дата рождения</label>
			<div class="col-sm-7 p-r-25 p-l-5">
				<!-- [begin born-date]-->
				<div class="check-in-date margin-bottom-0 js-datetimepicker">
					<input class="js-datetimepicker-date-1" type="hidden" size="10" value="" />
					<div class="input-group date datetimepicker">
						<input type="text" class="form-control js-datetimepicker-input"/>
						<span class="input-group-addon js-datetimepicker-icon">
							<i class="glyphicon glyphicon-calendar"></i>
						</span>
					</div>
					<span class="js-datetimepicker-calendar js-datetimepicker-born"></span>
				</div>
				<!-- [/end born-date]-->
			</div>
		</div>		

		<hr class="page__sep page__sep-bg m-t-25 m-b-20" />
		
		<div class="form-group m-b-25">
			<span class="text-bold">Удостоверяющий документ</span>
		</div>

		<div class="row form-group check-in-date m-b-10">
			<label class="col-sm-4 control-label f-s-14 form__label-inline_up">
				Тип паспорта
			</label>
			<div class="col-sm-10 p-r-20 p-l-5">
				<div class="select-wrapper select-wrapper-full">
					<select name="nationality" id="nationality" class="no-custom">
						<option>Заграничный паспорт</option>
						<option>Паспорт</option>
						<option>Свидетельство о рождении</option>
					</select>
				</div>
			</div>
		</div>	

		<div class="row form-group m-b-20">
			<label class="col-sm-4 control-label f-s-14 m-t-0 p-t-5">
				Номер
			</label>
			<div class="col-sm-3 p-r-0 p-l-5">
				<input type="text" class="form-control" placeholder="1205"/>
			</div>
			<div class="col-sm-3 p-t-5 text-right">
				Серия
			</div>
			<div class="col-sm-4 p-l-0">
				<input type="text" class="form-control" placeholder="1205778"/>
			</div>
		</div>		

		<div class="row form-group check-in-date m-b-15">
			<label class="col-sm-4 control-label f-s-14 m-t-0">Паспорт выдан</label>
			<div class="col-sm-7 p-r-25 p-l-5">
				<div class="check-in-date margin-bottom-0 js-datetimepicker">
					<input class="js-datetimepicker-date-1" type="hidden" size="10" value="" placeholder="12.04.2015" />
					<div class="input-group date datetimepicker">
						<input type="text" class="form-control js-datetimepicker-input"/>
						<span class="input-group-addon js-datetimepicker-icon">
							<i class="glyphicon glyphicon-calendar"></i>
						</span>
					</div>
					<span class="js-datetimepicker-calendar js-datetimepicker-born"></span>
				</div>
			</div>
			<label class="col-sm-6 control-label f-s-14 m-t-0">Паспорт действителен до</label>
			<div class="col-sm-7 p-r-20 p-l-5">
				<div class="check-in-date margin-bottom-0 js-datetimepicker">
					<input class="js-datetimepicker-date-1" type="hidden" size="10" value="" placeholder="12.04.2015" />
					<div class="input-group date datetimepicker">
						<input type="text" class="form-control js-datetimepicker-input"/>
						<span class="input-group-addon js-datetimepicker-icon">
							<i class="glyphicon glyphicon-calendar"></i>
						</span>
					</div>
					<span class="js-datetimepicker-calendar js-datetimepicker-born"></span>
				</div>
			</div>
		</div>			

		<div class="row form-group check-in-date">
			<label class="col-sm-4 control-label f-s-14 m-t-0">Кем <br>выдан</label>
			<div class="col-sm-20 p-r-20 p-l-5">
				<textarea rows="2" class="form-control form__textarea"></textarea>
			</div>
		</div>		

		<hr class="page__sep page__sep-bg m-t-30" />

		<div class="row form-group">
			<label class="col-sm-4 control-label f-s-14">Телефон</label>
			<div class="col-sm-10 p-r-20 p-l-5">
				<input type="text" class="form-control"/>
			</div>
		</div>

		<div class="row form-group m-b-30">
			<label class="col-sm-4 control-label f-s-14">Эл. почта</label>
			<div class="col-sm-10 p-r-20 p-l-5">
				<input type="text" class="form-control"/>
			</div>
		</div>

		<hr class="page__sep page__sep-wave" />
		
		<div class="row form-group form__button-box text-center">
			<button type="submit" name="submit" class="button button_blue-dark button_blue-dark_size-2">
				<span class="button__text">Добавить</span>
			</button>
		</div>

	</form>
</div>