---
layout: modal.hbs
---

<button type="button" data-dismiss="modal" aria-label="Close" class="close">
    <span aria-hidden="true"></span>
</button>
			
<form action="example-error.json" class="form js-example-form-modal">
	<div class="modal-header">
		<h4 class="modal-title">
			Котактные данные
		</h4>
	</div>
	<div class="modal-body margin-bottom-0">
		<div class="form-group">
			<label for="email" class="col-sm-5 control-label p-l-0 p-r-0">Ваше имя</label>
			<div class="col-sm-19 p-l-0 p-r-0">
				<input id="name" type="text" placeholder="" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-5 control-label p-l-0 p-r-0">Телефон</label>
			<div class="col-sm-19 p-l-0 p-r-0">
				<input id="phone" type="text" placeholder="" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="passw" class="col-sm-5 control-label p-l-0 p-r-0">Электронная почта</label>
			<div class="col-sm-19 p-l-0 p-r-0">
				<input id="email" type="text" placeholder="" class="form-control"/>
			</div>
		</div>
		<div class="js-error-box"></div>
		<div class="form-group">
			<div class="col-sm-16 col-sm-offset-5 p-l-0 m-t-5">
				<button type="submit" name="submit" class="button button_blue-dark button_blue-dark_size-2">
					<span class="button__text">купить</span>
				</button>
			</div>
		</div>
	</div>
</form>

