---
layout: default.hbs
title: Новогодние предложения
---

{{> nav-fixed }}

<header class="header">
	<div class="container">

		{{> header }}
		{{> nav-main }}

	</div>
</header>
<!-- [Start Container]-->
<div class="container">

  <div class="cell">
    <div class="cell__in">
      <div class="newyear-offer">
        <h3 class="cell__h1 newyear-offer__h1">Новогодние предложения</h3>
            <div class="newyear-offer-items-list">
              {{#repeat 2}}
                <a class="newyear-offer-item" href="#">
                  <img src="images/newyear-offer/newyear-offer-01.jpg" alt="" class="newyear-offer-item__img">
                  <div class="newyear-offer-item__title">
                    Новогодний «Лагерь мастеров» Очень длинное название новогоднего лагеря для проверки переполнения.
                  </div>
                  <div class="newyear-offer-item__desc">
                    Детский оздоровительный лагерь «Радуга»
                  </div>
                  <div class="newyear-offer-item__footer">
                    <img src="images/newyear-offer/kids.png" alt="" class="newyear-offer-item__icon">
                    <div class="newyear-offer-item__price">18 990
                      <span class="newyear-offer-item__rub">&#8381;</span>
                    </div>
                  </div>
                </a>

                <a class="newyear-offer-item" href="#">
                  <img src="images/newyear-offer/newyear-offer-02.jpg" alt="" class="newyear-offer-item__img">
                  <div class="newyear-offer-item__title">
                    Лагерь мастеров. Осень.
                  </div>
                  <div class="newyear-offer-item__desc">
                    Детский оздоровительный лагерь «Радуга»
                  </div>
                  <div class="newyear-offer-item__footer">
                    <img src="images/newyear-offer/family.png" alt="" class="newyear-offer-item__icon">
                    <div class="newyear-offer-item__price">16 500
                      <span class="newyear-offer-item__rub">&#8381;</span>
                    </div>
                  </div>
                </a>

                <a class="newyear-offer-item" href="#">
                  <img src="images/newyear-offer/newyear-offer-03.jpg" alt="" class="newyear-offer-item__img">
                  <div class="newyear-offer-item__title">
                    «Школьная Одиссея» в Греции
                  </div>
                  <div class="newyear-offer-item__desc">
                    Греция
                  </div>
                  <div class="newyear-offer-item__footer">
                    <img src="images/newyear-offer/family.png" alt="" class="newyear-offer-item__icon">
                    <div class="newyear-offer-item__price">55 000
                      <span class="newyear-offer-item__rub">&#8381;</span>
                    </div>
                  </div>
                </a>
            {{/repeat}}
          </div>
      </div>
    </div>
  </div>



	<div class="page__item">

		{{> num-special }}

	</div>

	<div class="page__item">

		{{> banners }}

	</div>

</div>
<!-- [/End Container]-->

{{> footer }}
