---
layout: default.hbs
title: Мосгортур
---

{{> nav-fixed }}

<header class="header margin-bottom-0">
    <div class="container">

    {{> header }}
    {{> nav-main }}
  
  </div>
</header>

<!-- [Promo]-->
<div class="promo-intro promo-intro--autumn" style="background-image:url(images/promo/autumn/promo-intro-bg.jpg)">
    <div class="container">
        <nav class="nav-bread promo-intro-nav-bread">
            <div class="nav-bread__item promo-intro-nav-bread__item promo-intro-nav-bread__item--autumn">
                <a href="#" class="nav-bread__link promo-intro-nav-bread__link">Главная</a>
            </div>
            <div class="nav-bread__item promo-intro-nav-bread__item promo-intro-nav-bread__item--autumn">
                <a href="#" class="nav-bread__link promo-intro-nav-bread__link">Купить тур</a>
            </div>
        </nav>
        <div class="promo-intro-title promo-intro-title--blue">
            Город мастеров
        </div>
        <div class="promo-intro-title promo-intro-title--orange promo-intro-title--big">
            Осень
        </div>
        <div class="promo-intro-content promo-intro-content--autumn">
            <div class="row">
                <div class="col-xs-12">
                    <div class="promo-intro-description">
                        <div class="promo-intro-description-title">
                            Каникулы в смартфоне? Ну уж нет, осень – <br> не повод скучать! А осенние каникулы – самое время, чтобы ребенку освоить что-то новое <br> и полезное
                        </div>
                        <div class="promo-intro-description-text">
                           <p>Этой осенью в "Лагере мастеров" мы учим делать самый настоящий творожный пудинг, шить тапочки и мастерить поднос. Сделанные своими руками вещи дети увезут домой, чтобы использовать по назначению. Ну, кроме пудинга, который используется по назначению прямо в лагере.</p>
                           <p>Для бывалых мастеров: все мастер-классы и квесты новые, поэтому программа будет интересна даже тем, кто уже был с нами на прошлых каникулах!</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 p-l-15">
                    <div class="promo-intro-options">
                        <div class="promo-intro-options-info promo-intro-options-info--autumn">
                            <div class="promo-intro-options-info-price promo-intro-options-info-price--autumn">
                                <div class="promo-intro-options-info-desciption">
                                    Общая стоимость:
                                </div>
                                <div class="promo-intro-options-info-title promo-intro-options-info-title-old">
                                    270 000 &#8381;
                                </div>
                                <div class="promo-intro-options-info-title">
                                    140 000 &#8381;
                                </div>
                            </div>
                            <div class="promo-intro-options-info-date promo-intro-options-info-date--autumn">
                                <div class="promo-intro-options-info-desciption">
                                    Время проведения:
                                </div>
                                <div class="promo-intro-options-info-title promo-intro-options-info-title--small">
                                    20.07.16 - 25.07.17 <br>
                                    11.08.16 - 21.08.16 <br>
                                    05.08.16 - 12.08.16
                                </div>
                            </div>
                            <div class="promo-intro-options-info-places promo-intro-options-info-places--autumn">
                                <div class="promo-intro-options-info-desciption">
                                    Осталось мест:
                                </div>
                                <div class="promo-intro-options-info-title-big">
                                    45
                                </div>
                            </div>
                        </div>
                        <a data-target="#middleModal" data-toggle="modal" href="modal-get-special-tour.html" class="promo-intro-options-link">Купить</a>
                    </div>
                </div>
            </div>            
        </div>
        <div class="page__likes page__likes-fixed promo-share promo-share--autumn">
            <div class="social-likes social-likes_vertical">
                <div class="vkontakte"></div>
                <div class="facebook"></div>
                <div class="twitter"></div>
                <div class="plusone"></div>
                <div class="odnoklassniki"></div>
            </div>
        </div>        
    </div>
</div>


<!-- [Start Container]-->
<div class="container">
    <main>
        <div class="promo-content">
            <div></div>
            <hr class="page__sep page__sep-wave promo-sep"> 
            <div class="cell">
                <div class="cell__in">
                    <div class="cell__header">
                        <h2 class="cell__h1">
                            Что будем делать?
                        </h2>
                    </div>
                    <div class="promo-service">
                        <div class="row">
                            <div class="col-md-6">
                                <article class="nav-tile promo-nav-tile">
                                    <div class="nav-tile__item promo-nav-tile__item">
                                        <img class="img-responsive promo-nav-tile__item-img" src="images/promo/autumn/nav-tile-5.png" alt="">
                                        <div class="nav-tile__h1 promo-nav-tile__h1">
                                            Готовить пудинг
                                        </div>
                                        <div class="nav-tile__text promo-nav-tile__text">
                                            Как организовать отряд для захвата вражеской крепости
                                        </div>
                                    </div>
                                </article> 
                            </div>
                            <div class="col-md-6">
                                <article class="nav-tile promo-nav-tile">
                                    <div class="nav-tile__item promo-nav-tile__item">
                                        <img class="img-responsive promo-nav-tile__item-img" src="images/promo/autumn/nav-tile-6.png" alt="">
                                        <div class="nav-tile__h1 promo-nav-tile__h1">
                                            Мастерить поднос
                                        </div>
                                        <div class="nav-tile__text promo-nav-tile__text">
                                            Как собраться в поход и не проспать
                                        </div>
                                    </div>
                                </article> 
                            </div>
                            <div class="col-md-6">
                                <article class="nav-tile promo-nav-tile">
                                    <div class="nav-tile__item promo-nav-tile__item">
                                        <img class="img-responsive promo-nav-tile__item-img" src="images/promo/autumn/nav-tile-7.png" alt="">
                                        <div class="nav-tile__h1 promo-nav-tile__h1">
                                            Ребенок+Лего
                                        </div>
                                        <div class="nav-tile__text promo-nav-tile__text">
                                            Как победить дракона силой слова
                                        </div>
                                    </div>
                                </article> 
                            </div>
                            <div class="col-md-6">
                                <article class="nav-tile promo-nav-tile">
                                    <div class="nav-tile__item promo-nav-tile__item">
                                        <img class="img-responsive promo-nav-tile__item-img" src="images/promo/autumn/nav-tile-8.png" alt="">
                                        <div class="nav-tile__h1 promo-nav-tile__h1">
                                            шить тапочки
                                        </div>
                                        <div class="nav-tile__text promo-nav-tile__text">
                                            Как покорить всех с первого слова 
                                        </div>
                                    </div>
                                </article> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="promo-form js-example-form-modal" action="example-error.json">
                <div class="row">
                    <div class="col-xs-8 p-r-30">
                        Ваше имя
                        <input name="" type="text" placeholder="" class="form-control promo-form-control">
                    </div>
                    <div class="col-xs-4 p-l-0 p-r-0">
                        Телефон
                        <input name="" type="text" placeholder="" class="form-control promo-form-control">
                    </div>
                    <div class="col-xs-6 p-r-0 p-l-20">
                        Электронная почта
                        <input name="" type="text" placeholder="" class="form-control promo-form-control">
                    </div>
                    <div class="col-xs-6 p-l-20 p-r-30">
                        <button class="button button_blue-dark button_blue-dark_size-2 promo-form__button" type="submit">
                            узнать подробнее
                        </button>
                    </div>
                </div>
                <div class="js-error-box"></div>
            </form>
            <div class="cell">
                <div class="cell__in">
                    <div class="cell__header">
                        <h2 class="cell__h1">
                            Чему научимся?
                        </h2>
                    </div>                   
                    <div class="row">
                        <div class="col-md-6">
                            <article class="nav-tile promo-nav-tile">
                                <div class="nav-tile__item promo-nav-tile__item">
                                    <img class="img-responsive promo-nav-tile__item-img" src="images/promo/autumn/nav-tile-1.png" alt="">
                                    <div class="nav-tile__h1 promo-nav-tile__h1">
                                        Украшению стола
                                    </div>
                                    <div class="nav-tile__text promo-nav-tile__text">
                                        Как организовать отряд для захвата вражеской крепости
                                    </div>
                                </div>
                            </article> 
                        </div>
                        <div class="col-md-6">
                            <article class="nav-tile promo-nav-tile">
                                <div class="nav-tile__item promo-nav-tile__item">
                                    <img class="img-responsive promo-nav-tile__item-img" src="images/promo/autumn/nav-tile-2.png" alt="">
                                    <div class="nav-tile__h1 promo-nav-tile__h1">
                                        основам кройки
                                    </div>
                                    <div class="nav-tile__text promo-nav-tile__text">
                                        Как собраться в поход и не проспать
                                    </div>
                                </div>
                            </article> 
                        </div>
                        <div class="col-md-6">
                            <article class="nav-tile promo-nav-tile">
                                <div class="nav-tile__item promo-nav-tile__item">
                                    <img class="img-responsive promo-nav-tile__item-img" src="images/promo/autumn/nav-tile-3.png" alt="">
                                    <div class="nav-tile__h1 promo-nav-tile__h1">
                                        столярным работам
                                    </div>
                                    <div class="nav-tile__text promo-nav-tile__text">
                                        Как победить дракона силой слова
                                    </div>
                                </div>
                            </article> 
                        </div>
                        <div class="col-md-6">
                            <article class="nav-tile promo-nav-tile">
                                <div class="nav-tile__item promo-nav-tile__item">
                                    <img class="img-responsive promo-nav-tile__item-img" src="images/promo/autumn/nav-tile-4.png" alt="">
                                    <div class="nav-tile__h1 promo-nav-tile__h1">
                                        как сделать робота
                                    </div>
                                    <div class="nav-tile__text promo-nav-tile__text">
                                        Как покорить всех с первого слова 
                                    </div>
                                </div>
                            </article> 
                        </div>
                    </div>
                </div>
            </div>
            <hr class="page__sep page__sep-wave promo-sep"> 
            <div class="cell">
                <div class="cell__in">
                    <div class="cell__header">
                        <h2 class="cell__h1">
                            Стоимость
                        </h2>
                    </div>                   
                    <div class="promo-price">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="promo-price-text-small">
                                    Данная стоимость <br>
                                    указана из расчета <br>
                                    на одного человека                                    
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="promo-price-title">
                                    754 000 <img src="images/promo/rub-big.png" alt="" class="promo-price-title-icon">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <a data-target="#middleModal" data-toggle="modal" href="modal-get-special-tour.html" class="promo-price-get-specil">
                                    <img src="images/promo/special-img.png" alt="" class="promo-price-get-specil-img">
                                    получить <br>специальное <br>предложение                                   
                                </a>
                            </div>                            
                        </div>
                        <div class="promo-price-bracket"></div>
                        <div class="promo-price-service">
                            <div class="promo-price-service-item promo-price-service-item-right-col">
                                <div class="promo-price-service-item-icon">
                                </div>
                                <div class="promo-price-service-item-title">
                                    Включены в стоимость:
                                </div>
                            </div>
                            <div class="promo-price-service-item">
                                <div class="promo-price-service-item-icon">
                                    <img src="images/promo/price-service-1.png" alt="">
                                </div>
                                <div class="promo-price-service-item-title">
                                    <br>
                                    Программа
                                </div>
                            </div>
                            <div class="promo-price-service-item">
                                <div class="promo-price-service-item-icon">
                                    <img src="images/promo/price-service-2.png" alt="">
                                </div>
                                <div class="promo-price-service-item-title">
                                    <br>
                                    Перелет
                                </div>
                            </div>
                            <div class="promo-price-service-item">
                                <div class="promo-price-service-item-icon">
                                    <img src="images/promo/price-service-3.png" alt="">
                                </div>
                                <div class="promo-price-service-item-title">
                                    <br>
                                    Трансфер
                                </div>
                            </div>
                            <div class="promo-price-service-item">
                                <div class="promo-price-service-item-icon">
                                    <img src="images/promo/price-service-4.png" alt="">
                                </div>
                                <div class="promo-price-service-item-title">
                                    <br>
                                    Проживание
                                </div>
                            </div>
                            <div class="promo-price-service-item">
                                <div class="promo-price-service-item-icon">
                                    <img src="images/promo/price-service-5.png" alt="">
                                </div>
                                <div class="promo-price-service-item-title">
                                    <br>
                                    ...
                                </div>
                            </div>
                            <div class="promo-price-service-item">
                                <div class="promo-price-service-item-icon">
                                    <img src="images/promo/price-service-6.png" alt="">
                                </div>
                                <div class="promo-price-service-item-title">
                                    <br>
                                    ...
                                </div>
                            </div>
                            <div class="promo-price-service-item">
                                <div class="promo-price-service-item-icon">
                                    <img src="images/promo/price-service-7.png" alt="">
                                </div>
                                <div class="promo-price-service-item-title">
                                    <br>
                                    ...
                                </div>
                            </div>
<!--                             <div class="promo-price-service-item">
                                <div class="promo-price-service-item-icon">
                                    <img src="images/promo/price-service-5.png" alt="">
                                </div>
                                <div class="promo-price-service-item-title">
                                    <br>
                                    Питание
                                </div>
                            </div>
                            <div class="promo-price-service-item">
                                <div class="promo-price-service-item-icon">
                                    <img src="images/promo/price-service-6.png" alt="">
                                </div>
                                <div class="promo-price-service-item-title">
                                    <br>
                                    Экскурсии
                                </div>
                            </div>
                            <div class="promo-price-service-item">
                                <div class="promo-price-service-item-icon">
                                    <img src="images/promo/price-service-7.png" alt="">
                                </div>
                                <div class="promo-price-service-item-title">
                                    <br>
                                    Лечение
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <hr class="page__sep page__sep-wave promo-sep"> 
            <div class="cell">
                <div class="cell__in">
                    <div class="cell__header">
                        <h2 class="cell__h1">
                            Где будем жить?
                        </h2>
                    </div> 
                    <div class="media-camp__gallery promo__gallery">
                        <div class="slider-thumbs slider-thumbs_no-caption slider-thumbs_white-bg slider-width-title">
                            {{#repeat 5}}
                            <img src="images/promo/gallery.png" alt="..." data-title="Название фото. Автор фото">
                            {{/repeat}}
                        </div>
                    </div>
                    <div class="promo__gallery-description">
                        <div class="promo__gallery-description__title">
                            Детский оздоровительный <br>лагерь “Радуга”
                        </div>         
                        <div class="promo__gallery-description__text">
                            <p>
                                Адрес: <br>
                                <span class="promo__gallery-description__address">
                                    Московская область, г. Красногорск, поселок Озерный, Уваровский пер., 3
                                </span>
                            </p>
                            <p>
                                Вас ждут благоустроенные корпуса. <br>
                                На территории лагеря находится спортивный комплекс, туристическая тропа, клуб, центр дополнительного образования,библиотека.
                            </p>
                            <a href="#">Узнать больше о лагере</a>
                            <a href="#" class="button button_blue-dark button_blue-dark_size-2 promo__gallery-description__button">прогуляться по лагерю</a>
                        </div>
                    </div>
                    <article>
                        <!-- [Карта Yandex]-->
                        <div id="map" class="promo__map"></div>
                        <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&amp;lang=ru-RU" type="text/javascript"></script>
                        <script type="text/javascript">
                            ymaps.ready(init);
                            function init(){
                                var myMap = new ymaps.Map ("map", {
                                    center: [55.831423, 37.351716],
                                    zoom: 15
                                });
                                var myPlacemark = new ymaps.Placemark([55.831423, 37.351716]);
                                myMap.geoObjects.add(myPlacemark);
                            }
                        </script>
                        <!-- [/Карта Yandex]-->
                    </article>
                </div>
            </div>
        </div> 

    </main>
</div>
<!-- [/End Container]-->

{{> footer }}