---
layout: default.hbs
title: Вакансии и стажировки
---
{{> nav-fixed }}
<header class="header">
	<div class="container">
		{{> header }}
		{{> nav-main }}
	</div>
</header>
<!-- Page content start -->
<main class="container">

  <nav class="nav-bread">
      <div class="nav-bread__item">
          <a href="#" class="nav-bread__link">Главная</a>
      </div>
      <div class="nav-bread__item">
          <a href="scout.html" class="nav-bread__link">Вожатым</a>
      </div>
      <div class="nav-bread__item">
          <a href="#" class="nav-bread__link">Школа вожатых</a>
      </div>
  </nav>

  <div class="page-content">

    <h1 class="page__h1">Вакансии и стажировки</h1>

    <div class="cell">
      <div class="cell__in">

        <article class="vacancies-article">
          <h2>Подзаголовок блока</h2>
          <p>
            «Сейчас мы на стадии подписания договоров с учреждениями культуры, развлекательными центрами.
          </p>
          <p>
            Всего московские школьники смогут посетить более 50 столичных учреждений, среди которых учреждения Департамента культуры города Москвы, федеральные музеи и театры, а также негосударственные центры и различные культурно-досуговые мероприятия», — цитирует пресс-служба Мосгортура стратегического директора учреждения Наталью Лосеву.
          </p>
          <p>
            По словам Лосевой, главный принцип при организации культурного досуга школьников — разнообразие. Каждый ребенок сможет посетить разные учреждения: развлекательные центры, театр, музеи и другие.
          </p>
          <p>
            Планируется, что за одну смену каждый школьник посетит шесть экскурсий.
          </p>
        </article>

      </div>
    </div>

  </div>

  <section class="row vacancies-tiles">

    <div class="col-xs-8">
      <a href="#" class="nav-tile__item vacancies-tiles__item">
        <img src="images/illustrations/reading-docs-245x142.png" alt="" width="245" height="142" class="img-responsive"/>
        <div class="nav-tile__h1">Вакансии</div>
        <div class="nav-tile__text">
          Документы, законодательные акты, положения и правила, с которыми вожатые сталкиваются в деятельности
        </div>
      </a>
    </div>

    <div class="col-xs-8">
      <a href="#" class="nav-tile__item vacancies-tiles__item">
        <img src="images/illustrations/knotting-tie-237x142.png" alt="" width="237" height="142" class="img-responsive"/>
        <div class="nav-tile__h1">Стажировки</div>
        <div class="nav-tile__text">
          Что должен знать настоящий вожатый
        </div>
      </a>
    </div>

    <div class="col-xs-8">
      <a href="#" class="nav-tile__item vacancies-tiles__item">
        <img src="images/illustrations/zadat-vopros-256x142.png" alt="" width="256" height="142" class="img-responsive"/>
        <div class="nav-tile__h1">Задать <br>вопрос</div>
        <div class="nav-tile__text">
          Ответы, помощь или консультации на любые темы
        </div>
      </a>
    </div>

  </section>

  <section class="row vacancies-banners">

    <div class="col-md-12">
      <a href="#">
        <img src="images/vacancies/vacancies-banner__hh.png" alt="HeadHunter" />
      </a>
    </div>

    <div class="col-md-12">
      <a href="#">
        <img src="images/vacancies/vacancies-banner__sjob.png" alt="SuperJob" />
      </a>
    </div>

  </section>

  <section class="cell vacancies-advantages">
    <div class="cell__in">
      <h2 class="cell__h1">Преимущества работы в мосгортур</h2>
      <div class="row">

        <div class="col-md-5ths vacancies-advantages__item">
          <i class="icon-blocks-vacancies-money vacancies-advantages__item-icon-salary"></i>
          <p>Белая заработная плата</p>
        </div>

        <div class="col-md-5ths vacancies-advantages__item">
          <i class="icon-blocks-vacancies-tk vacancies-advantages__item-icon-official"></i>
          <p>Трудоустройство в соответствии с ТК</p>
        </div>

        <div class="col-md-5ths vacancies-advantages__item">
          <i class="icon-blocks-vacancies-target vacancies-advantages__item-icon-stable"></i>
          <p>Работа в стабильной компании</p>
        </div>

        <div class="col-md-5ths vacancies-advantages__item">
          <i class="icon-blocks-vacancies-plan vacancies-advantages__item-icon-task"></i>
          <p>Масштабные и разноплановые задачи</p>
        </div>

        <div class="col-md-5ths vacancies-advantages__item">
          <i class="icon-blocks-vacancies-timer vacancies-advantages__item-icon-rush"></i>
          <p>Отучим спать, есть и общаться с друзьями и т.д.</p>
        </div>

      </div>
    </div>
  </section>

  <section class="cell vacancies-partners">
    <div class="cell__in">
      <h2 class="cell__h1">Наши партнёры – крупнейшие ВУЗы страны</h2>
      <div class="row vacancies-partners__row">
        <!-- first row -->
        <div class="col-md-5ths vacancies-partners__item">
          <img src="images/vacancies/vacancies-partners__item-img01.png" alt="Институт психологии
          и педагогики" class="vacancies-partners__item-img"/>
          <p>Институт психологии и педагогики</p>
        </div>

        <div class="col-md-5ths vacancies-partners__item">
          <img src="images/vacancies/vacancies-partners__item-img02.png" alt="Институт психологии
          и педагогики" class="vacancies-partners__item-img"/>
          <p>Московский городской педагогический университет</p>
        </div>

        <div class="col-md-5ths vacancies-partners__item">
          <img src="images/vacancies/vacancies-partners__item-img03.png" alt="Институт психологии
          и педагогики" class="vacancies-partners__item-img"/>
          <p>Московский городской психолого-педагогический университет</p>
        </div>

        <div class="col-md-5ths vacancies-partners__item">
          <img src="images/vacancies/vacancies-partners__item-img04.png" alt="Институт психологии
          и педагогики" class="vacancies-partners__item-img"/>
          <p>Московский государственный областной гуманитарный институт</p>
        </div>

        <div class="col-md-5ths vacancies-partners__item">
          <img src="images/vacancies/vacancies-partners__item-img05.png" alt="Институт психологии
          и педагогики" class="vacancies-partners__item-img"/>
          <p>Институт психологии и педагогики</p>
        </div>
      </div>

      <div class="row vacancies-partners__row">
        <!-- second row -->
        <div class="col-md-5ths vacancies-partners__item">
          <img src="images/vacancies/vacancies-partners__item-img06.png" alt="Институт психологии
          и педагогики" class="vacancies-partners__item-img"/>
          <p>Институт психологии и педагогики</p>
        </div>

        <div class="col-md-5ths vacancies-partners__item">
          <img src="images/vacancies/vacancies-partners__item-img07.png" alt="Институт психологии
          и педагогики" class="vacancies-partners__item-img"/>
          <p>Московский городской педагогический университет</p>
        </div>

        <div class="col-md-5ths vacancies-partners__item">
          <img src="images/vacancies/vacancies-partners__item-img08.png" alt="Институт психологии
          и педагогики" class="vacancies-partners__item-img"/>
          <p>Московский городской психолого-педагогический университет</p>
        </div>

        <div class="col-md-5ths vacancies-partners__item">
          <img src="images/vacancies/vacancies-partners__item-img09.png" alt="Институт психологии
          и педагогики" class="vacancies-partners__item-img"/>
          <p>Московский государственный областной гуманитарный институт</p>
        </div>

        <div class="col-md-5ths vacancies-partners__item">
          <img src="images/vacancies/vacancies-partners__item-img10.png" alt="Институт психологии
          и педагогики" class="vacancies-partners__item-img"/>
          <p>Институт психологии и педагогики</p>
        </div>
      </div>

    </div>
  </section>



</main>
<!-- Page content end -->

{{> footer }}
