
.loop-stars(@index, @width) when(@index <= 5) {
	&_@{index} {
		width: (@width * @index);
	}
	.loop-stars(@index+1, @width);
}

.rate-info {

	&__total {
		margin-bottom: 15px;

		&__stars {
			float: left;
			margin-right: 10px;
		}

		&__label {
			float: left;
			font-family: 'IntroLight';
			font-size: 23px;
			line-height: 1;

			&__text {
				font-size: 13px;
			}
		}
	}

	&__more {
		margin-top: 15px;

		&:first-child {
			margin-top: 0;
		}

		&__stars {
			float: left;
		}

		&__label {
			margin-left: 68px;
			font-size: 12px;
			line-height: 1;
			color: #555;

			&__bold {
				font-family: 'pt_sansbold';
			}
		}
	}

	&__text {
		&:extend(.text-xs);
		margin-top: 8px;
		color: #555;

		&__bold {
			font-family: 'pt_sansbold';
		}
	}

	&__sep {
		border-top: 1px dashed #c1cbd6;
		margin: 17px 0;
	}

}