
.kids-concurses-archive {
	.table {
		margin-bottom: 0px;
		border: 0px none;
		thead {
			tr {
				th {
					border-top: 0px none;
					padding: 0px 0px 17px;
				}
			}
		}
		tbody {
			tr {
				td {
					vertical-align: top;
					border-width: 1px 0px 0px;
					padding: 20px 15px 20px 0px;
					&:last-child {
						padding-right: 0px;
					}
				}
				&:last-child {
					td {
						padding-bottom: 5px;
					}
				}
			}
		}
	}
	&__title {
		margin: 0px 0px;
		line-height: 1.35;
	}
	&__date {
		font-family: 'IntroRegular';
		font-size: 16px;
		color: @deeplight-gray;
		display: inline-block;
		padding: 7px 0px;
	}
	.plyphicon-graph {
		margin: 10px 0px 0px;
		width: 13px;
		height: 12px;
		.sprite(@icon-blocks-kids-concurses-archive-graph);
		display: inline-block;
		&_active {
			.sprite(@icon-blocks-kids-concurses-archive-graph-active);
			display: inline-block; 
		}
	}
}

