
.nav-page {

	&__item {
		margin-top: 15px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__link {
		&:extend(.link-blue all);
		border-bottom: 1px dashed @href-color;
		font-family: 'IntroRegular';
		font-size: 16px;
		line-height: 1.125;
		.glyphicon-arrow-up {
			display: block;
		}
		.glyphicon-arrow-down {
			display: none;
		}
		&.collapsed {
			.glyphicon-arrow-up {
				display: none;
			}
			.glyphicon-arrow-down {
				display: block;
			}
		}
	}

}