
.nav-info {
	
	margin: 0 -10px;

	table {
		table-layout: fixed;
		width: 100%;
	}

	td {
		&:extend(.h40);
		position: relative;
		vertical-align: top;
		padding-bottom: 13px;
		padding-left: 40px;
		padding-right: 10px;

		&:before {
			content: ' ';
			.sprite(@icon-blocks-nav-info-arrow-right);
			position: absolute;
			top: 0;
			left: 10px;
		}
	}

	tr {
		&:last-child {
			td {
				padding-bottom: 0;
			}
		}
	}

}