
.nav-bread {

	font-size: 0;
	margin-bottom: 20px;
	
	&__item {
		display: inline-block;

		&:before {
			content: ' ';
			.sprite(@icon-blocks-nav-bread-arrow-right);
			display: inline-block;
			vertical-align: middle;
			margin: 0 12px;
		}

		&:first-child {
			&:before {
				display: none;
			}
		}
	}

	&__link {
		&:extend(.text-xs);
		&:extend(.link-blue all);
		display: inline-block;
		vertical-align: middle;
	}

}