.kids-schedule-list {
	.panel-schedule {
		background: transparent;
		height: auto;
		padding: 0px 0px;
		border: 0px none;
		min-height: 255px;
		.media {
			overflow: visible;
			padding: 0px 0px;
			.media-body {
				background: #fff;
				min-height: 255px;
				padding: 20px 25px;
				position: relative;
				overflow: visible;
				.media-subheading {
					line-height: 1.1;
					margin: 0px 0px 12px;
					.h5 {
						font-family: 'pt_sansbold';
						font-size: 15px;
						color: @mid-gray;
						.glyphicon {
							position: relative;
							top: -1px;
						}
					}
				}
				.media-heading {
					/*min-height: 78px;*/
					margin-bottom: 12px;
					&,
					& a {
						font-size: 22px;
						line-height: 1.25;
						font-family: 'IntroRegular';
						letter-spacing: -1px;
					}
				}
				.stars {
					float: right;
					.stars {
						float: left;
					}
				}
			}
			.media-right {
				padding-left: 0px;
				position: relative;
			}
			
		}
	}

	.media-description {
		line-height: 1.36;
		margin: -5px 0px 22px;
	}
	.detail {
		.table {
			
			tr {
				td {
					padding: 6px 0 3px;
					background: url(../images/border-bg.png) repeat-x 0 0;
				}
				td:first-child {
					padding: 9px 0;
				}			
			}
			tr:first-child {
				td {
					background: transparent;
				}				
			}
			
		}
	}
	.table {
		margin: 0px 0px;
		border: 0 none;
		background: url(../images/border-bg.png) repeat-x 0 100%;
		th, td {
			padding: 0px 0px 6px;
			border: 0px none;
			font-family: 'pt_sansbold';
			font-size: 15px;
			color: @dk-blue;

		}
		tr {
			td {
				padding: 8px 0 9px;
				background: url(../images/border-bg.png) repeat-x 0 0;
			}
			td:first-child {
				padding: 9px 0;
			}
		}
		p,
		.text {
			font-size: 15px;
			.text-md();
			color: @base-color;
		}
		.date {
			color: @gray-text;
			font-family: 'IntroRegular';
			font-size: 13px;
			line-height: normal;

			.date-w-y {
				display: inline-block;
				vertical-align: top;
				max-width: 50px;
				margin-top: 1px;
			}
			.num {
				color: @dk-blue;	
				font-size: 30px;
			}
		}
		.lh-13 {
			line-height: 13px;
		}
		.rub {
			&-start {
				margin-right: 5px;
				letter-spacing: -0.04em;
			}
			&-end {
				margin-left: 5px;
				margin-right: 5px;
				letter-spacing: -0.04em;
			}
		}
		.btn {
			&.btn-xs {
				margin: 3px 7px 3px 0px;
			}
		}
	}
	.num {
		font-family: 'IntroRegular';
		font-size: 30px;
		margin-right: 5px;
	}
	.price {
		font-size: 30px;
		.ls-1 {
			letter-spacing: -2px;
		}
		&,
		&.old-price {
			.num {
				white-space: nowrap;
			}
		}
		&.old-price {
			line-height: 13px;
			font-size: 13px;
			display: block;
			margin-bottom: -1px;
			.num {
				font-size: 13px;
				font-family: 'pt_sansbold';
				text-decoration: line-through;
			}
		}
	}
}