
.props {
	float: right;
	padding: 22px 20px;
	width: 250px;

	&__item {
		position: relative;
		padding-left: 35px;
		margin-top: 5px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__icon-box {
		position: absolute;
		left: 0;
		top: 0;
		width: 25px;
		height: 26px;
		text-align: center;
		line-height: 26px;
	}

	&__icon {
		vertical-align: middle;
	}

	&__label {
		&:extend(.text-xs);
		color: #666;
		margin-bottom: 4px;
	}

	&__value {
		&:extend(.text-xs);
		margin-top: -3px;
		font-family: 'pt_sansbold';
		color: #333;
	}
}