
.article {

	&:extend(.text-md);
	color: #555;

/*	*:first-child {
		margin-top: 0;
	}

	*:last-child {
		margin-bottom: 0;
	}*/

	&_after-h1 {
		margin-top: -3px;
	}

	&_after-h1-close {
		margin-top: -13px;
	}
	
	&__intro {
		.text-xxl();
		margin-bottom: 17px !important;
		color: #333;
	}

	&__links {
		.text-lg();
	}

	img {
		&:extend(.img-responsive);
		margin: 25px 0;
	}
	
	.papers {
		&__item {
			img {
				width: 100%;
				margin: 0px 0px;
			}
		}
	}
	
	.media-left {
		img {
			max-width: inherit; 
		}
	}
	
	figure img:first-child {
		margin-top: 25px;
	}

	figcaption + img {
		margin-top: 15px;
	}

	img + figcaption {
		.text-xs();
		margin-top: -15px;
		color: #888;
	}

	h2 {
		.h28();
		margin: 15px 0;
		color: #333;
		font-family: 'Ptsans', sans-serif;
	
		& + h2 {
			margin-top: 0;
		}

		a {
			color: #333;
		}

	}

	h3 {
		.text-xxl();
		/*margin: 15px 0;*/
		color: #333;
		font-family: 'Ptsans', sans-serif;
		margin: 30px 0 10px;

		& + ol {
			margin-top: -8px;
		}
		a {
			color: #333;
		}		
	}
	h4 {
		/*
		.h40();
		margin: 15px 0;
		*/
		.h27();
		color: #333;
		font-family: 'Ptsans', sans-serif;
		margin: 30px 0 10px;
		a {
			color: #333;
		}		
	}
	h5 {
		color: #333;
		font-family: 'Ptsans', sans-serif;
		margin: 30px 0 10px;
		a {
			color: #333;
		}	
	}
	h6 {
		color: #333;
		font-family: 'Ptsans', sans-serif;
		margin: 30px 0 10px;
		a {
			color: #333;
		}		
	}

	table {
		margin: 15px 0;
	}

	ul,
	ol {
		margin: 15px 0;
		padding-left: 0;
		counter-reset: list;
	}

	ul li {
		position: relative;
		list-style: none;
		padding-left: 15px;
		list-style-type: disc;
		/*
		&:before {
			content: ' ';
			.sprite(@icon-blocks-article-disc);
			position: absolute;
			top: .5em;
			left: 0;
		}
		*/
	}
	
	ol li {
		list-style: none;
		padding-left: 1.1em;
		text-indent: -1.1em;
		&:before {
			counter-increment: list;
			content: counter(list) '. ' ;
			/*
			font-family: 'pt_sansbold';
			*/
		}
		ul {
			padding-left: 1.1em;
			margin-top: 0.2em;
			margin-bottom: 0.5em;
				li {
				padding-left: 0em;
				text-indent: 0em;
				&:before {
					counter-increment: none;
					content: '';
				}
			}
		}
	}

	ul {
		padding-left: 1.1em;
		&>ul {
			padding-left: 1.8em;
			&>li {
				list-style-type: circle;
			}
			&>ul {
				margin-top: 0.2em;
				margin-bottom: 0.5em;
				&>li {
					list-style-type: square;
				}
			}
		}
		li {
			padding-left: 0em;
			list-style-type: disc;
			&:before {
				background: transparent;
			}
			ul {
				padding-left: 1.8em;
				margin-top: 0.2em;
				margin-bottom: 0.5em;
					li {
					list-style-type: circle;
					padding-left: 0em;
					text-indent: 0em;
				}
				ul {
					li {
						list-style-type: square;
					}
				}
			}
		}
	}
	
	li {
		margin-top: 3px;
	}
	
	p {
		margin-top: 10px;
		margin-bottom: 0;
	}

	b,
	strong {
		font-family: 'pt_sansbold';
		color: #333;
	}

	hr {
		margin: 25px 0;
		border-color: #c1cbd6;
		border-width: 0 0 1px 0;
		border-style: dashed;
	}

	&_lg {
		.text-xl();

		p {
			margin-top: 17px;
		}
	}

	&_ul-list-style-line {
		ul {
			margin-bottom: 20px;
			li {
				list-style-type: none;
				position: relative;
				padding-left: 15px;
				&:before {
					content: "";
					position: absolute;
					top: 0.70em;
					left: 0px;
					width: 10px;
					height: 0px;
					border-width: 1px 0px 0px;
					border-style: solid;
				}
			}
		}
	}

}