
.book {

	padding: 30px 30px;
	background: #416fc4 url('../images/index-slider/left-bg.png');

	&_narrow {
		padding-left: 20px;
		padding-right: 20px;
	}

	&__label {
		&:extend(.text-md);
		line-height: 1.3;
		margin-bottom: 7px;
		color: #fff;
	}

	&__price {
		margin-right: -10px;
		font-family: 'IntroBlack';
		font-size: 38px;
		line-height: .8;
		color: #fff;
	}

	&__sep {
		border-top: 1px dashed #224466;
		border-bottom: 1px dashed #419cc2;
		border-bottom-color: rgba(255,255,255,.2);
		margin: 25px 0; 

		&_sm {
			margin: 20px 0;
		}	
	}

}