<div class="row row-specials">
	<div class="col-md-8">
		<a href="#">
			<img src="http://placehold.it/320x220" width="320" height="220" alt=""/>
		</a>
	</div>
	<div class="col-md-8">
		<a href="#">
			<img src="http://placehold.it/320x220" width="320" height="220" alt=""/>
		</a>
	</div>
	<div class="col-md-8">
		<a href="#">
			<img src="http://placehold.it/320x220" width="320" height="220" alt=""/>
		</a>
	</div>
</div>
