<article class="panel panel-schedule">
	{{![media]}}
	<div class="media">
		
		<div class="media-body">
			
			<div class="media-subheading clearfix">
				<div class="stars-md panel-schedule__stars">
					<div class="stars-md__active stars-md__active_4"></div>
				</div>
				<span class="h5">
					<i class="glyphicon glyphicon-on-map-light"></i>Россия, Московская область
				</span>
			</div>
			
			<h4 class="media-heading">
				<a href="camp.html">
					Усадьба сельского туризма «Пре Жеймянос»
				</a>
			</h4>
			
			<div class="row">
				<div class="col-xs-12">
					
					<div class="base-card__services">
						<span class="base-card__services-item">
							<i class="glyphicon glyphicon-kid-emerald"></i> От 0 лет
						</span><span class="base-card__services-item">
							<i class="glyphicon glyphicon-bassein"></i> Бассейн
						</span>
					</div>
				
				</div>
				<div class="col-xs-12">
			
					<div class="panel-schedule__icons pull-right">
						<i class="glyphicon glyphicon-grey-rzd panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Трансфер"></i>
						<i class="glyphicon glyphicon-grey-fly panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Перевозка"></i>						
						<i class="glyphicon glyphicon-grey-visa panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Виза"></i>
						<i class="glyphicon glyphicon-grey-book panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Программа"></i>
						<i class="glyphicon glyphicon-grey-apple panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Питание"></i>
					</div>
					
				</div>
			</div>
			
		</div>
		
		<div class="media-right">
			
			<a href="#">
				<img class="media-object" src="images/content/base-card/img-1.jpg" width="150" height="110" alt="" />
			</a>

		</div>
		
	</div>
	{{![/media]}}
	
	{{![media]}}
	<div class="media">
		
		<hr class="dotted-line m-t-20 m-b-15" />
		
		<h3 class="base-card__subtitle m-b-15">
			Одноместный номер
		</h3>
		
		<div class="row">
			<div class="col-xs-5">
				<span class="base-card__label">
					Размещение
				</span>
				<span class="base-card__data">
					2-х местное
				</span>
			</div>
			<div class="col-xs-10">
				<span class="base-card__label">
					Питание
				</span>
				<span class="base-card__data">
					Шведский стол
				</span>
			</div>
			<div class="col-xs-9">
			
				<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
					<span class="button__text">Бронировать</span>
				</a>			
			
				<span class="base-card__label">
					За 1 ночь
				</span>
				<span class="base-card__price">
					2 000 <span class="rub">c</span>
				</span>

			</div>
		</div>

		<div class="detail collapse" id="collapse-1">
			
			<hr class="dotted-line m-t-20 m-b-15" />
			
			<h3 class="base-card__subtitle m-b-15">
				Двухместный номер (основных-2, дополнительных-1)
			</h3>
			
			<div class="row">
				<div class="col-xs-5">
					<span class="base-card__label">
						Размещение
					</span>
					<span class="base-card__data">
						2-х местное
					</span>
				</div>
				<div class="col-xs-10">
					<span class="base-card__label">
						Питание
					</span>
					<span class="base-card__data">
						Шведский стол еще какой
					</span>
				</div>
				<div class="col-xs-9">
				
					<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
						<span class="button__text">Бронировать</span>
					</a>			
				
					<span class="base-card__label">
						За 1 ночь
					</span>
					<span class="base-card__price">
						5 000 <span class="rub">c</span>
					</span>

				</div>
			</div>
			
			<hr class="dotted-line m-t-20 m-b-15" />
			
			<h3 class="base-card__subtitle m-b-15">
				Люкс
			</h3>
			
			<div class="row">
				<div class="col-xs-5">
					<span class="base-card__label">
						Размещение
					</span>
					<span class="base-card__data">
						1-но местное
					</span>
				</div>
				<div class="col-xs-10">
					<span class="base-card__label">
						Питание
					</span>
					<span class="base-card__data">
						Очень вкусное питание
						<br />
						3-х разовое
					</span>
				</div>
				<div class="col-xs-9">
				
					<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
						<span class="button__text">Бронировать</span>
					</a>			
				
					<span class="base-card__label">
						За 1 ночь
					</span>
					<span class="base-card__price">
						8 000 <span class="rub">c</span>
					</span>

				</div>
			</div>
			
		</div>
		
		<hr class="dotted-line m-t-20 m-b-15" />
		
		<div class="row panel-schedule__footer">
			<div class="col-xs-8">
				<a href="#collapse-1" class="panel-schedule__more collapsed" data-toggle="collapse">
					<span>Другие варианты размещения</span>
					<span>Свернуть список</span>
				</a>
			</div>
			<div class="col-xs-16">
				&nbsp;							
			</div>
		</div>
	</div>
	{{![/media]}}
	
</article>
<article class="panel panel-schedule">
	{{![media]}}
	<div class="media">
		
		<div class="media-body">
			
			<div class="media-subheading clearfix">
				<div class="stars-md panel-schedule__stars">
					<div class="stars-md__active stars-md__active_4"></div>
				</div>
				<span class="h5">
					<i class="glyphicon glyphicon-on-map-light"></i>Россия, Московская область
				</span>
			</div>
			
			<h4 class="media-heading">
				<a href="camp.html">
					Санаторно-оздоровительный комплекс "Камчия"
				</a>
			</h4>
			
			<div class="row">
				<div class="col-xs-12">
					
					<div class="base-card__services">
						<span class="base-card__services-item">
							<i class="glyphicon glyphicon-kid-emerald"></i> От 3 лет
						</span><span class="base-card__services-item">
							<i class="glyphicon glyphicon-bassein"></i> Бассейн
						</span>
					</div>
					
				</div>
				<div class="col-xs-12">
					
					<div class="panel-schedule__icons pull-right">
						<i class="glyphicon glyphicon-grey-rzd panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Трансфер"></i>
						<i class="glyphicon glyphicon-grey-fly panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Перевозка"></i>						
						<i class="glyphicon glyphicon-grey-visa panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Виза"></i>
						<i class="glyphicon glyphicon-grey-book panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Программа"></i>
						<i class="glyphicon glyphicon-grey-apple panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Питание"></i>
					</div>
					
				</div>
			</div>
			
		</div>
		
		<div class="media-right">
			
			<a href="#">
				<img class="media-object" src="images/content/base-card/img-2.jpg" width="150" height="110" alt="" />
			</a>

		</div>
		
	</div>
	{{![/media]}}
	
	{{![media]}}
	<div class="media">
		
		<hr class="dotted-line m-t-20 m-b-15" />
		
		<h3 class="base-card__subtitle m-b-15">
			Одноместный номер
		</h3>
		
		<div class="row">
			<div class="col-xs-5">
				<span class="base-card__label">
					Размещение
				</span>
				<span class="base-card__data">
					2-х местное
				</span>
			</div>
			<div class="col-xs-10">
				<span class="base-card__label">
					Питание
				</span>
				<span class="base-card__data">
					Шведский стол
				</span>
			</div>
			<div class="col-xs-9">
			
				<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
					<span class="button__text">Бронировать</span>
				</a>			
			
				<span class="base-card__label">
					За 1 ночь
				</span>
				<span class="base-card__price">
					2 000 <span class="rub">c</span>
				</span>

			</div>
		</div>

		<div class="detail collapse in" id="collapse-2">
			
			<hr class="dotted-line m-t-20 m-b-15" />
			
			<h3 class="base-card__subtitle m-b-15">
				Двухместный номер (основных-2, дополнительных-1)
			</h3>
			
			<div class="row">
				<div class="col-xs-5">
					<span class="base-card__label">
						Размещение
					</span>
					<span class="base-card__data">
						2-х местное
					</span>
				</div>
				<div class="col-xs-10">
					<span class="base-card__label">
						Питание
					</span>
					<span class="base-card__data">
						Шведский стол еще какой
					</span>
				</div>
				<div class="col-xs-9">
				
					<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
						<span class="button__text">Бронировать</span>
					</a>			
				
					<span class="base-card__label">
						За 1 ночь
					</span>
					<span class="base-card__price">
						5 000 <span class="rub">c</span>
					</span>

				</div>
			</div>
			
			<hr class="dotted-line m-t-20 m-b-15" />
			
			<h3 class="base-card__subtitle m-b-15">
				Люкс
			</h3>
			
			<div class="row">
				<div class="col-xs-5">
					<span class="base-card__label">
						Размещение
					</span>
					<span class="base-card__data">
						1-но местное
					</span>
				</div>
				<div class="col-xs-10">
					<span class="base-card__label">
						Питание
					</span>
					<span class="base-card__data">
						Очень вкусное питание
						<br />
						3-х разовое
					</span>
				</div>
				<div class="col-xs-9">
				
					<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
						<span class="button__text">Бронировать</span>
					</a>			
				
					<span class="base-card__label">
						За 1 ночь
					</span>
					<span class="base-card__price">
						8 000 <span class="rub">c</span>
					</span>

				</div>
			</div>
			
		</div>
		
		<hr class="dotted-line m-t-20 m-b-15" />
		
		<div class="row panel-schedule__footer">
			<div class="col-xs-8">
				<a href="#collapse-2" class="panel-schedule__more" data-toggle="collapse" aria-expanded="true">
					<span>Другие варианты размещения</span>
					<span>Свернуть список</span>
				</a>
			</div>
			<div class="col-xs-16">
				&nbsp;							
			</div>
		</div>
	</div>
	{{![/media]}}
	
</article>