<article class="panel panel-schedule">
	{{![media]}}
	<div class="media">
		
		<div class="media-body">
			
			<div class="media-subheading clearfix">
				<div class="stars-md panel-schedule__stars">
					<div class="stars-md__active stars-md__active_4"></div>
				</div>
				<span class="h5">
					<i class="glyphicon glyphicon-on-map-light"></i>Россия, Московская область
				</span>
			</div>
			
			<h4 class="media-heading">
				<a href="camp.html">
					Тренинг-центр Альбины Манзуллиной
					Жемчужины Востока: Самарканд
					и Бухара
				</a>
			</h4>
			
		</div>
		
		<div class="media-right">
			
			<a href="#">
				<img class="media-object" src="images/content/campground/img-1.jpg" width="150" height="110" alt="" />
			</a>

		</div>
		
	</div>
	{{![/media]}}
	
	{{![media]}}
	<div class="media">
		
		<hr class="dotted-line m-t-20 m-b-15" />
		
		<div class="row">
			
			<div class="col-xs-3">
				
				<img class="media-object" src="images/content/campground/img-sm-1.jpg" width="60" height="60" alt="" />
				
			</div>
			<div class="col-xs-21">
				
				<div class="row">
					<div class="col-xs-18 p-l-0 p-r-0">
				
						<h3 class="base-card__subtitle">
							++<a href="">Приключения в снежном королевстве Версия 3.0</a>
						</h3>
						
					</div>
					<div class="col-xs-6">
						
						<div class="panel-schedule__icons pull-right">

							<i class="glyphicon glyphicon-grey-fly panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Перевозка"></i>
							<i class="glyphicon glyphicon-grey-bus panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Трансфер"></i>
							<i class="glyphicon glyphicon-grey-umbrella panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Страховка"></i>
							<i class="glyphicon glyphicon-grey-home panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Проживание"></i>
							<i class="glyphicon glyphicon-grey-photo panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Фотосъемка"></i>
							<i class="glyphicon glyphicon-grey-farma panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Лечение"></i>	
						</div>
						
					</div>
				</div>

				<div class="row">
					<div class="col-xs-9 p-l-0">
						<span class="base-card__label">
							Продолжительность
						</span>
						<span class="base-card__data">
							15 октября - 24 ноября
						</span>
					</div>
					<div class="col-xs-5">
						<span class="base-card__label">
							Смена
						</span>
						<span class="base-card__data">
							1
						</span>
					</div>
					<div class="col-xs-10">
					
						<div class="clearfix">
							<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
								<span class="button__text">Купить</span>
							</a>			
						
							<span class="base-card__label">
								Стоимость
							</span>
							<span class="base-card__price">
								35 000 <span class="rub">c</span>
							</span>
						</div>
						
					</div>
				</div>
				
			</div>

		</div>

		<div class="detail collapse" id="collapse-1">
			
			<hr class="dotted-line m-t-20 m-b-15" />

			<div class="row">
				<div class="col-xs-3">
					
					<img class="media-object" src="images/content/campground/img-sm-2.jpg" width="60" height="60" alt="" />
					
				</div>
				<div class="col-xs-21">
				
					<div class="row">
						<div class="col-xs-18 p-l-0 p-r-0">
							
							<h3 class="base-card__subtitle">
								<a hrref="">«Юный шеф-повар»</a>
							</h3>
							
						</div>
						<div class="col-xs-6">
								
							<div class="panel-schedule__icons pull-right">
								<i class="glyphicon glyphicon-grey-umbrella panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Страховка"></i>
								<i class="glyphicon glyphicon-grey-home panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Проживание"></i>
								<i class="glyphicon glyphicon-grey-photo panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Фотосъемка"></i>
								<i class="glyphicon glyphicon-grey-farma panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Лечение"></i>	
							</div>

						</div>
					</div>
				
					<div class="row">
						<div class="col-xs-9 p-l-0">
							<span class="base-card__label">
								Даты заезда
							</span>
							<span class="base-card__data">
								20 октября - 28 ноября
							</span>
						</div>
						<div class="col-xs-5">
							<span class="base-card__label">
								Смена
							</span>
							<span class="base-card__data">
								1
							</span>
						</div>
						<div class="col-xs-10">
						
							<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
								<span class="button__text">Купить</span>
							</a>			
						
							<span class="base-card__label">
								Стоимость
							</span>
							<span class="base-card__price">
								18 000 <span class="rub">c</span>
							</span>

						</div>
					</div>

				</div>
			</div>
			
		</div>
		
		<hr class="dotted-line m-t-20 m-b-15" />
		
		<div class="row panel-schedule__footer">
			<div class="col-xs-8">
				<a href="#collapse-1" class="panel-schedule__more collapsed" data-toggle="collapse">
					<span>Другие смены и тематики</span>
					<span>Свернуть список</span>
				</a>
			</div>
			<div class="col-xs-16">
				&nbsp;							
			</div>
		</div>
	</div>
	{{![/media]}}
	
</article>
<article class="panel panel-schedule">
	{{![media]}}
	<div class="media">
		
		<div class="media-body">
			
			<div class="media-subheading clearfix">
				<div class="stars-md panel-schedule__stars">
					<div class="stars-md__active stars-md__active_4"></div>
				</div>
				<span class="h5">
					<i class="glyphicon glyphicon-on-map-light"></i>Россия, Московская область
				</span>
			</div>
			
			<h4 class="media-heading">
				<a href="camp.html">
					Детский оздоровительный лагерь
					Учебно-реабилитационного
					молодежного центра «Алмаз»
				</a>
			</h4>
			
		</div>
		
		<div class="media-right">
			
			<a href="#">
				<img class="media-object" src="images/content/campground/img-2.jpg" width="150" height="110" alt="" />
			</a>

		</div>
		
	</div>
	{{![/media]}}
	
	{{![media]}}
	<div class="media">
		
		<hr class="dotted-line m-t-20 m-b-15" />

		<div class="row">
			<div class="col-xs-3">
				
				<img class="media-object" src="images/content/campground/img-sm-3.jpg" width="60" height="60" alt="" />
				
			</div>
			<div class="col-xs-21">
				
				<div class="row">
					<div class="col-xs-18 p-l-0 p-r-0">
						
						<h3 class="base-card__subtitle">
							<a href="">Приключения в снежном королевстве Версия 3.0</a>
						</h3>
						
					</div>
					<div class="col-xs-6">
							
						<div class="panel-schedule__icons pull-right">
							<i class="glyphicon glyphicon-grey-visa panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Виза"></i>
							<i class="glyphicon glyphicon-grey-book panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Программа"></i>
							<i class="glyphicon glyphicon-grey-apple panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Питание"></i>
							<i class="glyphicon glyphicon-grey-fly panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Перевозка"></i>
							<i class="glyphicon glyphicon-grey-rzd panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Трансфер"></i>
						</div>

					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-9 p-l-0">
						<span class="base-card__label">
							Продолжительность
						</span>
						<span class="base-card__data">
							15 октября - 24 ноября
						</span>
					</div>
					<div class="col-xs-5">
						<span class="base-card__label">
							Смена
						</span>
						<span class="base-card__data">
							1
						</span>
					</div>
					<div class="col-xs-10">
					
						<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
							<span class="button__text">Купить</span>
						</a>			
					
						<span class="base-card__label">
							Стоимость
						</span>
						<span class="base-card__price">
							35 000 <span class="rub">c</span>
						</span>

					</div>
				</div>
				
			</div>
		</div>

		<div class="detail collapse in" id="collapse-2">
		
			<hr class="dotted-line m-t-20 m-b-15" />

			<div class="row">
				<div class="col-xs-3">
					
					<img class="media-object" src="images/content/campground/img-sm-2.jpg" width="60" height="60" alt="" />
					
				</div>
				<div class="col-xs-21">
				
					<div class="row">
						<div class="col-xs-18 p-l-0 p-r-0">
							
							<h3 class="base-card__subtitle">
								<a href="">«Юный шеф-повар»</a>
							</h3>
							
						</div>
						<div class="col-xs-6">
								
							<div class="panel-schedule__icons pull-right">
								<i class="glyphicon glyphicon-grey-umbrella panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Страховка"></i>
								<i class="glyphicon glyphicon-grey-home panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Проживание"></i>
								<i class="glyphicon glyphicon-grey-photo panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Фотосъемка"></i>
								<i class="glyphicon glyphicon-grey-farma panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Лечение"></i>	
							</div>

						</div>
					</div>
				
					<div class="row">
						<div class="col-xs-9 p-l-0">
							<span class="base-card__label">
								Даты заезда
							</span>
							<span class="base-card__data">
								20 октября - 28 ноября
							</span>
						</div>
						<div class="col-xs-5">
							<span class="base-card__label">
								Смена
							</span>
							<span class="base-card__data">
								1
							</span>
						</div>
						<div class="col-xs-10">
						
							<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
								<span class="button__text">Купить</span>
							</a>			
						
							<span class="base-card__label">
								Стоимость
							</span>
							<span class="base-card__price">
								18 000 <span class="rub">c</span>
							</span>

						</div>
					</div>

				</div>
			</div>
			
		</div>
		
		<hr class="dotted-line m-t-20 m-b-15" />
		
		<div class="row panel-schedule__footer">
			<div class="col-xs-8">
				<a href="#collapse-2" class="panel-schedule__more" data-toggle="collapse">
					<span>Другие смены и тематики</span>
					<span>Свернуть список</span>
				</a>
			</div>
			<div class="col-xs-16">
				&nbsp;							
			</div>
		</div>
	</div>
	{{![/media]}}
	
</article>