<article class="panel panel-schedule">
	{{![media]}}
	<div class="media">
		
		<div class="media-body">
			
			<div class="media-subheading clearfix">
				<span class="h5">
					<i class="glyphicon glyphicon-link"></i>Москва, Владимир, Суздаль, Петропавловск-Камчатский
				</span>
			</div>
			
			<h4 class="media-heading m-t-15 m-b-10">
				<a href="camp.html">
					Название экскурсии, возможно достаточно длинное
				</a>
			</h4>
			
			<div class="row">
				<div class="col-xs-24">
				
					<p>
						Таких мест, как Свято-Алексеевская пустынь, на земном шаре почти нет. Недаром сюда съезжаются из самых разных частей планеты. Что заставило в большинстве своем здоровых, сильных людей покинуть родные города, бросить перспективный бизнес?
					</p>
					
				</div>
			</div>
			
		</div>
		
		<div class="media-right">
			
			<a href="#">
				<img class="media-object" src="images/content/excursion/img-1.jpg" width="150" height="150" alt="" />
			</a>

		</div>
		
	</div>
	
	<div class="media p-b-0">
		<div class="row">
			
			<div class="col-xs-12">

				<div class="base-card__services">
					<span class="base-card__services-item">
						<i class="glyphicon glyphicon-excursion-personal"></i> Индивидуальная
					</span><span class="base-card__services-item">
						<i class="glyphicon glyphicon-kid-emerald"></i> От 12-14 лет
					</span>
				</div>
			
			</div>
			<div class="col-xs-12">
						
				<div class="panel-schedule__icons width-auto">
					<i class="glyphicon glyphicon-grey-map panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Экскурсии"></i>
					<i class="glyphicon glyphicon-grey-visa panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Виза"></i>
					<i class="glyphicon glyphicon-grey-book panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Программа"></i>
					<i class="glyphicon glyphicon-grey-apple panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Питание"></i>
					<i class="glyphicon glyphicon-grey-fly panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Перевозка"></i>
					<i class="glyphicon glyphicon-grey-bus panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Трансфер"></i>
					<i class="glyphicon glyphicon-grey-umbrella panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Страховка"></i>
					<i class="glyphicon glyphicon-grey-home panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Проживание"></i>
					<i class="glyphicon glyphicon-grey-photo panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Фотосъемка"></i>
					<i class="glyphicon glyphicon-grey-farma panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Лечение"></i>	
				</div>

			</div>
			
		</div>
	</div>
	{{![/media]}}
	
	{{![media]}}
	<div class="media">
		
		<hr class="dotted-line m-t-20 m-b-15" />

		<div class="row">
			<div class="col-xs-12">
				<span class="base-card__label">
					Даты
				</span>
				<span class="base-card__data">
					24 ноября
				</span>
			</div>
			<div class="col-xs-12">
			
				<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
					<span class="button__text">Бронировать</span>
				</a>			
			
				<span class="base-card__label">
					Стоимость
				</span>
				<span class="base-card__price">
					17 000 &ndash; 20 000 <span class="rub">c</span>
				</span>

			</div>
		</div>
		
		<div class="detail collapse" id="collapse-1">
			
			<hr class="dotted-line m-t-20 m-b-15" />
			
			<div class="row">
				<div class="col-xs-12">
					<span class="base-card__label">
						Даты
					</span>
					<span class="base-card__data">
						24 ноября
					</span>
				</div>
				<div class="col-xs-12">
				
					<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
						<span class="button__text">Бронировать</span>
					</a>			
				
					<span class="base-card__label">
						Стоимость
					</span>
					<span class="base-card__price">
						17 000 &ndash; 20 000 <span class="rub">c</span>
					</span>

				</div>
			</div>

			<hr class="dotted-line m-t-20 m-b-15" />
			
			<div class="row">
				<div class="col-xs-12">
					<span class="base-card__label">
						Даты
					</span>
					<span class="base-card__data">
						24 ноября
					</span>
				</div>
				<div class="col-xs-12">
				
					<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
						<span class="button__text">Бронировать</span>
					</a>			
				
					<span class="base-card__label">
						Стоимость
					</span>
					<span class="base-card__price">
						17 000 &ndash; 20 000 <span class="rub">c</span>
					</span>

				</div>
			</div>
			
		</div>
		
		<hr class="dotted-line m-t-20 m-b-15" />
		
		<div class="row panel-schedule__footer">
			<div class="col-xs-8">
				<a href="#collapse-1" class="panel-schedule__more collapsed" data-toggle="collapse">
					<span>Другие даты</span>
					<span>Свернуть список</span>
				</a>
			</div>
			<div class="col-xs-16">
				&nbsp;							
			</div>
		</div>
	</div>
	{{![/media]}}
	
</article>
<article class="panel panel-schedule">
	{{![media]}}
	<div class="media">
		
		<div class="media-body">
			
			<div class="media-subheading clearfix">
				<span class="h5">
					<i class="glyphicon glyphicon-link"></i>Москва, Владимир, Суздаль, Петропавловск-Камчатский
				</span>
			</div>
			
			<h4 class="media-heading m-t-15 m-b-10">
				<a href="camp.html">
					Булгаковская Москва. Потустороннее и реальность
				</a>
			</h4>
			
			<div class="row">
				<div class="col-xs-24">
				
					<p>
						Этномир - это самый большой этнографический парк-музей России, по сути, являющийся интерактивной моделью реального мира. Здесь на площади 140 га представлены архитектура, национальная кухня, ремесла, традиции и быт практически всех стран.
					</p>
					
				</div>
			</div>
			
		</div>
		
		<div class="media-right">
			
			<a href="#">
				<img class="media-object" src="images/content/excursion/img-2.jpg" width="150" height="150" alt="" />
			</a>

		</div>
		
	</div>
	<div class="media p-b-0">
		<div class="row">
			
			<div class="col-xs-12">

				<div class="base-card__services">
					<span class="base-card__services-item">
						<i class="glyphicon glyphicon-excursion-group"></i> Групповая
					</span><span class="base-card__services-item">
						<i class="glyphicon glyphicon-kid-emerald"></i> От 12-14 лет
					</span>
				</div>
			
			</div>
			<div class="col-xs-12">
						
				<div class="panel-schedule__icons width-auto">
					<i class="glyphicon glyphicon-grey-map panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Экскурсии"></i>
					<i class="glyphicon glyphicon-grey-visa panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Виза"></i>
					<i class="glyphicon glyphicon-grey-book panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Программа"></i>
					<i class="glyphicon glyphicon-grey-apple panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Питание"></i>
					<i class="glyphicon glyphicon-grey-fly panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Перевозка"></i>
					<i class="glyphicon glyphicon-grey-bus panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Трансфер"></i>
					<i class="glyphicon glyphicon-grey-umbrella panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Страховка"></i>
					<i class="glyphicon glyphicon-grey-home panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Проживание"></i>
					<i class="glyphicon glyphicon-grey-photo panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Фотосъемка"></i>
					<i class="glyphicon glyphicon-grey-farma panel-schedule__icons__item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Лечение"></i>	
				</div>

			</div>
			
		</div>
	</div>
	{{![/media]}}
	
	{{![media]}}
	<div class="media">
		
		<hr class="dotted-line m-t-20 m-b-15" />

		<div class="row">
			<div class="col-xs-12">
				<span class="base-card__label">
					Даты
				</span>
				<span class="base-card__data">
					15 октября - 24 ноября
				</span>
			</div>
			<div class="col-xs-12">
			
				<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
					<span class="button__text">Бронировать</span>
				</a>			
			
				<span class="base-card__label">
					Стоимость
				</span>
				<span class="base-card__price">
					17 000 &ndash; 20 000 <span class="rub">c</span>
				</span>

			</div>
		</div>

		<div class="detail collapse" id="collapse-2">
			
			<hr class="dotted-line m-t-20 m-b-15" />

			<div class="row">
				<div class="col-xs-12">
					<span class="base-card__label">
						Даты
					</span>
					<span class="base-card__data">
						15 октября - 24 ноября
					</span>
				</div>
				<div class="col-xs-12">
				
					<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
						<span class="button__text">Бронировать</span>
					</a>			
				
					<span class="base-card__label">
						Стоимость
					</span>
					<span class="base-card__price">
						17 000 &ndash; 20 000 <span class="rub">c</span>
					</span>

				</div>
			</div>

			<hr class="dotted-line m-t-20 m-b-15" />

			<div class="row">
				<div class="col-xs-12">
					<span class="base-card__label">
						Даты
					</span>
					<span class="base-card__data">
						15 октября - 24 ноября
					</span>
				</div>
				<div class="col-xs-12">
				
					<a href="#" class="button button_orange button_orange--flat button--noshadow button_orange_size-2 pull-right">
						<span class="button__text">Бронировать</span>
					</a>			
				
					<span class="base-card__label">
						Стоимость
					</span>
					<span class="base-card__price">
						17 000 &ndash; 20 000 <span class="rub">c</span>
					</span>

				</div>
			</div>
		
		</div>
		
		<hr class="dotted-line m-t-20 m-b-15" />
		
		<div class="row panel-schedule__footer">
			<div class="col-xs-8">
				<a href="#collapse-2" class="panel-schedule__more collapsed" data-toggle="collapse">
					<span>Другие даты</span>
					<span>Свернуть список</span>
				</a>
			</div>
			<div class="col-xs-16">
				&nbsp;							
			</div>
		</div>
		
	</div>
	{{![/media]}}
	
</article>