<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5ths">
                <nav>
                    <ul class="nav">
                        <li>
                            <a href="#">Купить путевку</a>
                        </li>
                        <li>
                            <a href="#">Оформить визу</a>
                        </li>
                        <li>
                            <a href="#">Оформить страховку</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-5ths">
                <nav>
                    <ul class="nav">
                        <li>
                            <a href="#">Детям</a>
                        </li>
                        <li>
                            <a href="#">Вожатым</a>
                        </li>
                        <li>
                            <a href="#">Родителям</a>
                        </li>
                        <li>
                            <a href="#">Школам</a>
                        </li>
                        <li>
                            <a href="#">Партнерам</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-5ths">
                <nav>
                    <ul class="nav">
                        <li>
                            <a href="#">Программы</a>
                        </li>
                        <li>
                            <a href="#">Экскурсии</a>
                        </li>
                        <li>
                            <a href="#">Лагеря</a>
                        </li>
                        <li>
                            <a href="#">Городские лагеря</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-5ths">
                <nav>
                    <ul class="nav">
                        <li>
                            <a href="#">Текущие звезды</a>
                        </li>
                        <li>
                            <a href="#">Льготные путевки</a>
                        </li>
                        <li>
                            <a href="#">Спецпроекты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-5ths">
                <nav>
                    <ul class="nav">
                        <li>
                            <a href="#">Новости</a>
                        </li>
                        <li>
                            <a href="#">Задать вопрос</a>
                        </li>
                        <li>
                            <a href="#">О компании</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <!-- [col-md-12]-->
            <div class="col-md-24">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img src="images/footer/mosgortur-logo-footer.png" width="74" height="77" alt="" class="media-object footer__logo"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="row">
                            <div class="col-md-24 p-l-25">
                                <p class="copyright">© 2015&nbsp;
                                    <a href="#">
                                        <strong class="footer__name">Мосгортур</strong>
                                    </a> — туристическое агентство в Москве и области
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11 p-l-25">
                                <p class="address">121099, Москва, 2-й Смоленский пер., д. 12 ¼
                                    <br/>Тел.: 8 (499) 241-31-16, 8 (499) 241-16-14,
                                    <br/>Факс: 8 (499) 241-51-10, e-mail:
                                    <a href="mailto:info@mosgortur.ru">info@mosgortur.ru</a>
                                </p>
                            </div>
                            <div class="col-md-13">
                                <div class="row">
                                    <div class="col-md-2 padding-left-20 p-t-25">
                                        <a href="//www.liveinternet.ru/click" target="_blank">
                                            <img src="images/footer-link.gif" alt="" title="LiveInternet" border="0" width="22" height="22">
                                        </a>
                                    </div>                                    
                                    <div class="col-md-13 p-l-80 p-t-5">
                                        <span class="label">Мы в социальных сетях:</span>
                                        <div class="social">
                                            <a href="#" class="social__item facebook">
                                                <i></i>
                                            </a>
                                            <a href="#" class="social__item vkontakte">
                                                <i></i>
                                            </a>
                                            <a href="#" class="social__item twitter">
                                                <i></i>
                                            </a>
                                            <a href="#" class="social__item instagramm">
                                                <i></i>
                                            </a>
                                        </div>
                                    </div>
<!--                                <div class="col-md-8 padding-left-0">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img src="images/footer/mos-logo.png" width="37" height="43" alt="" class="media-object"/>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="gos">ПОРТАЛ
                                                    <br/>ГОСУДАРСТВЕННЫХ
                                                    <br/>УСЛУГ
                                                </a>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-md-8 p-l-5 p-t-5">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img src="images/footer/mos-logo.png" width="37" height="43" alt="" class="media-object"/>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="gos">ДЕПАРТАМЕНТ
                                                    <br/>КУЛЬТУРЫ
                                                    <br/>МОСКВЫ
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [/col-md-12]-->
        </div>
    </div>
</footer>