<!-- [Large modal popup]-->
<div id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" class="modal fade bs-modal-lg">
	<div class="modal-dialog modal-lg">
		<div class="modal-content"></div>
	</div>
</div>
<!-- [Large modal №2 popup]-->
<div id="largeModal2" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" class="modal fade bs-modal-lg">
	<div class="modal-dialog modal-lg">
		<div class="modal-content"></div>
	</div>
</div>
<!-- [Mid modal popup]-->
<div id="middleModal" tabindex="-1" role="dialog" aria-labelledby="middleModalLabel" aria-hidden="true" class="modal fade bs-modal-md">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>
<!-- [Mid modal №2 popup]-->
<div id="middleModal2" tabindex="-1" role="dialog" aria-labelledby="middleModalLabel" aria-hidden="true" class="modal fade bs-modal-md">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>
<!-- [Small modal popup]-->
<div id="smalleModal" tabindex="-1" role="dialog" aria-labelledby="smallModalLabel" aria-hidden="true" class="modal fade bs-modal-sm">
	<div class="modal-dialog modal-sm">
		<div class="modal-content"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<a id="logo" href="main.html">
			<img src="images/mosgortur-logo.png" width="154" height="80" alt=""/>
		</a>
	</div>
	<div class="col-md-19 padding-left-0">
		<div class="row">
			<div class="col-md-8">
				<span class="label">Горячая линия:</span>
				<span class="phone">+7 800 368-86-68</span>
			</div>
			<div class="col-md-5 p-l-0">
				<span class="label">Мы в социальных сетях:</span>
				<div class="social">
					<a href="#" class="facebook">
						<i></i>
					</a>
					<a href="#" class="vkontakte">
						<i></i>
					</a>
					<a href="#" class="twitter">
						<i></i>
					</a>
					<a href="#" class="instagramm">
						<i></i>
					</a>
				</div>
			</div>
			<div class="col-md-5">
				<a href="" class="header__medal"><img src="images/medal.png" alt=""></a>
				<a href="" class="header__medal header__medal-2"><img src="images/medal-2.png" alt=""></a>
			</div>
			<div class="col-md-4 p-l-0">
				<div class="auth">
					<div>
						<a data-target="#largeModal2" data-toggle="modal" href="modal-registrate.html">Регистрация</a>
					</div>
					<div>
						<a data-target="#largeModal" data-toggle="modal" href="modal-authorize.html">Войти</a>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="header__search">
					<button class="button button_blue-dark button_blue-dark_size-2 header__search-button">
						<i class="glyphicon glyphicon-search"></i>
					</button>
					<form class="header__search-form header__search-form-hide" action="search.html" method="get">
						<input type="text" class="form-control header__search-field" placeholder="Введите слово для поиска ..." name="q">						
					</form>
				</div>
			</div>
		</div>
		<div class="header__line"></div>
	</div>
</div>