<article class="panel panel-schedule">
	<div class="media">
		<div class="media-body">
			<div class="media-subheading clearfix">
				<div class="stars-md panel-schedule__stars">
					<div class="stars-md__active stars-md__active_4"></div>
				</div>
				<span class="h5">
					<i class="glyphicon glyphicon-on-map-light"></i>Россия, Московская область
				</span>
			</div>
			<h4 class="media-heading">
			<a href="camp.html">Тренинг-центр Альбины Манзуллиной Жемчужины Востока: Самарканд и Бухара</a>
			</h4>
			<table class="table">
				<colgroup>
					<col width="60%"/>
					<col width="24%"/>
					<col width="16%"/>
				</colgroup>
				<tr>
					<td>
						<span class="date">
							<span class="num num-bold">24</span>октября —
							<span class="num num-bold">01</span>декабря
						</span>
					</td>
					<td class="lh-13">
						<span class="price old-price">
							<span class="num orange">25 000 <span class="rub">a</span></span>
						</span>
						<span class="date">до 22 сентября</span>
					</td>
					<td class="text-right">
						<span class="price">
							<span class="num num-bold orange ls-1 m-r-0">20 000
								<span class="rub">a</span>
							</span>
						</span>
					</td>
				</tr>
			</table>

			<div class="detail collapse" id="collapse-1">
				<table class="table border-bottom">
					<colgroup>
						<col width="60%"/>
						<col width="24%"/>
						<col width="16%"/>
					</colgroup>
					<tr>
						<td>
							<span class="date">
								<span class="num num-bold">12</span>декабря —
								<span class="num num-bold">18</span>декабря
							</span>
						</td>
						<td class="lh-13">
							
						</td>
						<td class="text-right">
							<span class="price">
								<span class="num num-bold orange ls-1 m-r-0">18 000
									<span class="rub">a</span>
								</span>
							</span>
						</td>
					</tr>	
					<tr>
						<td>
							<span class="date">
								<span class="num num-bold">22</span> 
								<span class="date-w-y">2014 декабря</span> —
								<span class="num num-bold">27</span>
								<span class="date-w-y">2015 января</span>
							</span>
						</td>
						<td class="lh-13">
							<span class="price old-price">
								<span class="num orange">25 000 <span class="rub">a</span></span>
							</span>
							<span class="date">до 22 сентября</span>
						</td>
						<td class="text-right">
							<span class="price">
								<span class="num num-bold orange ls-1 m-r-0">22 500
									<span class="rub">a</span>
								</span>
							</span>
						</td>
					</tr>																			
				</table>
			</div>

			<div class="row panel-schedule__footer">
				<div class="col-xs-8">
					<a href="#collapse-1" class="panel-schedule__more collapsed" data-toggle="collapse">
						<span>Другие смены</span>
						<span>Скрыть список</span>
					</a>
				</div>
				<div class="col-xs-16">
					<div class="panel-schedule__icons">
						<i class="glyphicon glyphicon-orange-map panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Экскурсии"></i>
						<i class="glyphicon glyphicon-orange-visa panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Виза"></i>
						<i class="glyphicon glyphicon-orange-book panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Программа"></i>
						<i class="glyphicon glyphicon-orange-apple panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Питание"></i>
						<i class="glyphicon glyphicon-orange-fly panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Перевозка"></i>
						<i class="glyphicon glyphicon-orange-bus panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Трансфер"></i>
						<i class="glyphicon glyphicon-orange-umbrella panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Страховка"></i>
						<i class="glyphicon glyphicon-orange-home panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Проживание"></i>
						<i class="glyphicon glyphicon-orange-photo panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Фотосъемка"></i>
						<i class="glyphicon glyphicon-orange-farma panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Лечение"></i>	
					</div>							
				</div>
			</div>

		</div>
		<div class="media-right">

			<a href="#">
				<img src="images/content/tour-list/pic-1.jpg" width="255" height="255" alt="" class="media-object"/>
			</a>
			
			<a href="#" data-html="true" data-toggle="popover" data-placement="left" title="&lt;a class='popover-close' href='#'&gt;&lt;/a&gt;ЛОК или льготная оздоровительная кампания" data-content="&lt;p&gt;Лагерь эмоциональной грамотности Касталия проводит свои программы на самой комфортабельной базе в Ленинградской области. Основная задача педагогов научить ребят справлять с&lt;/p&gt;&lt;a class='readmore' href='#'&gt;Подробнее&lt;/a&gt;" class="panel-schedule__lok-2015 js-popover"></a>

		</div>
	</div>
</article>
<article class="panel panel-schedule">
	<div class="media">
		<div class="media-body">
			<div class="media-subheading clearfix">
				<div class="stars-md panel-schedule__stars">
					<div class="stars-md__active stars-md__active_4"></div>
				</div>
				<span class="h5">
					<i class="glyphicon glyphicon-on-map-light"></i>Россия, Московская область
				</span>
			</div>
			<h4 class="media-heading">
			<a href="camp.html">Детский оздоровительный лагерь Учебно-реабилитационного молодежного центра «Алмаз»</a>
			</h4>

			<table class="table">
				<colgroup>
					<col width="60%"/>
					<col width="24%"/>
					<col width="16%"/>
				</colgroup>
				<tr>
					<td>
						<span class="date">
							<span class="num num-bold">24</span>октября —
							<span class="num num-bold">01</span>декабря
						</span>
					</td>
					<td class="lh-13">
						<span class="price old-price">
							<span class="num orange">25 000 <span class="rub">a</span></span>
						</span>
						<span class="date">до 22 сентября</span>
					</td>
					<td class="text-right">
						<span class="price">
							<span class="num num-bold orange ls-1 m-r-0">20 000
								<span class="rub">a</span>
							</span>
						</span>
					</td>
				</tr>
			</table>

			<div class="detail collapse" id="collapse-2">
				<table class="table border-bottom">
					<colgroup>
						<col width="60%"/>
						<col width="24%"/>
						<col width="16%"/>
					</colgroup>
					<tr>
						<td>
							<span class="date">
								<span class="num num-bold">12</span>декабря —
								<span class="num num-bold">18</span>декабря
							</span>
						</td>
						<td class="lh-13">
							
						</td>
						<td class="text-right">
							<span class="price">
								<span class="num num-bold orange ls-1 m-r-0">18 000
									<span class="rub">a</span>
								</span>
							</span>
						</td>
					</tr>	
					<tr>
						<td>
							<span class="date">
								<span class="num num-bold">22</span> 
								<span class="date-w-y">2014 декабря</span> —
								<span class="num num-bold">27</span>
								<span class="date-w-y">2015 января</span>
							</span>
						</td>
						<td class="lh-13">
							<span class="price old-price">
								<span class="num orange">25 000 <span class="rub">a</span></span>
							</span>
							<span class="date">до 22 сентября</span>
						</td>
						<td class="text-right">
							<span class="price">
								<span class="num num-bold orange ls-1 m-r-0">22 500
									<span class="rub">a</span>
								</span>
							</span>
						</td>
					</tr>																			
				</table>
			</div>

			<div class="row panel-schedule__footer">
				<div class="col-xs-8">
					<a href="#collapse-2" class="panel-schedule__more collapsed" data-toggle="collapse">
						<span>Другие смены</span>
						<span>Скрыть список</span>
					</a>
				</div>
				<div class="col-xs-16">
					<div class="panel-schedule__icons">
						<i class="glyphicon glyphicon-orange-map panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Экскурсии"></i>
						<i class="glyphicon glyphicon-orange-visa panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Виза"></i>
						<i class="glyphicon glyphicon-orange-book panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Программа"></i>
						<i class="glyphicon glyphicon-orange-umbrella panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Страховка"></i>
						<i class="glyphicon glyphicon-orange-home panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Проживание"></i>	
					</div>							
				</div>
			</div>

		</div>
		<div class="media-right">
			
			<a href="#">
				<img src="images/content/tour-list/pic-2.jpg" width="255" height="255" alt="" class="media-object"/>
			</a>
			
			<a href="#" data-html="true" data-toggle="popover" data-placement="left" title="&lt;a class='popover-close' href='#'&gt;&lt;/a&gt;ЛОК или льготная оздоровительная кампания" data-content="&lt;p&gt;Лагерь эмоциональной грамотности Касталия проводит свои программы на самой комфортабельной базе в Ленинградской области. Основная задача педагогов научить ребят справлять с&lt;/p&gt;&lt;a class='readmore' href='#'&gt;Подробнее&lt;/a&gt;" class="panel-schedule__lok-2015 js-popover"></a>

		</div>
	</div>
</article>
<article class="panel panel-schedule">
	<div class="media">
		<div class="media-body">
			<div class="media-subheading clearfix">
				<div class="stars-md panel-schedule__stars">
					<div class="stars-md__active stars-md__active_4"></div>
				</div>
				<span class="h5">
					<i class="glyphicon glyphicon-on-map-light"></i>Россия, Московская область
				</span>
			</div>
			<h4 class="media-heading">
			<a href="camp.html">Санаторно-оздоровительный комплекс "Камчия"</a>
			</h4>
			<table class="table">
				<colgroup>
					<col width="60%"/>
					<col width="24%"/>
					<col width="16%"/>
				</colgroup>
				<tr>
					<td>
						<span class="date">
							<span class="num num-bold">24</span>октября —
							<span class="num num-bold">01</span>декабря
						</span>
					</td>
					<td class="lh-13">
						<span class="price old-price">
							<span class="num orange">25 000 <span class="rub">a</span></span>
						</span>
						<span class="date">до 22 сентября</span>
					</td>
					<td class="text-right">
						<span class="price">
							<span class="num num-bold orange ls-1 m-r-0">20 000
								<span class="rub">a</span>
							</span>
						</span>
					</td>
				</tr>
			</table>

			<div class="detail collapse" id="collapse-3">
				<table class="table border-bottom">
					<colgroup>
						<col width="60%"/>
						<col width="24%"/>
						<col width="16%"/>
					</colgroup>
					<tr>
						<td>
							<span class="date">
								<span class="num num-bold">12</span>декабря —
								<span class="num num-bold">18</span>декабря
							</span>
						</td>
						<td class="lh-13">
							
						</td>
						<td class="text-right">
							<span class="price">
								<span class="num num-bold orange ls-1 m-r-0">18 000
									<span class="rub">a</span>
								</span>
							</span>
						</td>
					</tr>	
					<tr>
						<td>
							<span class="date">
								<span class="num num-bold">22</span> 
								<span class="date-w-y">2014 декабря</span> —
								<span class="num num-bold">27</span>
								<span class="date-w-y">2015 января</span>
							</span>
						</td>
						<td class="lh-13">
							<span class="price old-price">
								<span class="num orange">25 000 <span class="rub">a</span></span>
							</span>
							<span class="date">до 22 сентября</span>
						</td>
						<td class="text-right">
							<span class="price">
								<span class="num num-bold orange ls-1 m-r-0">22 500
									<span class="rub">a</span>
								</span>
							</span>
						</td>
					</tr>																			
				</table>
			</div>

			<div class="row panel-schedule__footer">
				<div class="col-xs-8">
					<a href="#collapse-3" class="panel-schedule__more collapsed" data-toggle="collapse">
						<span>Другие смены</span>
						<span>Скрыть список</span>
					</a>
				</div>
				<div class="col-xs-16">
					<div class="panel-schedule__icons">
						<i class="glyphicon glyphicon-orange-map panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Экскурсии"></i>
						<i class="glyphicon glyphicon-orange-visa panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Виза"></i>
						<i class="glyphicon glyphicon-orange-umbrella panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Страховка"></i>
						<i class="glyphicon glyphicon-orange-home panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Проживание"></i>
						<i class="glyphicon glyphicon-orange-farma panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Лечение"></i>	
					</div>							
				</div>
			</div>
		
		</div>
		<div class="media-right">
			<a href="#">
				<img src="images/content/tour-list/pic-3.jpg" width="255" height="255" alt="" class="media-object"/>
			</a>
		</div>
	</div>
</article>
<article class="panel panel-schedule">
	<div class="media">
		<div class="media-body">
			<div class="media-subheading clearfix">
				<div class="stars-md panel-schedule__stars">
					<div class="stars-md__active stars-md__active_4"></div>
				</div>
				<span class="h5">
					<i class="glyphicon glyphicon-on-map-light"></i>Россия, Московская область
				</span>
			</div>
			<h4 class="media-heading">
			<a href="camp.html">Усадьба сельского туризма «Пре Жеймянос» Аренда базы отдыха «АТСИПУСК»</a>
			</h4>
			<table class="table">
				<colgroup>
					<col width="60%"/>
					<col width="24%"/>
					<col width="16%"/>
				</colgroup>
				<tr>
					<td>
						<span class="date">
							<span class="num num-bold">24</span>октября —
							<span class="num num-bold">01</span>декабря
						</span>
					</td>
					<td class="lh-13">
						<span class="price old-price">
							<span class="num orange">25 000 <span class="rub">a</span></span>
						</span>
						<span class="date">до 22 сентября</span>
					</td>
					<td class="text-right">
						<span class="price">
							<span class="num num-bold orange ls-1 m-r-0">20 000
								<span class="rub">a</span>
							</span>
						</span>
					</td>
				</tr>
			</table>

			<div class="detail collapse" id="collapse-4">
				<table class="table border-bottom">
					<colgroup>
						<col width="60%"/>
						<col width="24%"/>
						<col width="16%"/>
					</colgroup>
					<tr>
						<td>
							<span class="date">
								<span class="num num-bold">12</span>декабря —
								<span class="num num-bold">18</span>декабря
							</span>
						</td>
						<td class="lh-13">
							
						</td>
						<td class="text-right">
							<span class="price">
								<span class="num num-bold orange ls-1 m-r-0">18 000
									<span class="rub">a</span>
								</span>
							</span>
						</td>
					</tr>	
					<tr>
						<td>
							<span class="date">
								<span class="num num-bold">22</span> 
								<span class="date-w-y">2014 декабря</span> —
								<span class="num num-bold">27</span>
								<span class="date-w-y">2015 января</span>
							</span>
						</td>
						<td class="lh-13">
							<span class="price old-price">
								<span class="num orange">25 000 <span class="rub">a</span></span>
							</span>
							<span class="date">до 22 сентября</span>
						</td>
						<td class="text-right">
							<span class="price">
								<span class="num num-bold orange ls-1 m-r-0">22 500
									<span class="rub">a</span>
								</span>
							</span>
						</td>
					</tr>																			
				</table>
			</div>

			<div class="row panel-schedule__footer">
				<div class="col-xs-8">
					<a href="#collapse-4" class="panel-schedule__more collapsed" data-toggle="collapse">
						<span>Другие смены</span>
						<span>Скрыть список</span>
					</a>
				</div>
				<div class="col-xs-16">
					<div class="panel-schedule__icons">
						<i class="glyphicon glyphicon-orange-map panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Экскурсии"></i>
						<i class="glyphicon glyphicon-orange-visa panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Виза"></i>
						<i class="glyphicon glyphicon-orange-bus panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Трансфер"></i>
						<i class="glyphicon glyphicon-orange-umbrella panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Страховка"></i>
						<i class="glyphicon glyphicon-orange-home panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Проживание"></i>
						<i class="glyphicon glyphicon-orange-photo panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Фотосъемка"></i>
						<i class="glyphicon glyphicon-orange-farma panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Лечение"></i>	
					</div>							
				</div>
			</div>

		</div>
		<div class="media-right">
			<a href="#">
				<img src="images/content/tour-list/pic-5.jpg" width="255" height="255" alt="" class="media-object"/>
			</a>
		</div>
	</div>
</article>
<article class="panel panel-schedule">
	<div class="media">
		<div class="media-body">
			<div class="media-subheading clearfix">
				<div class="stars-md panel-schedule__stars">
					<div class="stars-md__active stars-md__active_4"></div>
				</div>
				<span class="h5">
					<i class="glyphicon glyphicon-on-map-light"></i>Россия, Московская область
				</span>
			</div>
			<h4 class="media-heading">
			<a href="camp.html">Детский оздоровительный лагерь "Радуга"</a>
			</h4>
			<table class="table">
				<colgroup>
					<col width="60%"/>
					<col width="24%"/>
					<col width="16%"/>
				</colgroup>
				<tr>
					<td>
						<span class="date">
							<span class="num num-bold">24</span>октября —
							<span class="num num-bold">01</span>декабря
						</span>
					</td>
					<td class="lh-13">
						<span class="price old-price">
							<span class="num orange">25 000 <span class="rub">a</span></span>
						</span>
						<span class="date">до 22 сентября</span>
					</td>
					<td class="text-right">
						<span class="price">
							<span class="num num-bold orange ls-1 m-r-0">20 000
								<span class="rub">a</span>
							</span>
						</span>
					</td>
				</tr>
			</table>

			<div class="detail collapse" id="collapse-5">
				<table class="table border-bottom">
					<colgroup>
						<col width="60%"/>
						<col width="24%"/>
						<col width="16%"/>
					</colgroup>
					<tr>
						<td>
							<span class="date">
								<span class="num num-bold">12</span>декабря —
								<span class="num num-bold">18</span>декабря
							</span>
						</td>
						<td class="lh-13">
							
						</td>
						<td class="text-right">
							<span class="price">
								<span class="num num-bold orange ls-1 m-r-0">18 000
									<span class="rub">a</span>
								</span>
							</span>
						</td>
					</tr>	
					<tr>
						<td>
							<span class="date">
								<span class="num num-bold">22</span> 
								<span class="date-w-y">2014 декабря</span> —
								<span class="num num-bold">27</span>
								<span class="date-w-y">2015 января</span>
							</span>
						</td>
						<td class="lh-13">
							<span class="price old-price">
								<span class="num orange">25 000 <span class="rub">a</span></span>
							</span>
							<span class="date">до 22 сентября</span>
						</td>
						<td class="text-right">
							<span class="price">
								<span class="num num-bold orange ls-1 m-r-0">22 500
									<span class="rub">a</span>
								</span>
							</span>
						</td>
					</tr>																			
				</table>
			</div>

			<div class="row panel-schedule__footer">
				<div class="col-xs-8">
					<a href="#collapse-5" class="panel-schedule__more collapsed" data-toggle="collapse">
						<span>Другие смены</span>
						<span>Скрыть список</span>
					</a>
				</div>
				<div class="col-xs-16">
					<div class="panel-schedule__icons">
						<i class="glyphicon glyphicon-orange-umbrella panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Страховка"></i>
						<i class="glyphicon glyphicon-orange-home panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Проживание"></i>
						<i class="glyphicon glyphicon-orange-photo panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Фотосъемка"></i>
						<i class="glyphicon glyphicon-orange-farma panel-schedule__icons__item" data-toggle="tooltip" data-placement="bottom" title="Лечение"></i>	
					</div>							
				</div>
			</div>
				
		</div>
		<div class="media-right">
			<a href="#">
				<img src="images/content/tour-list/pic-6.jpg" width="255" height="255" alt="" class="media-object"/>
			</a>
		</div>
	</div>
</article>