
<nav class="nav-tour" id="nav-tour">
    <div class="row">
        <div class="nav-tour__in">
            <div class="col-xs-4 nav-tour__item">
                <a href="hot-tours.html" class="nav-tour__link {{#is basename "hot-tours"}}active{{/is}}">
                    <img src="images/illustrations/menu-icons/gorjashhie-tury.png" width="114" height="103" alt=""/>
                    <span class="nav-tour__text">
                        Горящие туры
                    </span>
                </a>
            </div>
            <div class="col-xs-4 nav-tour__item">
                <a href="kidslist.html" class="nav-tour__link {{#is basename "kidslist"}}active{{/is}}">    
                    <img src="images/illustrations/menu-icons/detskij-otdyh.png" width="114" height="103" alt=""/>
                    <span class="nav-tour__text">
                        Детский отдых
                    </span>
                </a>
            </div>
            <div class="col-xs-4 nav-tour__item">
                <a href="family-rest.html" class="nav-tour__link {{#is basename "family-rest"}}active{{/is}}">
                    <img src="images/illustrations/menu-icons/semejnyj-otdyh.png" width="114" height="103" alt=""/>
                    <span class="nav-tour__text">
                        Семейный отдых
                    </span>
                </a>
            </div>
            <div class="col-xs-4 nav-tour__item">
                <a href="beach-rest.html" class="nav-tour__link {{#is basename "beach-rest"}}active{{/is}}">
                    <img src="images/illustrations/menu-icons/pljazhnyj-otdyh.png" width="114" height="103" alt=""/>
                    <span class="nav-tour__text">
                        Пляжный отдых
                    </span>
                </a>
            </div>
            <div class="col-xs-4 nav-tour__item">
                <a href="excursions.html" class="nav-tour__link {{#is basename "excursions"}}active{{/is}}">
                    <img src="images/illustrations/menu-icons/jekskursii.png" width="114" height="103" alt=""/>
                    <span class="nav-tour__text">
                        Экскурсии
                    </span>
                </a>
            </div>
            <div class="col-xs-4 nav-tour__item">
                <a href="inclusive-rest.html" class="nav-tour__link {{#is basename "inclusive-rest"}}active{{/is}}">
                    <img src="images/illustrations/menu-icons/inskljuzivnyj-otdyh.png" width="114" height="103" alt=""/>
                    <span class="nav-tour__text">
                        Инклюзивный отдых
                    </span>
                </a>
            </div>
            <div class="col-xs-4 nav-tour__item">
                <a href="#" class="nav-tour__link">
                    <img src="images/illustrations/menu-icons/insurance.png" width="109" height="103" alt=""/>
                    <span class="nav-tour__text">
                        Оформить страховку
                    </span>
                </a>
            </div>
            <div class="col-xs-4 nav-tour__item">
                <a href="#" class="nav-tour__link">
                    <img src="images/illustrations/menu-icons/visa.png" width="109" height="103" alt=""/>
                    <span class="nav-tour__text">
                        Оформить визу
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>
