<nav class="nav-right">

	<!-- [Важен порядок меню, оставляем так] -->
	<a class="nav-right__item {{#is page.title 'Мосгортур' }}nav-right__item_active{{/is}}" href="about.html">Миссия</a>
	<a class="nav-right__item {{#is page.title 'Документы' }}nav-right__item_active{{/is}}" href="about-docs.html">Документы</a>
	<a class="nav-right__item {{#is page.title 'Руководство' }}nav-right__item_active{{/is}}" href="about-directing.html">Руководство</a>
	<a class="nav-right__item {{#is page.title 'СМИ о «Мосгортур»' }}nav-right__item_active{{/is}}" href="about-smi.html">СМИ о «Мосгортур»</a>
	<a class="nav-right__item {{#is page.title 'Пресс-релизы' }}nav-right__item_active{{/is}}" href="about-press-release.html">Пресс-релизы</a>
	<a class="nav-right__item {{#is page.title 'Пресс-кит' }}nav-right__item_active{{/is}}" href="about-press-kit.html">Пресс-кит</a>
	<a class="nav-right__item {{#is page.title 'Контакты' }}nav-right__item_active{{/is}}" href="about-contacts.html">Контакты</a>
	<a class="nav-right__item {{#is page.title 'Оформить подписку' }}nav-right__item_active{{/is}}" href="about-subscribe-form.html">Оформить подписку</a>
	<a class="nav-right__item {{#is page.title 'Задать вопрос' }}nav-right__item_active{{/is}}" href="about-subscribe-form.html">Задать вопрос</a>
	<a class="nav-right__item {{#is page.title 'Мосгортур в цифрах' }}nav-right__item_active{{/is}}" href="about-numbers.html">Мосгортур в цифрах</a>
	<a class="nav-right__item {{#is page.title 'Вакансии' }}nav-right__item_active{{/is}}" href="about-job.html">Вакансии</a>
	<a class="nav-right__item {{#is page.title 'Отзывы' }}nav-right__item_active{{/is}}" href="about-testimonials.html">Отзывы</a>
	
	<!--
	{{#withSort pages "data.title"}}
		{{#is data.section "nav-right-main"}}
			{{#is data.title ../../page.title }}
				<a class="nav-right__item nav-right__item_active" href="{{this.filename}}">
					{{ data.title }}
				</a>
			{{else}}
				<a class="nav-right__item" href="{{this.filename}}">
					{{ data.title }}
				</a>
			{{/is}}
		{{/is}}
	{{/withSort}}
	
	
	<a href="#nav-right-1" class="nav-right__item nav-right__item_has-sub collapsed" data-toggle="collapse">
		Отзывы
	</a>

	<div class="nav-right__sub collapse" id="nav-right-1">
		{{#repeat 5}}
		<a href="#" class="nav-right__item">
			Отзывы #{{@index}}
		</a>
		{{/repeat}}
	</div>
	-->
</nav>