<div class="fixed-pane" id="nav-fixed">
    <div class="inner">
        <a href="#" class="open-leftmenu js-nav-fixed-ctrl">
            <img src="images/menu-close.png" width="10" height="10" alt="" class="open-leftmenu__icon"/> Закрыть
        </a>
        <!--
        <form class="form-small-search" action="search.html" method="get">
            <input class="form-control form-small-search__input" type="text" placeholder="Поиск..." /><button class="form-small-search__button"><i class="glyphicon glyphicon-white-search"></i></button>
        </form>
		-->
		<div class="custom-scrollbar">
			
			<nav role="navigation">
				<ul class="nav main-nav">
					<li class="active">
						<a href="programs.html">Программы</a>
					</li>
					<li>
						<a href="excursions.html">Экскурсии</a>
					</li>
					<li>
						<a href="camp.html">Лагеря</a>
					</li>
					<li>
						<a href="city-camps1.html">Городские лагеря</a>
					</li>
					<li>
						<a href="parents-arrivals.html">Текущие заезды</a>
					</li>
					<li>
						<a href="subsidized-vouchers.html">Льготные путевки</a>
					</li>
				</ul>
			</nav>
			
			<nav role="navigation">
				<ul class="nav sub-nav">
					<li>
						<a href="#" class="h6">Спецпроекты</a>
					</li>
					<li class="delimiter"></li>
					<li>
						<a href="news.html">Новости</a>
					</li>
					<li>
						<a href="parents-faq.html">Задать вопрос</a>
					</li>
					<li>
						<a href="about.html">О компании</a>
					</li>
					<li>
						<a href="about-contacts.html">Контакты</a>
					</li>
				</ul>
			</nav>
		
		</div>
    </div>
</div>