

<div class="navbar">
    <div class="media">
        <div class="media-left">
            <a href="#" class="open-leftmenu js-nav-fixed-ctrl">
                <img src="images/open-menu.png" width="15" height="13" alt="" class="media-object"/>
            </a>
        </div>
        <div class="media-body">
            <nav>
                <ul class="nav nav-string">
                    <li role="presentation" class="item-1 dd-item dropdown">
                        <a data-toggle="dropdown" href="tour.html" role="button" aria-expanded="false" class="dropdown-toggle {{#is page.maintitle 'Купить тур' }}active{{/is}}">Купить тур
                            <i class="glyphicon glyphicon-arrow-down"></i>
                        </a>
                        <ul role="menu" class="dropdown-menu">
                            <li class="title">
                                <a href="tour.html"><strong>Купить тур</strong></a>
                            </li>
                            <li>
                                <a href="news-visa.html" class="nav-main__subitem">Оформить визу</a>
                            </li>
                            <li>
                                <a href="insurance.html" class="nav-main__subitem">Оформить страховку</a>
                            </li>
                            <li>
                                <a href="#" class="nav-main__subitem">Специальные предложения для групп</a>
                            </li>
                        </ul>
                    </li>
                    <li class="delimiter">|</li>
                    <li class="item-2">
                        <a href="kids.html" class="{{#is page.maintitle 'Детям' }}active{{/is}}">Детям</a>
                    </li>
                    <li class="delimiter">|</li>
                    <li class="item-3">
                        <a href="parents.html" class="{{#is page.maintitle 'Родителям' }}active{{/is}}">Родителям</a>
                    </li>
                    <li class="delimiter">|</li>
                    <li role="presentation" class="item-4 dd-item dropdown">
                        <a data-toggle="dropdown" href="scout.html" role="button" aria-expanded="false" class="dropdown-toggle {{#is page.maintitle 'Вожатым' }}active{{/is}}">Вожатым
                            <i class="glyphicon glyphicon-arrow-down"></i>
                        </a>
                        <ul role="menu" class="dropdown-menu">
                            <li class="title">
                                <a href="scout.html"><strong>Вожатым</strong></a>
                            </li>
                            <li>
                                <a href="scout-school.html" class="nav-main__subitem active">Школа вожатых</a>
                            </li>
                            <li>
                                <a href="scout-club.html" class="nav-main__subitem">Движение "Московский вожатый"</a>
                            </li>
                            <li>
                                <a href="scout-knowledges.html" class="nav-main__subitem">База знаний</a>
                            </li>
                            <li>
                                <a href="scout-docs.html" class="nav-main__subitem">Закон</a>
                            </li>
                            <li>
                                <a href="scout-events.html" class="nav-main__subitem">События</a>
                            </li>
                            <li>
                                <a href="scout-list.html" class="nav-main__subitem">Лучшие вожатые</a>
                            </li>
                            <li>
                                <a href="scout-job.html" class="nav-main__subitem">Вакансии</a>
                            </li>
                        </ul>
                    </li>
                    <li class="delimiter">|</li>
                    <li class="item-5">
                        <a href="schools.html" class="{{#is page.maintitle 'Школам' }}active{{/is}}">Школам</a>
                    </li>
                    <li class="delimiter">|</li>
                    <li class="item-6">
                        <a href="partners.html" class="{{#is page.maintitle 'Партнерам' }}active{{/is}}">Партнерам</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


