<nav class="nav-right">

	{{#withSort pages "data.title"}}
		{{#is data.section "nav-right-scout"}}
			{{#is data.title ../../page.title }}
				<a class="nav-right__item nav-right__item_active" href="{{this.filename}}">
					{{ data.title }}
				</a>
			{{else}}
				<a class="nav-right__item" href="{{this.filename}}">
					{{ data.title }}
				</a>
			{{/is}}
		{{/is}}
	{{/withSort}}

</nav>