<div class="num-special">
    <img src="images/mosgortur-special/num-bg.png" width="1000" height="110" alt=""/>
    <a href="#" class="num-special__text">
        <span class="num-special__h1">Мосгортур
            <br/>в цифрах
        </span><span class="num-special__numbers">
            <span class="num-special__numbers__num">8</span><span class="num-special__numbers__num">1</span><span class="num-special__numbers__num">0</span><span class="num-special__numbers__num">3</span><span class="num-special__numbers__num">3</span>
        </span><span class="num-special__h6">детей отдохнули
            <br/>с нами в 2014 году
        </span>
    </a>
</div>