<div class="cell panel-reviews">
	<div class="cell__in">
		<div class="cell__header">
			<h2 class="cell__h1">
				Отзывы родителей
			</h2>
			<a class="cell__more-t" href="#">
				Посмотреть
				<br/>
				всех
			</a>
		</div>
		
		<div class="row panel-reviews__row">
			{{#repeat 3}}
			<div class="col-md-8 panel-reviews__col">
				<article class="panel-reviews__item">
					<a href="#" class="panel-reviews__image-box">
						<img src="images/content/parent-reviews/review-{{@index}}.jpg" width="200" height="120" alt="" class="panel-reviews__image"/>
					</a>
					<a href="#" class="panel-reviews__h5">
						«Большое приключение» в Карелии
					</a>
					<p>
						Дружная команда организаторов!
						Все для детей! Индивидуальный подход к каждому с одной стороны, и способность объединять всех детей  с одной стороны,
						и способность всех детей вместе в дружный коллектив! Спасибо всем...
					</p>
					<footer>
						<span class="panel-reviews__author">Аристова Элеонора Константиновна</span>
						<span class="panel-reviews__data">02.01.2015</span>
					</footer>
				</article>
			</div>
			{{/repeat}}
		</div>

	</div>
</div>