<form class="subscription-form" js-SubscriptionForm data-timing="5000" action="example-error.json" id="subscription-form">
  <div class="subscription-form__header" js-SubscriptionForm__button>
    <div class="subscription-form__title">Ваша скидка на путевку</div>
    <div class="subscription-form__button">
      <span class="subscription-form__icon subscription-form__icon--window"></span>
      <span class="subscription-form__icon subscription-form__icon--close"></span>
    </div>
    <div class="subscription-form__decor"></div>
  </div>
  <div class="subscription-form__inner">
    <div class="subscription-form__desc">
      Подпишитесь на&nbsp;новости &laquo;Мосгортура&raquo; <br>и&nbsp;получите скидку&nbsp;5% на&nbsp;путевку!
    </div>
    <div class="subscription-form__fields">
      <input class="form-control subscription-form__field" type="text" placeholder="Ваше Имя..." />
      <input class="form-control subscription-form__field" type="text" placeholder="Электронная почта ..." />
    </div>
  </div>
  <div class="subscription-form__footer">
    <button class="button button_blue-dark button_blue-dark_size-1 subscription-form__submit">Получить скидку</button>
  </div>
</form>