<div class="tabpanel widget">

    <ul role="tablist" class="nav nav-tabs margin-top-0">
        <li role="presentation" class="active">
            <a href="#vkontakte" aria-controls="home" role="tab" data-toggle="tab">
                <img src="images/content/social-block/vkontakte.png" width="96" height="24" alt=""/>
            </a>
        </li>
        <li role="presentation">
            <a href="#facebook" aria-controls="profile" role="tab" data-toggle="tab">
                <img src="images/content/social-block/facebook.png" width="96" height="24" alt=""/>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="vkontakte" role="tabpanel" class="tab-pane active">
            <div id="vk_groups"></div>
        </div>
        <div id="facebook" role="tabpanel" class="tab-pane">
            <div class="widget__line widget__line_facebook"></div>
            <div class="fb-page" 
                data-href="https://www.facebook.com/mosgortur"
                data-height="231" 
                data-width="286" 
                data-hide-cover="false" 
                data-show-facepile="true" 
                data-show-posts="false">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/mosgortur"><a href="https://www.facebook.com/mosgortur">Facebook</a></blockquote>
                </div>
            </div>
        </div>
    </div>

</div>