.nav-iconic {

	&__item {
		margin-top: 25px;

		&:nth-child(-n+2) {
			margin-top: 0;
		}

		&:nth-child(2n+1) {
			clear: left;
		}
	}

	&__icon {
		float: left;
	}

	&__desc {
		margin-left: 130px;
		padding-top: 10px;
	}

	&__link {
		&:extend(.link-orange all);
		&:extend(.h30);
		text-transform: uppercase;
		&__quoted {
			margin-left: -.35em;
		}
	}

	&__text {
		&:extend(.text-md);
		margin-top: 3px;
		color: #555;
	}
}