p.i-data-diapazon,
.i-data-diapazon {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	line-height: 1.1;
	margin-bottom: 11px;
	&.i-data-diapazon_white {
		color: #fff;
	}
	&.i-data-diapazon_gray {
		color: @mid-gray;
		.i-data-diapazon__day {
			color: #333;
		}
	}
	&__day {
		font-size: 24px;
		margin-right: 5px;
	}
	&__year {
		margin-left: 5px;
	}
	&__delim {
		margin-left: 5px;
		margin-right: 5px;
	}
}