div.panel-events,
.panel-events {
	&__hidecontent {
		display: none;
	}
	&__readmore {
		font-size: 15px;
		display: block;
		margin: -8px 0px 0px; 
		line-height: 1.0;
	}
	&__shadow-top {
		width: 100%;
		height: 0px;
		box-shadow: 0px -25px 35px 20px rgba(255,255,255,1.0);
		position: relative;
		bottom: 5px;
		z-index: 1000;
	}
	.panel-heading {
		padding: 0px 0px 11px;
		.panel-title {
			padding: 0px 0px 10px;
		}
	}
	h6 {
		font-family: 'IntroRegular';
		line-height: 1.25;
		margin-bottom: 24px;
	}
	.img {
		margin-bottom: 18px;
		position: relative;
		&,
		& img {
			display: block;
		}
		& img {
			max-width: 100%;
		}
	}
	.dotted-line {
		margin: 20px 0px 30px;
	}
	.media {
		margin-top: 30px;
		&:first-child {
			margin-top: 0px;
		}
		.media-left {
			padding-right: 20px;
			a {
				&,
				& img {
					display: block;
				}
			}
		}
		.media-body {
			.sub-title {

				.date {
					color: @light-gray;
					font-size: 13px;
					display: block;
					line-height: 1.0;
					margin-bottom: 10px;
				}
			}
			.media-heading {
				font-size: 18px;
			}
		}
	}
}