
.edit {
	padding: 25px 20px;
	background: #edf0f3;
	margin-top: 3px;

	&-light {
		background: #f5f5f5;
	}
	&-bg-light {
		background-color: #f6f6f6;
	}

	&_sm {
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 10px;
	}

	&_time {
		background: #fff6e2;
	}
	&_done {
		background: #f7f7f7;
	}

	&.active {
		background: #e1ecf0;
	}

	&:first-child {
		margin-top: 0;
	}

	&__in {
		position: relative;
	}
	&__desc {
		padding-right: (@grid-gutter-width*2);
		padding-left: 0;
	}

	&__image-box {
		padding-right: 0;
		padding-left: 0;
	}

	&__date {
		&:extend(.text-md);
		display: block;
		color: #555;

		&_light {
			.text-sm();
			color: #777;
		}
	}

	&__names {
		&:extend(.text-sm);
		position: relative;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #777;
	}

	&__h1 {
		&:extend(.h27);
		position: relative;
		margin-bottom: 15px;

		&:first-child {
			margin-top: -5px;
		}

		&_read {
			opacity: .5;
		}

		&_in-article {
			.h28();
		}
		
		.icheckbox,
		input[type='checkbox'] {
			margin: 0;
			position: absolute;
			top: 0.15em;
			left: -25px;
		}
	}

	&__text {
		margin-top: 10px;
	}

	&__ctrl-b {
		margin-top: 20px;
	}

	&__form {
		margin-top: 23px;
	}

	&__pic {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		overflow: hidden;
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;

		&_img {
			display: block;
			width: 100%;
		}
	}
	&__info {
		display: inline-block;
		vertical-align: middle;
	}
	&__action {
		position: absolute;
		right: 0;
		top: 0;

		&_item {
			display: block;
			&:hover {
				.i-icon_done {
					background-position: -40px -788px;
				}
				.i-icon_edit {
					background-position: -40px -829px;
				}
			}
		}
		&_info {
			color: #555555;

			&_button {
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
			}
			&_text {
				display: inline-block;
				vertical-align: middle;				
			}
		}
	}
	&__hr {
		background: url(../images/border-bg-dark.png) repeat-x 0 0 transparent;
		height: 1px;
		border: 0 none;
		margin: 17px 0 12px -20px;
		width: 100%;
		padding: 0 20px;
		box-sizing: initial;
	}
	&__list {
		padding: 0 10px;
		margin-left: -10px;
		&__head {
			padding: 0 10px;
			margin-left: -10px;			
		}
		&:nth-child(even) {
			background: #f7f7f7;
			padding: 5px 10px;
			margin-top: 4px;	
		}
		&__nobr {
			white-space: nowrap;
			overflow: hidden;
			display: block;
		}
	}
	&__icon {
		position: absolute;
		left: 60px;
		top: 8px;
	}
	&__steps {
		background: #f7f7f7;
		padding: 10px;
		margin-left: -10px;
		width: 100%;
		box-sizing: initial;
		margin-top: 10px;
		overflow: hidden;		
	}
	&__steps-wrap {
		position: relative;		

		&:last-child {
			margin-bottom: -15px;
		}
	}	
	&__article {
		&__h5 {
			margin-bottom: 10px;
		}
	}
}
.i-icon {
  background: url(../images/icons.png) no-repeat 0 0 transparent;
  display: inline-block;

  &_redirect {
  	width: 13px;
  	height: 8px;
  	background-position: 0 -1512px;
  }

  &_done {
    background-position: 0 -788px;
    width: 34px;
    height: 30px;
  }
  &_edit {
    background-position: 0 -829px;
    width: 30px;
    height: 33px;
	margin-right: 2px;

	&-min {
	    background-position: 0 -1043px;
	    width: 16px;
	    height: 17px;		
	}
  }
  &_plus {
    background-position: 0 -934px;
    width: 16px;
    height: 16px;  

    &_light {
    	background-position: -20px -934px;
    }
  }
  &_message {
    background-position: 0 -870px;
    width: 16px;
    height: 12px;  
  }
  &_ok {
    background-position: 0 -890px;
    width: 18px;
    height: 16px;  
  }
  &_diary {
    background-position: 0 -914px;
    width: 18px;
    height: 14px;  
  }
  &_calendar {
    background-position: 0 -958px;
    width: 16px;
    height: 16px;

    &-big {
		background-position: 0 -982px;
		width: 28px;
		height: 31px;   	
    }
  }
	&_download {
		background-position: 0 -1020px;
		width: 11px;
		height: 15px; 		
	} 
	&_close {
		background-position: -7px -1536px;
		width: 9px;
		height: 9px; 		
	} 
	&_resend {
		background-position: 0 -1068px;
		width: 16px;
		height: 16px; 		
	}  
	&_delete {
		background-position: 0 -1090px;
		width: 13px;
		height: 14px; 		
	}  
	&_setting {
		background-position: -50px -913px;
		width: 14px;
		height: 14px; 		
	}  
}