
.page-404 {

	font-size: 0;
	height: 100%;

	&:before {
		content: " ";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	&__body {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		padding: 40px 0;
	}

	&__image-box {
		margin-bottom: 75px;
		font-size: 0;
		text-align: center;
	}

	&__image {
		display: inline-block;
	}

	&__logo {
		float: left;
	}
	
	&__desc {
		margin-left: 276px;
		padding-top: 5px;
	}

	&__h1 {
		&:extend(.h40);
	}

	&__text {
		&:extend(.text-md);
		margin-top: 5px;
		color: #555;
	}
}