
.contacts {

	&__h1 {
		&:extend(.h3);
		margin-bottom: 10px;
	}

	&__text {
		&:extend(.text-md);
		margin-top: 16px;
		color: #555;

		&:first-child {
			margin-top: 0;
		}
	}

	&__link {
		&:extend(.text-md);
		&:extend(.link-blue all);
	}
}