
.table-profile {

	width: 100%;

	&__label {
		position: relative;
		z-index: 10;
		padding-right: 10px;
		background: #fff;
	}

	td {
		&:extend(.text-md);
		vertical-align: top;
		padding-top: 8px;
		padding-bottom: 8px;
		width: 50%;
		color: #555;

		&:first-child {
			position: relative;
			padding-right: (@grid-gutter-width);

			&:before {
				content: ' ';
				position: absolute;
				border-top: 1px dashed #c1cbd6;
				left: 0;
				right: 10px;
				top: 7px;
				margin-top: .95em;
			}
		}
	}

}