.user-pic {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	overflow: hidden;
	margin-left: 5px;

	&__img {
		display: block;
		width: 100%;
	}

	&__name {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		margin-top: -10px;
		margin-left: 10px;
		font-weight: bold;
		line-height: 15px;
		font-family: pt_sansbold;
	}
}