.white-tabs {
	display: inline-block;
	width: 100%;
	padding-top: 5px;
	.nav {
		border: 0px none;
		.white-tabs__btn {
			font-family: 'IntroBlack';
			text-transform: uppercase;
			border-radius: 0px;
			border-width: 0px 0px 1px;
			border-style: solid;
			border-color: #f0f0f0;
			margin: 0px 4px 0px 0px;
			&:last-child {
				margin-right: 0px;
			}
			a {
				background: #fff;
				margin: 0px;
				border-radius: 0px;
				border-width: 0px 0px 1px;
				border-style: solid;
				border-color: #fafafa;
				padding: 15px 25px;
				font-size: 14px;
				span {
					vertical-align: middle;
					border-bottom: 1px dashed;
				}
			}
			&_eq {
				&:first-child {
					width: 300px;
				}
				&:last-child {
					width: 446px;
				}
				a {
					padding-left: 0px;
					padding-right: 0px;
					text-align: center;
				}
			}			
			&:hover,
			&.active {
				border-color: #fff;
				a {
					background: #fff;
					border-radius: 0px;
					border-width: 0px 0px 1px;
					border-color: #fff;
					color: @href-color-active;
					span {
						border-color: #fff;
					}
					.i-icon_message {
						background-position: -20px -870px;
					}
					.i-icon_ok {
						background-position: -20px -890px;
					}
					.i-icon_diary {
						background-position: -20px -914px;
					}
					.i-icon_setting {
						background-position: -74px -913px;
					}
				}
			}
		}
	}
	&_borders {
		.nav {
			.white-tabs__btn_eq {
				a {
					padding-top: 19px;
					padding-bottom: 11px;
				}
				&.active {
					a {
						border-width: 4px 4px 0px;
						margin-bottom: -6px;
						padding-top: 15px;
						padding-bottom: 17px;
					}
				}
			}
			.white-tabs__btn_eq.active a {
				border-style: solid;
				border-color: #b0dbe1;
			}

		}
		.white-tabs__pane {
			padding-top: 20px;
		}
		.white-tabs__pane.active {
			border-width: 4px 4px;
			border-style: solid;
			border-color: #b0dbe1;
		}
	}
	&__pane {
		background: #fff;
		padding: 30px 30px;
	}

}