
textarea {
	min-height: 60px;
	font-family: 'pt_sansregular';
	font-size: 15px;
	resize: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select,
input {
	font-family: 'pt_sansbold';
	font-size: 14px;
}

.bootstrap-filestyle {
	.form-control {
		padding-left: 33px;
		background-image: url(../images/chain.png);
		background-position: 10px 50%;
		background-repeat: no-repeat;
		background-color: #f7f7f7;
	}
	.button {
		margin-left: (@grid-gutter-width/2) !important;
	}
}

label.form__checkbox.disabled {
	opacity: 0.5;
	&.active {
		opacity: 1.0;
	}
}

.form {

	&_loading {
		position: relative;

		&:before {
			content: ' ';
			position: absolute;
			z-index: 350;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: #fff url('../images/ajax-loader.gif') no-repeat 50% 50%;
			opacity: .5;
		}
	}

	&__image {
		float: left;
	}

	&__body {
		&_has-image {
			margin-left: 170px;
		}
	}

	&__h1 {
		&:extend(.h40);
		margin-bottom: 20px;
	}

	&__h2 {
		&:extend(.h27);
		margin-bottom: 12px;
		margin-top: -5px;
	}
	
	&__bold {
		font-weight: bold;
	}
	
	&__group {
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__item {
		margin-top: 12px;

		&:first-child {
			margin-top: 0;
		}

		&_lg-offset {
			margin-top: 20px;
		}
	}
	
	&__item-sm-height {
		min-height: 29px;
	}

	&__area {
		min-height: 150px;
	}

	&__item-check {
		margin-top: 7px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__lg-label-col {
		margin-bottom: -20px;
	}

	&__label-top {
		&:extend(.text-md);
		margin-bottom: 5px;
	}

	&__label-inline {
		&:extend(.text-md);
		margin-top: 5px;
		margin-bottom: 0;

		&_up {
			margin-top: 0 !important;
		}
	}

	&__tip {
		&:extend(.text-xs);
		margin-top: 3px;
		color: #777;
	}

	&__checkbox {
		&:extend(.text-sm);
		display: inline-block;
		position: relative;
		padding-left: 25px !important;
		margin: 0 20px 0 0;
		color: #333;

		&:last-child {
			margin-right: 0;
		}

		&_bold {
			font-family: 'pt_sansbold';
		}

		&_color {
			&.active {
				color: #0ab;
			}
		}

		&_long {
			.icheckbox,
			input[type='checkbox'] {
				top: .25em !important;
			}
		}

		&_agreement {
			.text-xs();
			color: #777;
		}

		&_remind {
			.text-md();
		}

		.icheckbox,
		input[type='checkbox'] {
			margin: 0;
			position: absolute;
			top: 0;
			left: 0;
		}

		.iradio, 
		input[type='radio'] {
			margin: 0;
			position: absolute;
			top: 0.07em;
			left: 0;
		}

		&-content  {
			max-height: 0px;
			opacity: 0;
			overflow: hidden;
			transition: all 0.2s ease-in-out;

			&.active {
				max-height: 1000px;
				opacity: 1;
			}
		}
	}

	&__button-box {
		margin-top: 30px !important;
	}

	&__error {
		&:extend(.text-sm);
		color: #f00;
	}
	
	&__collapsed-href {
		.h40();
		font-family: 'IntroRegular';
		border-bottom: 1px dashed;
		&.active {
			border-color: #fff;
		}
	}

	&__tab-checkbox {
		display: inline-block;
		vertical-align: top;
		height: 40px;
		line-height: 40px;
		font-size: 15px;
		color: #224466;
		font-family: 'IntroBlack';
		text-transform: uppercase;
		overflow: hidden;
		padding: 0 20px;
		border: 1px solid #cccccc;
		position: relative;
		margin-right: -10px;
		z-index: 1;
		cursor: pointer;

		input {
			position: absolute;
			left: -50px;
			visibility: hidden;
		}

		&.checked {
			color: #fff;
			background: #1ca6bf;
			border: 1px solid transparent;
			z-index: 2;
		}
	}
}

.icheckbox,
.iradio {
   display: inline-block;
   *display: inline;
   vertical-align: middle;
   cursor: pointer;

   &.disabled {
   	opacity: .5;
   	cursor: default;
   }
}

.icheckbox {
   .sprite(@icon-blocks-form-checkbox);

   &.hover {
   	.sprite-position(@icon-blocks-form-checkbox-hover);
   }

   &.checked {
   	.sprite-position(@icon-blocks-form-checkbox-checked);
   }

   &-border {
   	padding: 4px 7.5px;
   	background: #e1e5ea;
   	display: inline-block;
   	vertical-align: middle;
   }
}

.iradio {
   .sprite(@icon-blocks-form-radio);

   &.hover {
   	.sprite-position(@icon-blocks-form-radio-hover);
   }

   &.checked {
   	.sprite-position(@icon-blocks-form-radio-checked);
   }
}