
.kids-contest {
	&__counters {
		padding: 8px 0px 0px;
		margin: 0px 0px 23px;
	}
	&__concurs {
		&__title {
			font-family: 'IntroRegular';
			font-size: 18px;
			margin: 0px 0px 12px;
		}
		&__image {
			&__title {
				font-size: 15px;
				line-height: 1.0;
				display: block;
				margin: 0px 0px 18px;
			}
			&__img {
				display: block;
			}
		}
		
	}
	.i-data-diapazon {
		margin: 0px 0px 13px;
	}
	p {
		margin: 0px 0px 15px;
	}	
	.comment {
		font-size: 13px;
		color: #888;
		line-height: 1.1;
		display: block;
		padding: 11px 0px 6px;
	}
	.dotted-line {
		margin: 24px 0px;
	}
}

