.fullsize-slider {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 0px 0px 20px;
	.carousel,
	.carousel-inner {
		position: relative;
	}
	.carousel {
		.carousel-inner {
			.item {
				.carousel-img {
					max-width: 100%;
				}
			}
			.carousel-caption {
				position: absolute;
				z-index: 200;
			}
			.carousel-img {
				position: relative;
				z-index: 10;
			}
		}
	}
	&__bg {
		position: absolute;
		
		&__lc {
			background: transparent url(../images/index-slider/left-corner.png) no-repeat -20px 0%;
			top: 0px;
			left: 0px;
			bottom: 0px;
			width: 481px;
			z-index: 90;
		}
		&__rc {
			background: transparent url(../images/index-slider/right-corner.png) no-repeat 0% 0%;
			top: 0px;
			right: 0px;
			bottom: 0px;
			width: 119px;
			z-index: 110;
		}
	}

	& .item {
		&.active {
			.carousel-caption {
				transition: opacity 0.2s ease-in-out;
			}
			&.left {
				.carousel-caption {
					opacity: 0.0;
				}
			}
		}
		&.next {
			.carousel-caption {
				transition: opacity 2.2s ease-in-out;
				z-index: 100;
			}
			&.left {
				.carousel-caption {
					opacity: 1.0;
				}
			}
		}
	}
	&,
	& .item,
	& .left-bg,
	& .right-bg,
	& .left-bg div,
	& .right-bg div,
	& .left-bg span,
	& .right-bg span {
		height: 360px;
	}
	& .left-bg,
	& .right-bg {
		position: absolute;
		top: 0px;
		left: 50%;
		width: 1000px;
	}
	& .right-bg {
		left: 50%;
		right: auto;
		margin-left: 500px;
	}
	& .left-bg {
		left: auto;
		right: 50%;
		margin-right: 500px;
	}
	& .left-bg {
		.leftcolumn {
			background: transparent url(../images/index-slider/left-bg.png) repeat 100% 0%;
			margin-right: 20px;
		}
		.rightcolumn {
			background: transparent url(../images/index-slider/left-corner.png) repeat 0% 0%;
			position: absolute;
			top: 0px;
			right: 0px;
			width: 20px;
			overflow: hidden;
		}
	}
	& .right-bg {
		.leftcolumn {
			background: transparent url(../images/index-slider/right-corner.png) repeat 100% 0%;
			width: 121px;
			position: absolute;
			left: 0px;
			top: 0px;
		}
		.rightcolumn {
			background: transparent url(../images/index-slider/left-bg.png) repeat 0% 0%;
			margin-left: 121px;
		}
	}
}