
.search {
	margin-bottom: 25px;

	&__button-box {
		float: right;
		width: 110px;

		&_up {
			margin-top: -2px;
		}
	}
	
	&__body {
		margin-right: 110px;
		padding-right: (@grid-gutter-width/2);
	}

	&__label {
		&:extend(.text-md);
		margin-bottom: 5px;
		color: #555;
	}
	
	&__title {
		font-size: 22px;
		font-family: 'IntroRegular';
		margin-bottom: 10px;
	}

	&__target {
		background: #fff1cc;
		display: inline-block;
		padding: 0px 4px 1px;
		line-height: 1.125;
	}

	&__result-txt {
		&:extend(.text-md);
		margin-top: 7px;
		color: #555;
	}

	&__item {
		&:last-child {
			p {
				margin: 0px;
			}
		}
	}

}