
.faq {
	position: relative;
	min-height: 35px;

	&:before {
		content: ' ';
		.sprite(@icon-blocks-faq-question);
		position: absolute;
		top: 0;
		left: 4px;
	}

	&:hover {
		&:before {
			.sprite-position(@icon-blocks-faq-question-hover);
		}

		.faq__link {
			color: #068;
		}
	}

	&_open {

		&:before {
			.sprite-position(@icon-blocks-faq-question-open) !important;
		}

		.faq__link {
			color: #0ab !important;
		}
	}

	&__desc {
		margin-left: 55px;
		padding-top: 5px;
	}

	&__link {
		&:extend(.h40);
		&:extend(.link-blue all);
		text-decoration: none !important;
	}

	&__text {
		padding-top: 12px;
	}

}