
.button {
	&:extend(.btn);
	border: 0;
	text-decoration: none !important;
	box-shadow: none;

	&_wide {
		width: 100%;
		padding-right: 5px !important;
		padding-left: 5px !important;
	}

	&_disabled {
		opacity: .2;
		cursor: default;
	}

	&_blue {
		background: #edf0f3;
		font-family: 'IntroBlack';
		text-transform: uppercase;
		color: @href-color;
		
		&:hover {
			background: darken(#edf0f3, 2%);
			color: @href-color-hover;
		}

		&:active {
			background: darken(#edf0f3, 10%);
			box-shadow: inset 0px 2px 4px rgba(2,3,3,.1);
			color: @href-color;
		}

		&_darken {
			background: #e1e5ea;

			&:hover ,
			&:active {
				color: @href-color-active;
				background: darken(#e1e5ea, 2%);

				.i-icon_resend {
					background-position: -20px -1068px;
				}  
				.i-icon_delete {
					background-position: -20px -1090px;	
				}  
				.i-icon_edit-min {
					background-position: -20px -1043px;	
				}  							
			}

		}

		// 34
		&_size-4 {
			padding: 6px 17px;
			font-size: 14px;
		}

		// 36
		&_size-3 {
			padding: 6px 20px;
			font-family: 'pt_sansregular';
			font-size: 15px;
			text-transform: none;
		}
		
		// 40
		&_size-1 {
			padding: 9px 17px;
			font-size: 14px;
		}
		
		// 50
		&_size-2 {
			padding: 14px 17px;
			font-size: 14px;
		}
		
	}

	&_blue-shine {
		background: #e1ecf0;
		font-family: 'pt_sansregular';
		color: @href-color;

		&:hover {
			background: darken(#e1ecf0, 2%);
			color: @href-color-hover;
		}

		&:active {
			background: darken(#e1ecf0, 10%);
			box-shadow: inset 0px 2px 4px rgba(2,3,3,.1);
			color: @href-color;
		}

		// 36
		&_size-1 {
			padding: 6px 20px;
			font-size: 15px;
		}
	}

	&_blue-dark {
		background: #32567a;
		background: linear-gradient(#32567a, #224466);
		box-shadow: inset 0 -2px 0 rgba(0,0,0,.5), 0 2px 2px rgba(0,0,0,.3);
		font-family: 'IntroBlack';
		text-transform: uppercase;
		color: #fff !important;

		&:hover {
			background: lighten(#32567a, 5%);
			background: linear-gradient(lighten(#32567a, 5%), lighten(#224466, 5%));
		}

		&:active {
			background: lighten(#32567a, 5%);
			background: linear-gradient(lighten(#224466, 5%), lighten(#32567a, 5%));
			box-shadow: inset 0 2px 0 rgba(0,0,0,.5);
		}
	
		// 28
		&_size-4 {
			padding: 3px 8px 4px 8px;
			font-size: 13px;
			line-height: 1.5;
			text-transform: none;
			&:active {
				padding-top: 5px;
				padding-bottom: 2px;
			}
			.button__text {
				&:extend(.text-bold);
			}
		}
	
		// 34
		&_size-1 {
			padding: 4px 17px 3px 17px;
			font-size: 17px;

			&:active {
				padding-top: 5px;
				padding-bottom: 2px;
			}
		}

		// 36
		&_size-3 {
			padding: 7px 17px;
			font-size: 14px;

			&:active {
				padding-top: 8px;
				padding-bottom: 6px;
			}
		}
		
		// 38
		&_size-2 {
			padding: 6px 17px 5px 17px;
			font-size: 17px;

			&:active {
				padding-top: 7px;
				padding-bottom: 4px;
			}
		}

		.button__icon {
			color: #64b1be;
			opacity: 1;
		}

	}

	&_orange {
		background: #ff7d51;
		background: linear-gradient(#ff7d51, #ff6633);
		box-shadow: inset 0 -2px 0 rgba(0,0,0,.15), inset 0 1px 0 #ffa128, 0 2px 2px rgba(0,0,0,.3);
		font-family: 'IntroBlack';
		text-transform: uppercase;
		color: #fff !important;

		&:hover {
			background: lighten(#ff7d51, 2%);
			background: linear-gradient(lighten(#ff7d51, 2%), lighten(#ff6633, 2%));
		}

		&:active {
			background: lighten(#ff6633, 2%);
			background: linear-gradient(lighten(#ff6633, 2%), lighten(#ff7d51, 2%));
			box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
		}
		
		// 36
		&_size-1 {
			padding: 6px 17px 8px 17px;
			font-size: 14px;

			&:active {
				padding-top: 7px;
				padding-bottom: 7px;
			}
		}
		
		// 44
		&_size-2 {
			padding: 9px 17px 8px 17px;
			font-size: 17px;

			&:active {
				padding-top: 10px;
				padding-bottom: 7px;
			}
		}
		
		&--flat {
			background: #ff7d51;
			text-transform: none;
			&:hover {
				background: lighten(#ff7d51, 2%);
			}
			&:active {
				background: lighten(#ff6633, 2%);
			}
		}
		
	}

	&__icon {
		position: relative;
		top: -2px;
		display: inline-block;
		vertical-align: middle;
		margin-top: -5px;
		margin-bottom: -5px;
		margin-right: 5px;
		opacity: .8;
		font-size: 20px;
		line-height: 0;

		&_glue {
			margin-right: 2px;
		}

		&_tabs {
			top: 0;
		}
	}
	&_white {
		background: #fff;
		font-family: 'pt_sansregular';
		font-size: 15px;
		color: @href-color;
		border-radius: 2px;

		&:hover {
			color: @href-color-active;
			.i-icon_download {
				background-position: -20px -1020px;
			}
			.i-icon_close {
				background-position: -37px -1536px;
			}
		}
	}
	&__grey {
		color: #555555;
	}
	&_marg5 {
		margin-right: 5px;
	}
	&--noshadow {
		box-shadow: none;
	}
}
