.client-filter {
  .clearfix();

  .client-adult {
    width: 105px;
    margin-right: 35px;
    display: inline-block;
  }

  .client-kid {
    .client-adult();
  }

  .kid-age {}

  .helper__float-r {
    width: 430px;
    float: right;
    //text-align: right;
  }
}

.client-filter__row {
  .clearfix();
  min-height: 50px;
}

.client-filter__row-label {
  display: inline-block;
  vertical-align: middle;
  line-height: 2;
}

.client-adult__icon,
.client-kid__icon {
  display: inline-block;
}

.client-filter__button {
  float: right;
}
