
.nav-book {

	&__row {
		margin-right: -(@grid-gutter-width);
		margin-left: -(@grid-gutter-width);
	}

	&__col {
		float: left;
		margin: 18px 0;
		width: 20%;
		padding-right: (@grid-gutter-width);
		padding-left: (@grid-gutter-width);

		&:nth-child(5n+1) {
			clear: left;
		}
	}

	&__link {
		&:extend(.link-blue all);
		display: block;
		font-family: 'IntroRegular';
		font-size: 16px;
		line-height: 1.25;
	}

	&__text {
		display: block;
		margin-top: 5px;
	}

}