.appointment {

  .time-selector__list {
    width: 450px;
    padding: 12px;
    padding-right: 0px;
    padding-bottom: 7px;
    font-size: 0;
    background: #f3f3f3;

    .time-selector__item {
      display: inline-block;

      label {
        min-height: 40px;
        width: 57px;
        margin: 0 5px 5px 0;
        background: #ffffff;
        font-family: "pt_sansbold";
        font-size: 14px;
        font-weight: bold;
        color: @font-color;
        text-align: center;
        line-height: 3;
        vertical-align: middle;
        cursor: pointer;
      }

      input {
        display: none;
      }

      input[type=radio]:checked + label {
        background: @green;
        color: #ffffff;
      }

      input:disabled + label {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
