.progress {
	&-steps {
		overflow: hidden;
		&:before ,
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	&-step {
		float: left;
		width: 33%;
		height: 60px;
		line-height: 60px;
		background: url(../images/steps/bg.png) repeat-y 0 0 #fff;
		color: #fff;
		margin-right: 0.4%;
		position: relative;
		text-shadow: 0px -1px rgba(0,100,11,0.5);
		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			width: 30px;
			height: 60px;
			background: url(../images/steps/direction.png) no-repeat 0 0;
		}

		&:last-child {
			margin-right: 0;

			&:after {
				background: #009dae;
				width: 20px;
			}
		}	

		&-disabled {
			
			background: #e7f4f6;
			color: #64b0bb;
			text-shadow: none;
			&:after {
				background-position: -30px 0;
			}

			&:last-child {
				&:after {
					background: #d4ebee;
				}
			}
		}


		&__num {
			display: inline-block;
			vertical-align: middle;
			font-size: 40px;
			font-family: 'IntroBlack';
			margin-left: 20px;
			margin-right: 10px;		
		}	
		&__text {
			display: inline-block;
			vertical-align: middle;
			line-height: 18px;	
		}
	}
	&-button-next {

		height: 44px;
		position: relative;
		padding-right: 45px!important;
		padding-left: 30px!important;
		overflow: hidden;
		box-shadow: inset 0 -2px 0 rgba(0,0,0,0.5), 0 0 0 rgba(0,0,0,0.3);
		background: #28496a!important;
		opacity: 1!important;
		transition: opacity 0.5 ease!important;

		&:after {
			content: '';
			display: block;
			height: 44px;
			width: 10px;
			background: url(../images/steps/direction.png) -60px -8px;
			position: absolute;
			right: 0;
			top: 0;
		}

		&:hover {
			opacity: 0.9!important;
		}
	}
	&-button-prev {

		height: 44px;
		position: relative;
		padding-right: 35px!important;
		padding-left: 40px!important;
		overflow: hidden;
		box-shadow: inset 0 -2px 0 rgba(0,0,0,0.5), 0 0 0 rgba(0,0,0,0.3);
		background: #28496a!important;
		opacity: 1!important;
		transition: opacity 0.5 ease!important;

		&:after {
			content: '';
			display: block;
			height: 44px;
			width: 10px;
			background: url(../images/steps/direction.png) -60px -8px;
			position: absolute;
			left: 0;
			top: 0;
			transform: rotate(-180deg);
		}

		&:hover {
			opacity: 0.9!important;
		}
	}
}