
.datepicker-archive,
#datetimepicker {
	position: absolute;
	z-index: 1001;
	right: 0px;
}
.ui-datepicker {
	background: #fff;
	padding: 10px;
	border: 0px none;
	width: 235px;
	border-radius: 0;
	box-shadow: 0px 6px 25px 0px rgba(2,3,3,0.30);
	.ui-datepicker-header {
		border: 0px none;
		padding: 0px 0px;
		background: transparent;
		border-radius: 0;
		.ui-datepicker-title {
			color: @dk-blue;
			font-size: 13px;
			font-weight: normal;
		}
		.ui-corner-all {
			
			top: 0px;
			left: 0px;
			right: 0px;
			&,
			&:hover,
			&:active,
			&:focus,
			&:focus:active {
				background: transparent;
				border: 0px none;
				border-radius: 0;
			}
			.ui-icon {
				background-color: transparent;
				background-repeat: no-repeat;
				height: 15px;
				width: 10px;
			}
			&.ui-datepicker-prev {
				right: auto;
				left: 0px;
				float: left;
				cursor: pointer;
				.ui-icon {
					background-image: url(../images/icons.png);
					background-position: 0px -218px;
				}
				&:hover {
					.ui-icon {
						background-position: 0px -248px;
					}
				}
			}
			&.ui-datepicker-next {
				right: 0px;
				left: auto;
				cursor: pointer;
				.ui-icon {
					background-image: url(../images/icons.png);
					background-position: -20px -218px;
				}
				&:hover {
					.ui-icon {
						background-position:  -20px -248px;
					}
				}
			}
		}
	}
	.ui-datepicker-calendar {
		border-collapse: collapse;
		th,
		td {
			padding: 0px;
			border: 0px none;
		}					
		thead {
			th {
				font-weight: normal;
				color: @mid-gray;
				font-style: uppercase;
			}
		}

		a,
		span {
			padding: 7px 7px 2px 2px;
		}
		a,
		span {
			display: block;
			width: 100%;
			height: 29px;
		}
		a {
			color: @dk-blue;
		}
		font-size: 13px;
		
		.ui-state-default {
			background: transparent;
			border: 0px none;
			&.ui-state-active {
				background: @green;
				color: #fff;
			}
		}
	
		.dp-highlight {
			.ui-state-hover {
				background: @green;
				color: #fff;
			}
			.ui-state-active {
				background: @green;
				color: #fff;
			}
			.ui-state-default {
				background: #eee;
				/*
				&:hover {
					color: @dk-blue;
				}
				*/
				&.ui-state-active {
					background: @green;
					color: #fff;
				}
			}
		}
		
	}
}

