
.thumbs {
	
	&__list {
		margin-right: -5px;
		margin-left: -5px;
		margin-top: -10px;
	}

	&__item {
		padding-left: 5px;
		padding-right: 5px;
		margin-top: 10px;
	}

	&__link {
		transition: 100ms opacity;
		display: block;

		&:hover {
			opacity: .8;
		}
	}

}