
.papers {
	margin-top: -20px;

	&__image {
		transition: 100ms opacity;
		opacity: 1;
	}

	&__item {
		display: block;
		margin-top: 20px;
		position: relative;
		overflow: hidden;
		&:hover {
			.papers__image {
				opacity: .9;
			}
		}
		&:after {
			content: "";
			position: absolute;
			left: 0px;
			right: 0px;
			height: 0px;
			box-shadow: 0px 0px 30px 25px rgba(255,255,255,1.0);
			bottom: 0px;
			z-index: 1000;
		}
	}

	&__h1 {
		&:extend(.h40);
		box-sizing: content-box;
		padding: 15px 25px;
		min-height: 90px;
		max-height: 90px;
		overflow: hidden;		
		background: #fff;
	}
}