
.slider-thumbs {

	position: relative;
	padding-left: 65px;

	&_no-caption {
		.slider-thumbs__menu {
			bottom: 0;
		}

		.slider-thumbs__nav {
			bottom: 0;
		}
	}

	&_white-bg {
		padding-left: 70px;
		background: #fff;

		.slider-thumbs__menu {
			bottom: 10px;
			left: 10px;
		}

		.slider-thumbs__nav {
			top: 10px;
			bottom: 10px;
			left: 10px;
		}
	}

	img {
		display: none;
	}

	&__menu {
		transition: 100ms background;
		position: absolute;
		z-index: 30;
		bottom: 5px;
		left: 0;
		width: 50px;
		height: 50px;
		padding-top: 16px;
		text-align: center;
		background: #edf0f3;

		&:before {
			content: ' ';
			.sprite(@icon-blocks-slider-thumbs-menu);
		}

		&:hover {
			background: darken(#edf0f3, 2%);
		}
	}

	&__nav {
		position: absolute;
		overflow: hidden;
		top: 0;
		bottom: 5px;
		left: 0;
		width: 50px;

		&__item {
			position: relative;
			overflow: hidden;
			display: block;
			height: 50px;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}

			&_active {

				&:before,
				&:after {
					content: ' ';
					position: absolute; 
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
				}

				&:before {
					border: 3px solid @green;
					z-index: 10;
					box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1.0);
				}

				&:after {
					border: 3px solid #00aabb;
					z-index: 20;
				}
			}

			&__in {
				display: inline-block;
				position: relative;
				left: 50%;
			}
		}

		img {
			display: block;
			height: 100px;
			margin-top: -25px;
			margin-left: -50%;
			max-width: none;
		}
	}

	.bx-wrapper img {
		&:extend(.img-responsive);
		display: block;
	}

	.bx-caption {
		&:extend(.text-sm);
		padding-top: 10px;
		color: #888;
	}
}

