.scoutorium {
	&__h1 {
		/*margin-bottom: 40px !important;*/
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		&:before {
			content: '';
			display: block;
			clear: both;
		}
		&__text {
			display: block;
			max-width: 720px;
			float: left;
		}
	}
	&__logo {
		margin-top: -25px;
	}
	&__intro {
		&__title {
			margin-bottom: 15px !important;
			margin-top: 0 !important;
		}
		&__text {
			font-size: 15px;
			line-height: 20px;
			height: 280px;
			overflow: hidden;
		}
		&__img {
			display: block !important;
			margin: 0 !important;
			position: absolute;
			top: -25px;
			right: -20px;	
			max-width: initial!important;
			width: 500px;		
		}
	}
	&__news {
		margin-bottom: 20px;
		overflow: hidden;
		background: #fff;
		&__text {
			padding: 15px 30px 30px;
		}
		&__date {
			font-size: 13px;
			color: #888888;
			padding-bottom: 5px;
		}
		&__title {
			font-size: 22px;
			color: #224466;
			padding-bottom: 10px;
		}
	}
	&__tags {
		&__title {
			font-size: 18px;
			color: #333333;
			font-family: 'IntroBlack';
		}
		&__item {
			font-size: 13px;
		}
	}
	&__article-text {
		img {
			display: block;
			margin: 30px 0;
			max-width: 100%;
		}
	}
}