.cell {
	background: #fff;
	margin-top: 20px;

	&:first-child {
		margin-top: 0;
	}

	&_long {
		padding-bottom: 10000px!important;
		margin-bottom: -10000px!important;
	}

	&_news {
		height: 320px;
	}

	&__in {
		height: 100%;
		padding: 25px 30px;
		position: relative;

		&_narrow {
			padding-right: 20px;
			padding-left: 20px;
		}

		&_square {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	&__crop {
		position: relative;
		overflow: hidden;
		height: 100%;
		min-height: 150px;
		
		&_no-more-b {
			&:before {
				height: 0 !important;
			}
		}

		&:before {
			content: ' ';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 35px;
			width: 100%;
			background: #fff;
			box-shadow: 0 0 60px 35px #fff;
		}
	}

	&__space {
		height: 20px;
	}

	&__header {
		margin-bottom: 25px;
		white-space: nowrap;

		&_small {
			margin-bottom: 20px;
		}
	}

	&__icon {
		float: left;
	}

	&__titles {
		margin-left: 110px;
		padding-top: 5px;
	}

	&__h1 {
		&:extend(.h20);
		display: inline-block;
		white-space: normal;
		&_small {
			font-size: 23px;
			margin-left: -1px;
		}
	}

	&__h2 {
		&:extend(.text-md);
		margin-top: 5px;
		color: #666;

		&__link {
			&:extend(.link-blue all);
			font-family: 'pt_sansbold';
		}
	}

	&__more-t {
		&:extend(.text-xs-light);
		&:extend(.link-blue all);
		display: inline-block;
		margin-left: 15px;
	}

	&__more-b {
		&:extend(.text-lg);
		&:extend(.link-blue all);
		display: inline-block;
		margin-top: 25px;

		&_fixed {
			position: absolute;
			z-index: 20;
			top: 100%;
			margin-top: -1.25em;
		}
	}
	&-marine {
		background-color: @marine-color;
		position: relative;
		color: white;
		&,
		&__in {
			&:before,
			&:after {
				content: "";
				display: block;
				background-color: @marine-color-light;
				position: absolute;
				height: 50%;
				width: 30px;				
			}
		}
		&__in {
			padding: 10px 30px;
			position: relative;
			z-index: 1;
		}
		&--left-bg {
			&:before {
				top: 50%;
				left: 50px;
			}
			&:after {
				top: 0%;
				left: 80px;
			}
			.cell-marine__in {
				&:before,
				&:after {
					display: none;
				}
			}
		}
		&--right-bg {
			&:before {
				top: 50%;
				right: 60px;
			}
			&:after {
				top: 0%;
				right: 30px;
			}
			.cell-marine__in {
				&:before {
					top: 50%;
					right: 0px;
				}
				&:after {
					display: none;
				}
			}
		}
	}
}