.partners-list {
	.partners-list {
		&__item {
			margin-top: 0px;
			padding: 15px 0px;
			&:first-child {
				padding-top: 0px;
			}
			&:last-child {
				padding-bottom: 0px;
			}
			p {
				margin: 0px 0px;
			}
			&__left {
				padding-right: 35px;
			}
			&__body {
				padding-top: 10px;
			}
			&__title {
				font-family: 'IntroRegular';
				font-size: 24px;
				line-height: 1.1;
				margin: 0px 0px 10px;
			}
		}
	}
	.dotted-line {
		margin: 0px 0px;
	}
}