
.input {

	&_default {

		&_size-1 {
			height: 34px;
		}
	}

	&_has-clear {
		padding-right: 20px;
	}

	&__clear {
		.sprite(@icon-blocks-kidslist-remove);
		position: absolute;
		right: 8px;
		top: 50%;
		margin-top: -(@icon-blocks-kidslist-remove-height/2);
	}

}
