.pay-travel {
	background: #fff;
	height: 100%;
	min-height: 100%;
	
	&__valign {
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		width: 0px;
		overflow: hidden;
	}
	&__block {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
	}
	&__form {
		background-color: #1e2748;
		max-width: 800px;
		padding: 100px 0px 120px;
		color: #fff;
		margin: auto;
	}
	&__title {
		color: #fff;
		span {
			color: #00a0df;
			font-size: 60px;
		}
	}
}