div.panel-reviews,
.panel-reviews {
	p {
		margin: 0px 0px;
		font-size: 15px;
		line-height: 1.35;
	}
	&__row {
		margin-left: -15px;
		margin-right: -15px;
	}

	&__col {
		padding-left: 15px;
		padding-right: 15px;
	}

	&__item {
		position: relative;
		padding-bottom: 0px;		
		font-size: 14px;
		color: @mid-gray;
		a {
			&,
			& img {
				display: block;
			}
		}
	}
	&__image-box {
		height: 100px;
		line-height: 100px;
		margin-bottom: 18px;
	}

	&__image {
		vertical-align: middle;
		max-height: 100%;
		width: auto;
	}

	&__h5 {
		display: inline-block;
		font-family: 'IntroRegular';
		font-size: 18px;
		line-height: 1.25;
		margin: 0px 0px 12px;
		color: @dk-blue;
		&:hover {
			color: @href-color-hover;
		}
		&:active {
			color: @href-color-active;
		}
	}
	&__hgroup {
		margin: 0px 0px 9px;
		&__h5 {
			font-family: 'IntroRegular';
			font-size: 18px;
			line-height: 1.1;
			margin: 0px 0px 4px;
		}
		&__post {
			color: #777;
			font-size: 13px;
		}
	}
	&__author,
	&__data {
		display: block;
		font-size: 13px;
		line-height: 1.1;
		color: @light-gray;
	}
	&__author {
		margin: 0px 0px 6px;
	}
	footer {
		position: relative;
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin-top: 16px;
	}
	
}