nav.pagination {
	margin: 20px 0px 20px;
	max-width: 500px;
	height: 45px;
	display: block;
	overflow: hidden;
	border-radius: 0px;
	&_top-offset {
		margin: 20px 0 0 0;
	}

	ul.pagination {
		margin-top: 0px;
		margin-bottom: 0px;
		border-radius: 0px;
		li {
			font-family: 'IntroRegular';
			border-radius: 0;
			a,
			span {
				width: 45px;
				height: 45px;
				line-height: 47px;
				padding: 0px 5px;
				margin-right: 10px;
				text-align: center;
				border: 0px none;
				border-radius: 0px;
				span {
					margin-right: 0px;
				}
			}
			&:last-child {
				a,
				span {
					margin-right: 0px;
				}
			}
			& {
				&.prev,
				&.next {
					a {
						width: 68px;
					}
					span {
						background-color: transparent;
						background-image: url(../images/icons.png);
						background-repeat: no-repeat;
					}
				}
				&.prev {
					span {
						background-position: 4px -216px;
						font-size: 1em;
					}
					&:hover {
						span {
							background-position: 4px -246px;
						}
					}
				}
				&.next {
					span {
						background-position: -20px -216px;
						font-size: 1em;
					}
					&:hover {
						span {
							background-position: -20px -246px;
						}
					}
				}
			}
			& {
				background: #fff;
				a {
					background: #fff;
					color: @dk-blue;
				}
			}
			& {
				background: transparent;
				span {
					background: transparent;
					color: #c1cbd6;
					font-size: 2em;
					line-height: 1.20;
				}
			}
			&:hover {
				a {
					/*
					color: @green;
					*/
				}
			}
			&.active {
				background: @green;
				a {
					background: @green;
					color: #fff;
				}
			}
		}
	}
}