
.slider-gallery {

	&__h1 {
		&:extend(.h27);
	}

	&__body {
		margin-top: 15px;

		.fotorama__arr {
			top: 50%;
			margin-top: -20px;
			width: auto;
			height: auto;
			background: #fff;
			font-size: 0;

			&:before {
				content: ' ';
			}

			&--next {
				padding: 13px 10px 13px 12px;
				right: 0;

				&:before {
					.sprite(@icon-blocks-slider-gallery-next);
				}

				&:hover {
					&:before {
						.sprite-position(@icon-blocks-slider-gallery-next-hover);
					}
				}
			}

			&--prev {
				padding: 13px 12px 13px 10px;
				left: 0;

				&:before {
					.sprite(@icon-blocks-slider-gallery-prev);
				}

				&:hover {
					&:before {
						.sprite-position(@icon-blocks-slider-gallery-prev-hover);
					}
				}
			}

			&--disabled {
				opacity: 0;
			}
		}

		.fotorama__stage {
		    background: #f7f7f7;
		}

		.fotorama__thumb-border {
			display: none;
		}

		.fotorama__thumb {
			&:before,
			&:after {
				content: ' ';
				transition: 200ms opacity;
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				opacity: 0; 
			}
			&:before {
				border: 7px solid #fff;
				z-index: 10;
			}
			
			&:after {
				border: 4px solid #08A7BA;
				z-index: 20;
			}
		}

		.fotorama__nav__frame.fotorama__active .fotorama__thumb,
		.fotorama__thumb:hover {
		    &:before,
		    &:after {
		        opacity: 1;
		    }
		}
	}

	&__info {
		margin-top: 12px;
	}

	&__more {

		&:extend(.text-md);

		&__icon {
			position: relative;
			top: -2px;
			vertical-align: middle;
			margin-right: 6px;
		}
	}

	&__comment {
		&:extend(.text-md);
	}

}