.promo {
	&-header {
		padding-bottom: 60px;
		&__title {
			text-align: center;
			font-size: 70px;
			line-height: 70px;
			padding: 50px 0 0px;
		}
		&__logo {
			display: block;
			margin: -5px auto 0;
		}
	}
	&-intro {
		position: relative;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #4c413c;
		background-size: cover;
		&-winter {
			background-color: #1f66b2;
			background-size: initial;
			background-position: center top;
		}
		&-transport {
			background-color: #5fdae9;
			background-size: initial;
			background-position: center top;
		}
		&--autumn {
			background-color: transparent;
			background-size: initial;
			background-position: center top;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 550px;
				background: #e9e9e9;
				z-index: -1;
			}
		}
		&-nav-bread {
			padding-top: 20px;
			&__item {
				color: #fff;
				&:before {
					margin: 0 5px;
					.sprite(@icon-blocks-promo-nav-bread-white);
				}
				&--autumn {
					color: #224466;
					a {
						color: #224466;
					}
				}
			}
			&__link {
				color: #fff;
				&:hover {
					color: #fff;
					opacity: .9;
				}
			}
		}
		&-title {
			font-size: 60px;
			line-height: 64px;
			color: #fff;
			font-family: 'IntroBlack';
			padding-top: 35px;
			max-width: 700px;

			&-shadow {
  				text-shadow: 0px 5px 5px rgba(35, 52, 88, 0.3);
			}
			&--blue {
				color: #224466;
			}
			&--orange {
				color: #ed4e33;
			}
			&--big {
				font-size: 180px;
				padding-top: 60px;
				margin-left: -15px;
				text-transform: uppercase;
			}
		}
		&-content {
			background: #fff;
			height: 277px;
			margin-top: 95px;
			overflow: hidden;

			&-winter {
				height: 366px;
				background: transparent;
				margin-top: 50px;
			}
			&--autumn {
				margin-top: 100px;
				height: 340px;
			}
		}
		&-description {
			padding: 25px 0px 20px 30px;
			&-winter {
				background: #fff;
				padding-right: 30px;
				min-height: 366px;
			}
			&-title {
				font-size: 22px;
				line-height: 26px;
				color: #333;
				font-family: 'IntroRegular';
				font-weight: bold;
				margin-bottom: 15px;
				letter-spacing: -1px;
			}
			&-text {
				font-size: 16px;
				line-height: 20px;
				color: #575757;
				&-winter {
					font-size: 15px;
					line-height: 18px;
				}

				p {
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		&-options {
			background: #40bd19;
			&-winter {
				background: transparent;
			}
			&-info {
				height: 110px;

				&--autumn {
					height: 170px;
					overflow: hidden;
				}
				&-winter {
					height: 200px;
					background: url(../images/promo/promo-intro-options-info-winter-bg.png) no-repeat 100% 0;
					background-size: cover;
					padding-top: 25px;
					padding-left: 30px;
				}

				&-price {
					background: #ff6633;
					width: 155px;
					display: inline-block;
					vertical-align: top;	
					padding: 15px 10px 15px 20px;
					height: 110px;

					&--autumn {
						padding-top: 30px;
						height: 170px;
					}
				}
				&-date {
					background: #476ab5;
					width: 175px;
					display: inline-block;
					vertical-align: top;
					padding: 15px 10px 15px 20px;
					height: 110px;
					margin-left: -5px;

					&--autumn {
						padding-top: 30px;
						height: 170px;
					}
				}
				&-places {
					background: #40bd19;
					width: 130px;
					display: inline-block;
					vertical-align: top;
					padding: 15px 10px 15px 20px;
					height: 110px;
					margin-left: -5px;

					&--autumn {
						padding-top: 30px;
						height: 170px;
					}
				}
				&-desciption {
					color: #fff;
					font-size: 13px;
					padding-bottom: 5px;
					&-winter {
						color: #24f8ff;
					}
				}
				&-title {
					color: #fff;
					font-size: 18px;
					margin-bottom: 2px;
					font-family: 'IntroRegular';
					&-big {
						color: #fff;
						font-size: 60px;
						line-height: 60px;
						font-weight: bold;	
						font-family: 'IntroBlack';
					}
					&--small {
						font-size: 16px;
						line-height: 1.9;
					}
					&-old {
						text-decoration: line-through;
					}
					&-winter {
						margin-bottom: 20px;
						&-big {
							font-size: 40px;
							line-height: 45px;
						}
					}
				}
			}
			&-link {
				height: 167px;
				display: block;
				color: #fff !important;
				font-size: 60px;
				line-height: 155px;
				text-align: center;
				font-family: 'IntroBlack';
				transition: all .3s linear;
				background: #2f4f6f;
				background-image: -moz-linear-gradient( 90deg, #304f70 0%, #254668  100%);
				background-image: -webkit-linear-gradient( 90deg, #304f70 0%, #254668  100%);
				background-image: -ms-linear-gradient( 90deg, #304f70 0%, #254668  100%);
				&:hover {
					color: #fff;
					background: #2f4f6f;
					background-image: -moz-linear-gradient( 90deg, #436788 0%, #2e557a  100%);
					background-image: -webkit-linear-gradient( 90deg, #436788 0%, #2e557a  100%);
					background-image: -ms-linear-gradient( 90deg, #436788 0%, #2e557a  100%);
				}		
			}
		}
	}
	&-share {
		position: absolute;
		top: 100%;
		margin-top: 120px;
		right: 0;

		&--autumn {
			top: 0;
			margin-top: 120px;
		}
	}
	&-content {
		background: #fff;
		padding: 40px 0 0;
	}
	&-reviews {
		margin-top: 0;
		margin-bottom: 20px;
		&__item {
			padding-top: 20px;
			padding-bottom: 45px;
			&-img {
				height: 120px;
				margin-bottom: 20px;
			}
			&-footer {
				margin-top: 20px !important;
			}
		}
	}
	&-sep {
		border-top: 0;
		margin: 0 30px 20px;
		&:first-child {
			display: block;
		}
	}
	&-service {
		&-item {
			padding: 10px 0px 30px;
			&-icon {
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
				height: 60px;
				&-img {
					display: block;
					max-width: 100%;
				}
			}
			&-text {
				display: inline-block;
				vertical-align: top;
				font-size: 15px;
				font-weight: bold;
				margin-top: 10px;
			}
		}
	}
	&-nav-tile {
		position: relative;
		&__item {
			border: 0;
			min-height: initial;
			padding: 17px 0 40px;
			padding-top: 120px;
			position: relative;
			.img-responsive {
				width: auto;
				max-height: 100px;
				position: absolute;
				bottom: 100%;
				left: 0;
				transform: translateY(80px);
			}
		}
		&__h1 {
			font-size: 15px;
			color: #333 !important;	
			margin-top: 0;
			margin-left: 1px;
		}
		&__text {

		}
	}
	&__gallery {
		margin-right: 0;
		width: 578px;
		display: inline-block;
		vertical-align: top;
		margin-top: 20px;
		height: 327px;
		margin-bottom: 30px;

		.bx-wrapper ,
		.bx-wrapper .slider-thumbs__item {
			height: 350px !important;			
		}
		.bx-wrapper  .slider-thumbs__item img {
			height: 327px !important;
		}
		.slider-thumbs_white-bg {
			padding-left: 65px;
		}
		.slider-thumbs__nav {
			top: 0;
			left: 0;
			bottom: 0;
		}
		.slider-thumbs__menu {
			left: 0;
			bottom: 0;
		}
		&-description {
			display: inline-block;
			vertical-align: top;
			width: 320px;
			margin-left: 20px;
			padding-top: 10px;
			&__title {
				font-size: 22px;
				line-height: 26px;
				font-family: 'IntroBlack';
				padding-bottom: 15px;
				&--m {
					font-size: 36px;
					line-height: 40px;
					color: #00aabb;
					font-family: 'IntroRegular';
					padding-bottom: 10px;
				}
			}
			&__text {
				font-size: 16px;
				line-height: 20px;
				*--m {
					line-height: 22px;
					p {
						margin-bottom: 15px;
					}
				}
			}
			&__address {
				font-weight: bold;
			}
			&__button {
				margin-top: 35px;
				padding-top: 15px !important;
				font-size: 15px;
				padding-bottom: 15px !important;
			}
			&--m {
				width: 460px;
				margin-right: 20px;
				padding-top: 0;
				margin-left: 0;
			}
		}
		&-title {
			font-size: 13px;
			color: #888;
			position: absolute;
			bottom: 0;
			left: 0;
		}
		&--m {
			width: 450px;
			margin-top: 0;
			.slider-thumbs_white-bg {
				padding-left: 0 !important;
				padding-bottom: 50px;
			}
			.slider-thumbs__nav__item {
				display: inline-block;
				vertical-align: top;
				width: 50px;
				margin-bottom: 0;
				margin-right: 10px;
			}
			.slider-thumbs__nav {
				height: 50px;
				width: 100%;
				top: initial !important;
				bottom: 0 !important;
			}
			.slider-thumbs__nav__tube {
				margin-top: 0 !important;
			}
			.bx-wrapper , 
			.bx-wrapper .slider-thumbs__item {
				height: 370px !important;
			}
			.bx-wrapper .slider-thumbs__item img {
				height: 360px !important;
			}
		}		
	}
	&__map {
		height: 400px;
		margin-top: 20px;
	}
	&-price {
		padding-top: 10px;
		&-winter {
			background: url(../images/promo/promo-price-winter-bg.png) repeat-x 0 0 ;
		}
		&-title {
			font-family: 'IntroBlack';
			color: #2e4358;
			font-size: 100px;
			line-height: 100px;
			margin-top: -20px;
			letter-spacing: -5px;
			&-icon {
				display: inline-block;
				vertical-align: middle;
				margin-top: -20px;
			}

			&-winter {
				text-align: center;
				font-size: 60px;
				line-height: 60px;
				color: #4b6ebc;
				letter-spacing: -1px;
				margin: 40px 0 35px;
			}
		}
		&-text {
			&-small {
				font-size: 15px;
				line-height: 20px;
				color: #555;
			}
		}
		&-get-specil {
			background: #ff4b33;
			cursor: pointer;
			font-size: 14px;
			line-height: 14px;
			font-family: 'IntroBlack';
			text-transform: uppercase;
			text-decoration: none;
			display: block;
			width: 184px;
			border-radius: 5px;
			color: #fff;
			margin-top: -5px;
			margin-left: 10px;
			padding-top: 15px;
			padding-left: 65px;
			padding-bottom: 12px;		
			position: relative;
			transition: all .3s linear;
			&:hover {
				background: #f02f15;
				color: #fff;
			}
			&-img {
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
		&-bracket {
			background: url(../images/promo/price-bracket.png) no-repeat 0 0;
			height: 76px;
			margin: 20px 0;

			&-winter {
				background: url(../images/promo/price-bracket-winter.png) no-repeat 50% 0;
				margin-bottom: 25px;
			}
		}
		&-service {
			padding: 0 100px;
			position: relative;
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
			&-winter {
				padding: 0;
			}
			&-item {
				display: inline-block;
				vertical-align: top;
				padding: 0 20px 20px;
				width: 120px;
				white-space: normal;
				&-winter {
					text-align: left;
					width: 130px;
				}
				small {
					font-size: 13px;
				}
				&-title {
					font-size: 15px;
					color: #555555;
				}
				&-icon {
					height: 40px;
				}
				&-right-col {
					width: 120px;
					position: absolute;
					left: 0;
					top: 0;
					text-align: left;
					padding-left: 0;
				}
			}
		}
	}
	&-form {
		background: #e5eff0;
		padding: 15px 30px 20px;
		margin-top: 10px;
		&__button {
			font-size: 14px;
			padding-top: 17px!important;
			padding-bottom: 15px!important;
			padding-left: 22px;
			padding-right: 22px;	
			margin-top: 4px;		
		}
		&-control {
			margin-top: 5px;
		}
		.form__error {
			margin-top: 10px;
		}
	}
	&-winter-banner {
		background: url(../images/promo/promo-winter-banner-bg.png) no-repeat 0 0;
		padding: 70px 50px 70px 545px;
		min-height: 415px;
		box-sizing: border-box;
		&-text {
			font-size: 13px;
			padding-bottom: 5px;
		}
		&-title {
			color: #333333;
			font-size: 22px;
			line-height: 22px;
			font-family: 'IntroRegular';
			letter-spacing: -1px;
			&-big {
				color: #333333;
			    font-size: 40px;
			    line-height: 45px;
			    font-weight: bold;
			    font-family: 'IntroBlack';	
			    letter-spacing: -2px;			
			}			
		}
		&-button {
			font-size: 14px;
			padding: 18px 22px 14px 22px !important;
		}
	}
	&-slider-gallery {
		padding-bottom: 97px;
		position: relative;
		width: 834px;
		margin: 0 auto;
		.fotorama {
			overflow: visible;
			&__wrap {
				width: 834px;
			}
			&__stage {
				background: transparent;
			}
			&__nav-wrap {
				position: absolute;
				bottom: -97px;
				left: 0;
				width: 100%;
			}			
		}
	}
	&-tickets {
		position: relative;
	}
	&-ticket {
		display: block;
		&__price {
			position: absolute;
			top: 104px;
			font-size: 50px;
			line-height: 50px;
			color: #2e4358;
			font-family: 'IntroBlack';
			letter-spacing: -3px;
			&--child {
				left: 197px;
			}
			&--adult {
				left: 666px;
			}
		}
		&__rub {
			position: relative;
			top: -5px;
		}
	}
}