.tabs-camp table, 
.article table,
.table-default {
	width: 100%;
	table-layout: fixed;
	&__td-grid {
		padding-bottom: 0 !important;
		padding-top: 0 !important;

		&:before {
			display: none;
		}

	}
	
	td, th {
		position: relative;
		padding-left: 20px;
		word-wrap: break-word;
		&:first-child {
			padding-left: 0;
		}

		&:before {
			content: ' ';
			border-top: 1px dashed #c1cbd6;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}

	th {
		&:extend(.text-xs);
		vertical-align: bottom;
		padding-top: 11px;
		padding-bottom: 10px;
		font-weight: normal;
		text-align: left;
		color: #777;
	}

	td {
		&:extend(.text-md);
		vertical-align: top;
		padding-top: 14px;
		padding-bottom: 13px;
		color: #555;
	}

	&__price {
		margin-top: 3px;
		font-family: 'pt_sansbold';
		white-space: nowrap;
		text-align: right;
	}

}
.tabs-camp table,
.article table {
	border-bottom: 1px dashed #c1cbd6;
}