.fixed-pane {

	transition: margin 300ms;
	background: #2e4358;
	position: fixed;
	z-index: 1100;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 80px 20px 40px 30px;
	width: 200px;
	margin-left: -220px;
	
	&>.inner {
		max-height: 100%;
		height: 100%;
		.custom-scrollbar {
			max-height: 100%;
			overflow-y: auto;
		}
		.mCSB_container {
			margin-right: 15px;
		}
		.mCSB_scrollTools {
			width: 10px;
			background: #2e4358;
			border-radius: 5px;
			box-shadow: inset 0px 1px 6px rgba(0,0,0,0.4);
			.mCSB_draggerContainer .mCSB_dragger_bar {
				background: #46586b;
			}
		}
		
	}
	
	&_hide {
		margin-left: -220px !important;
	}

	&_show {
		margin-left: 0 !important;
	}

	.open-leftmenu {
		margin-bottom: 20px;
		color: #7a848f;
		display: block;
		line-height: 1;
		font-size: 13px;
		position: absolute;
		left: 30px;
		top: 30px;
		right: 20px;
		&:after,
		&:before {
			content: "";
			display: block;
			height: 1px;
			position: absolute;
			bottom: -20px;
			left: -30px;
			right: -20px;
		}
		&:after {
			background: #203143;
		}
		&:before {
			background: #435567;
			bottom: -21px;
		}
		&__icon {
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
			position: relative;
			top: -1px;
		}
		& {
			display: block;
			line-height: 1.0;
		}
	}
	&,
	a {
		color: #fff;
		&.active,
		&.current,
		&:active,
		&:hover {
			
		}
	}
	.nav {
		li {
			&,&:hover,&:active,&:focus,
			& a,& a:hover,& a:active,& a:focus {
				background: transparent;
				padding: 0px 0px;
			}
		}
	}
	.main-nav {
		font-size: 15px;
		line-height: 1.30;
		margin-bottom: 10px;
		li {
			margin-bottom: 15px;
			a {
				color: #fff;
				&:hover,
				&.active,
				&.current {
					color: @href-color-emerald;
				}				
				/*
				&:hover,
				&.active,
				&.current {
					color: @green;
				}
				*/
			}
			&.active {
				a {
					color: @href-color-emerald;
				}
			}
		}
	}
	.sub-nav {
		font-size: 15px;
		line-height: 1.1;
		li {
			margin-bottom: 15px;
			a {
				color: #fff;
				&.h4,
				&.h5,
				&.h6 {
					font-family: 'pt_sansbold';
					border-top: 1px solid #7a848f;
					border-bottom: 1px solid #7a848f;
					padding: 15px 0;
					margin-bottom: 25px;				
				}
				&:hover,
				&.active,
				&.current {
					color: @href-color-emerald;
				}
			}
			&.active {
				&:hover,
				&.active,
				&.current {
					color: @href-color-emerald;
				}
			}
		}
		.delimiter {
			margin-bottom: 18px;
		}
	}
	.form-small-search {
		margin-top: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #7a848f;
		padding-bottom: 20px;
	}
	
}
@media (min-width: 1500px) {
	.fixed-pane {
		margin-left: 0;
	}
}