.i-comment-block {
	&__title {
		font-family: 'IntroRegular';
		font-size: 18px;
		margin-bottom: 21px;
	}
	&__list {
		color: @mid-gray;
		font-family: 'pt_sansregular';
		font-size: 13px;
		padding-left: 20px;
		&,
		& strong {
			font-family: 'pt_sansbold';
		}
		&__item {
			p {
				font-family: 'pt_sansregular';
				margin-bottom: 11px;
				color: @gray-text;
				strong {
					color: @mid-gray;
				}
			}
			&:last-child {
				p {
					margin-bottom: 0px;
				}
			}
		}
	}
	ol {
		padding-left: 0px;
		margin-bottom: 8px;
		counter-reset: item;
		li {
			padding-bottom: 7px;
			display: inline-block;
			p {
				padding-left: 15px;
				margin: 0px 0px 5px;
			}
			&:before {
				content: counters(item, ".") ".";
				counter-increment: item;
				float: left;
			}
			li {
				p {
					padding-left: 25px;
					margin: 0px 0px;
				}
			}
			p {
				margin-bottom: 5px;
			}
			ol {
				padding-left: 16px;
				margin-bottom: 5px;
				li {
					padding-bottom: 4px;
					font-family: 'pt_sansregular';
					width: 100%;
					p {
						margin-bottom: 0px;
					}
					&:last-child {
						padding-bottom: 0px;
					}
				}
			}
		}
	}
}