.i-reviews-list {
	hr {
		margin-top: 24px;
		margin-bottom: 24px;
		&:last-child {
			margin-bottom: 15px;
		}
	}
	.readmore {
		background: #edf0f3;
		text-align: center;
		font-family: 'IntroBlack';
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1.1;
		padding: 15px 0px;
		display: block;
	}
	&__item {
		&__date,
		&__rating {
			color: #777;
			font-size: 13px;
		}
		&__date {
			margin-right: 15px;
		}
		&__rating {
			margin-right: 5px;
			strong {
				color: #333;
				margin-left: 5px;
			}						
		}
		&__advantage,
		&__limitations {
			margin-bottom: 20px;
			h6 {
				margin-bottom: 5px;
			}
		}
	}
	&__answer {
		background-color: #f7f7f7;
		position: relative;
		padding: 25px 25px 15px;
		margin-top: 5px;
		&:before {
			content: "";
			position: absolute;
			width: 0px;
			height: 0px;
			top: -15px;
			left: 0px;
			overflow: hidden;
			border-width: 15px 15px;
			border-style: solid;
			border-color: transparent transparent #f7f7f7 #f7f7f7;
		}
	}

}