.news-list {
	&__item {
		background: #fff;
		margin-bottom: 21px;
		max-height: 230px;
		position: relative;
		overflow: hidden;
		&:before {
			content: ' ';
			position: absolute;
			bottom: 0;
			left: 250px;
			height: 15px;
			width: 100%;
			background: #fff;
			box-shadow: 0 0 60px 35px #fff;
		}
		&__img,
		&__right,
		&__body {
			display: table-cell;
			vertical-align: top;
		}
		&__img {
			padding-right: 20px;
			position: relative;
			z-index: 2;
			a,
			a img {
				display: block;
			}
			&-wrap {
				display: block;
				width: 230px;
				height: 230px;
				background: url(../images/news/default_230x230.jpg) no-repeat 50% 50% transparent;

				img {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
		&__body {
			font-size: 15px;
			padding: 18px 20px 5px 0px;
			&__date {
				font-family: 'pt_sansbold';
				font-size: 13px;
				line-height: 0.94;
				color: @light-gray;
				margin: 0px 0px 8px;
			}
			&__title {
				font-size: 18px;
				line-height: 1.1;
				color: #224466;
				margin-bottom: 10px;
			}
		}
	}
}