.reservation {
	background: #fff;
	padding: 25px 25px;
	border: 4px solid rgb(176,219,225);
	hr {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&__section__title {
		font-size: 22px;
		line-height: 1.0;
		font-family: 'IntroRegular';
		margin-bottom: 20px;


		&-bg {
			background-color: #f1f2f3;
			background-color: #f1f2f3;
			font-family: 'pt_sansbold';
			padding: 10px 20px;			
		}
	}
	&__section__subtitle {
		font-size: 18px;
		line-height: 1.0;
		font-family: 'IntroRegular';
		margin-bottom: 20px;
	}
	.form-horizontal {
		padding: 0px;
		margin: 0px;
		border: 0px none;
	}
	h6 {
		font-family: 'pt_sansbold';
		font-size: 15px;
		line-height: 1.40;
	}
	&__total-price {
		font-family: 'IntroBlack';
		font-size: 36px;
		line-height: 1.0;
		letter-spacing: -2px;
		.rub {
			font-size: 34px;
		}
		&_title {
			display: inline-block;
			line-height: 1.10;
		}
	}
	&__confirm {
		display: inline-block;
		line-height: 1.10;
	}
	&__table_hide {
		display: none;
	}
	&__table {
		width: 100%;
		margin-bottom: 20px;
		border-width: 0px 0px 1px;
		border-style: dashed;
		border-color: #c1cbd6;
		&_no-border-bottom {
			border-width: 0px 0px 0px;
		}
		thead {
			tr {
				th {
					border-width: 1px 0px;
					border-style: dashed;
					border-color: #c1cbd6;
					text-align: left;
					padding: 7px 7px 7px 0px;
					font-weight: normal;
					font-size: 13px;
					line-height: 1.1;
					color: #777;
					vertical-align: bottom;

					&.text-center {
						text-align: center;
						padding-right: 0;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					font-size: 14px;
					line-height: 1.1;
					font-family: 'pt_sansbold';
					padding: 15px 15px 20px 0px;
					border-width: 1px 0px 0px;
					border-style: dashed;
					border-color: #c1cbd6;
					
					&.valign-top {
						vertical-align: top;
					}
					&.text-center {
						text-align: center;
						padding-right: 0;
					}					
				}
			}
		}
		.select {

			&-nights {
				width: 55px;

				&-70 {
					width: 70px;
				}

				select {
					width: 100%;
				}				
			}

			&-tourist {
				width: 340px;

				select {
					width: 100%;
				}				
			}

		}
		&_no-border-top {
			thead {
				tr {
					th {
						border-width: 0px 0px 1px;
					}
				}
			}
		}	
		&_sm-p {
			tbody {
				tr {
					td {
						padding: 10px 10px 10px 0;
					}
				}
			}
		}		
	}
	&__main-title {
		font-family: 'IntroLight';
		font-size: 30px;
		line-height: 1.0;
		text-transform: uppercase;
		margin-bottom: 25px;
	}
	&__yellow-pane {
		background: #fff5de;
		margin: 0px -25px 20px;
		padding: 20px 25px;
		font-size: 15px;
		.control-label {
			line-height: 1.1;
		}
		&_comment {
			display: inline-block;
			line-height: 1.0;
		}
	}
	&__glyphicon-href {
		margin-left: 18px;
		&:first-child {
			margin-left: 0px;
		}
	}
	.glyphicon {
		&-edit {
			.sprite(@icon-blocks-tour-reservation-reserv-edit);
			display: inline-block;
		}
		&-delete {
			.sprite(@icon-blocks-tour-reservation-reserv-delete);
			display: inline-block;
		}
		&-plus {
			.sprite(@icon-blocks-tour-reservation-reserv-plus);
			display: inline-block;	
			margin-right: 10px;
		}
		&-transport {
			.sprite(@icon-blocks-tour-reservation-transport);
			display: inline-block;
			margin-right: 10px;
		}
		&-insurance {
			.sprite(@icon-blocks-tour-reservation-insurance);
			display: inline-block;
			margin: -3px 10px 0px 0px;
		}
		&-added-service {
			.sprite(@icon-blocks-tour-reservation-added-service);
			display: inline-block;
			margin: -3px 10px 0px 0px;
		}
	}
	&__section {
		border-bottom: 4px solid #b0dbe1;
		margin-bottom: 25px;
		&:last-child {
			border-bottom: 0px none;
			margin-bottom: 0px;
		}
		&__column {
			&_left {
				padding-right: 32px;
			}
		}
		&.b-b-0 {
			border-bottom: 0;
		}
	}
	&__footer {
		padding-top: 10px;
		padding-bottom: 7px;
	}
	.js-reservation__add {
		margin-left: 20px;
		line-height: 1.0;
		font-family: 'pt_sansregular';
		font-size: 15px;
		position: relative;
		.glyphicon {
			position: absolute;
			top: 50%;
			margin-top: -8px;
		}
		.pseudo {
			border-bottom: 1px dashed;
			margin-left: 26px;
		}
	}
	&__fullwidth-bg {
		background: #eff8f9;
		margin-left: -25px;
		padding: 15px 25px;
		box-sizing: initial;
		width: 100%;

	}
	.bold {
		font-weight: bold;
	}	
	.link-dashed {
		border-bottom: 1px dashed;
		font-weight: bold;
	}
	.button_small {
		padding: 10px 15px 10px;
	}
}