
.gallery {

	&__list {
		margin-right: -15px;
		margin-left: -15px;
		padding-bottom: 5px;
	}

	&__item {
		padding-right: 15px;
		padding-left: 15px;
	}

	&__image-box {
		transition: 200ms opacity;
		position: relative;
		display: block;
		opacity: 1;

		&:hover {
			opacity: .9;
		}

		&:before {
			content: ' ';
			.sprite(@icon-blocks-gallery-camera);
			position: absolute;
			bottom: 1px;
			left: 6px;
		}
	}

	&__desc {
		margin-top: 15px;

		&-white {
			background: #fff;
			margin-top: 0;
			margin-bottom: 15px;
			padding: 18px 20px 20px;
		}
	}

	&__date {
		&:extend(.text-xs);
		color: #888;
	}

	&__h1 {
		&:extend(.h40);
		&:extend(.link-blue all);
	}
}