
.hours {
	margin-top: 15px;

	&__h1 {
		&:extend(.h28);
	}

	&__h2 {
		&:extend(.text-md);
		margin-top: 2px;
		color: #555;
	}

	&__list {
		margin: 15px 0;
	}

	&__item {
		float: left;
		margin-right: 35px;

		&:last-child {
			margin-right: 0;
		}
	}
	
	&__num {
		float: left;
		margin-right: 10px;
		font-size: 50px;
		font-family: 'IntroBlack';
		line-height: 1;
		color: #4aba50;
	}

	&__label {
		&:extend(.text-md);
		float: left;
		padding-top: 5px;
		color: #555;
	}

	&__text {
		&:extend(.text-xxl);
	}
}