
.base-card {
	/*
	hr {
		margin-left: -20px;
		margin-right: -20px;
	}
	*/
	&--dark {
		background: #f7f7f7;
		background: #cfeef0;
		margin-left: -20px;
		margin-right: -20px;
		padding: 0px 5px 10px;
	}
	&--light {
		background: white;
		padding: 5px 20px 0px;
	}
	&--content {
		hr {
			margin-left: -30px;
			margin-right: -30px;
		}
	}
	.button,
	.panel-schedule__icons {
		min-width: 150px;
		width: 150px;
	}
	.panel-schedule__icons {
		text-align: right;
		.glyphicon {
			margin: 0px 0px 8px 4px;
			&:first-child {
				margin-left: 0px;
			}
		}
	}
	.button {
		height: 40px;
		padding: 6px 10px 5px;
	}
	.glyphicon {
		margin-right: 10px;
	}
	.media {
		padding: 20px 20px;
		margin: 0px;
		&:first-child {
			padding-bottom: 0px;
		}
		&:last-child {
			padding-top: 0px;
		}
		&-subheading {
			.h5 {
				font-size: 13px;
			}
		}
		.media-body {
			padding-right: 20px;
			.media-heading {
				margin: 12px 0px 27px; 
				line-height: 1.25;
				&,
				& a {
					font-family: 'IntroRegular';
					font-size: 20px;
					font-weight: 600;
				}
			}
		}
	}
	&--content {
		.media {
			padding: 20px 30px;
		}
	}
	&__subtitle {
		font-family: 'IntroRegular';
		color: @dk-blue;
		font-size: 17px;
		line-height: 1.1;
		font-weight: 600;
		margin: 0px 0px 8px;
	}
	&__services {
		color: @emerald;
		font-size: 16px;
		.glyphicon {
			vertical-align: middle;
			margin-right: 8px;
		}
		&-item {
			margin-left: 20px;
			display: inline-block;
			&:first-child {
				margin-left: 0px;
			}
		}
	}
	&__label {
		display: block;
		color: @gray-text;
		font-size: 13px;
		line-height: 1.1;
		margin-bottom: 4px;
	}
	&__data {
		display: block;
		color: @mid-gray;
		font-family: 'IntroRegular';
		font-weight: 600;
		font-size: 15px;
		line-height: 1.1;
	}
	&__price {
		display: block;
		font-family: 'IntroBlack';
		color: @mid-gray;
		font-size: 15px;
		line-height: 1.1;
	}

	&__date {
		display: block;
		color: @mid-gray;
		font-family: 'IntroRegular';
		font-weight: 600;
		font-size: 15px;
		line-height: 1.1;
		padding-bottom: 20px;
	}
}
