<!DOCTYPE html>
<html lang="ru">
	<head>
		
		<meta charset="utf-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=1020">
		
		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="stylesheets/main.css">
		
		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/{{ bower.dependencies.html5shiv }}/html5shiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/{{ bower.dependencies.selectivizr }}/selectivizr-min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/{{ bower.dependencies.respond }}/respond.js"></script>
		<![endif]-->

		<script src="javascripts/vendor/modernizr-custom.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/{{ bower.dependencies.jquery }}/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/{{ bower.dependencies.jquery-ui }}/jquery-ui.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/{{ bower.dependencies.underscore }}/underscore-min.js"></script>
		<script src="javascripts/libs.js"></script>
		<script src="javascripts/app.js"></script>
		
	</head>
	<body>

 	{{> body }} 
	
	{{!--  facebook page --}}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.3";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>	
	{{!-- /facebook page --}}

		{{!--  vk groups --}}
		<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
	   <script>VK.Widgets.Group("vk_groups", {mode: 0, width: "280", height: "251", color1: "FFFFFF", color2: "2B587A", color3: "5B7FA6"}, 34490749);</script>
		{{!-- /vk groups --}}

  </body>
</html>