.panel-news {
	.news-list {
		padding-top: 0px;
		article {
			font-size: 13px;
			color: @mid-gray;
			margin-bottom: 19px;
			&.news-item {
				.h5 {
					line-height: 1.1;
					margin: 0px 0px 5px;
					display: inline-block;
					color: @dk-blue;
					&:hover {
						color: @href-color-hover;
					}
					&:active {
						color: @href-color-active;
					}
				}				
				.data {
					display: block;
					font-size: 13px;
					line-height: 1.1;
					color: @light-gray;
					margin-bottom: 5px;
				}
				.p,
				p {
					font-size: 15px;
					line-height: 1.35;
					max-height: 58px;
					overflow: hidden;
				}
			}
			&:last-child {
				&,
				& p {
					margin-bottom: 0px;
				}
			}
		}
	}
}
.news-item__img-main {
	display: block;
	width: 660px;
	height: 420px;
	overflow: hidden;
	background: url(../images/news/default_660x420.jpg) no-repeat center center  transparent;

	&__img {
		display: block;
		width: 100%;
		height: 100%;
	}
}