
.arrival-camp {
	
	&__data {
		position: relative;
		top: -13px;
	}
	&__table {
		width: 100%;
		table-layout: fixed;
		margin-bottom: 10px;
		&__td-grid {
			padding-bottom: 0 !important;
			padding-top: 0 !important;

			&:before {
				display: none;
			}

		}
		
		td, th {
			position: relative;
			word-wrap: break-word;
			&:first-child {
				padding-left: 0;
			}
		}
		
		th {
			&:extend(.text-xs);
			padding: 0px 15px 10px 0px;
			vertical-align: bottom;
			font-weight: normal;
			text-align: left;
			font-size: 13px;
			color: #777;
		}

		td {
			&:extend(.text-md);
			padding: 14px 20px 14px 0px;
			vertical-align: top;
			font-family: 'pt_sansregular';
			font-size: 15px;
			color: #555;
			&:before {
				content: ' ';
				border-top: 1px dashed #c1cbd6;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
			strong {
				font-weight: bold;
			}
		}
	}
	
	&__memo {
		background-color: #f1f2f3;
		margin: 0px -30px 20px;
		padding: 0px 30px 23px;
		&-title {
			font-family: 'IntroRegular';
			font-size: 18px;
			font-weight: bold;
			margin-right: 20px;
		}
		.schedule__download {
			font-size: 15px;
			.icon-download {
				margin-top: 0px;
				margin-right: 0px;
			}
			.button__text {
				border-bottom: 1px dashed;
			}
			&:hover {
				.button__text {
					border-bottom-color: transparent;
				}
			}
		}

		ol {
			margin-bottom: 10px;
			counter-reset: item;
			li {
				position: relative;
				padding: 0px 0px 0px 16px;
				margin: 0px 0px 12px;
				text-indent: 0px;
				font-size: 13px;
				&:before {
					content: counters(item, ".") ".";
					counter-increment: item;
					position: absolute;
					left: 0px;
					font-weight: bold;
				}
				ol {
					margin: 5px 0px 12px;
					padding: 0px;
					li {
						padding: 0px 0px 0px 25px;
						margin: 0px 0px;
						font-family: 'pt_sansregular';
						width: 100%;
						&:last-child {
							padding-bottom: 0px;
						}
						&:before {
							font-weight: normal;
						}
					}
				}
			}
		}
		
	}
	&__person {
		&-img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			overflow: hidden;
			display: block;
			position: relative;
			img {
				display: block;
			}
		}
		&-phone,
		&-name {
			font-size: 15px;
			font-family: 'pt_sansregular';
			font-weight: bold;
		}
	}	
	&__contacts {
		.table-default {
			th, td {
				padding-left: 0px;
				padding-right: 10px;
				vertical-align: middle;
			}
		}
		&--title {
			display: block;
			font-size: 18px;
			font-family: 'IntroRegular';
			font-weight: bold;
			margin: 0px 0px 13px;
		}
	}
}