.social-likes {


	&__button_single {
		background: transparent!important;
		box-shadow: initial!important;
		border: 0;
		color: #224466;
		font-size: 15px;
		font-family: 'Pt sans', sans-serif;
		font-weight: bold;

		.social-likes__icon_single {
			background: url(../images/share/share-icon.png) no-repeat 0 0;		
			width: 32px;
			height: 32px;
			position: static;
			display: inline-block;
			vertical-align: middle;
			margin-right: 13px;
			transition: all .2s ease-in-out;
		}

		&:hover {
			color: #00aabb;

			.social-likes__icon_single {
				background-image: url(../images/share/share-icon-hover.png);	
			}
		}		
	}
	&_single {
		top: 63px!important;
		left: 16px!important;
		width: 180px;
		box-shadow: 0 0 30px rgba(0,0,0,.25)!important;
		padding-bottom: 10px;
		padding-top: 13px;
		&:after {
			bottom: 100%;
			left: 23px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 9px;
			margin-left: -9px;
		}

		.social-likes__button {
			background: transparent!important;
			box-shadow: initial!important;
			border: 0;
			color: #224466;
			font-size: 15px;
			font-family: 'Pt sans', sans-serif;
			font-weight: bold;	
			padding-left: 0px;	
			line-height: 23px;
			text-shadow: initial;			
			
			.social-likes__icon {
				width: 23px;
				height: 23px;
				position: static;
				margin: 0 10px!important;
				display: inline-block;
				vertical-align: middle;
				background: transparent url(../images/social-icons.png) no-repeat 0 0;
				top: -1px;
				position: relative;				

				&_facebook {
					background-position: 0 -24px;
				}
				&_twitter {
					background-position: -48px -24px;
				}
				&_vkontakte {
					background-position: -24px -24px;
				}
				&_odnoklassniki {
					background-position: -24px -95px;
				}
				&_plusone {
					background-position: 0 -95px;
				}
			}

			&:hover {
				color: #00aabb;
				.social-likes__icon {
					&_facebook {
						background-position: 0px -48px;
					}
					&_twitter {
						background-position: -48px -48px;
					}
					&_vkontakte {
						background-position: -24px -48px;
					}
					&_odnoklassniki {
						background-position: -25px -119px;
						
					}
					&_plusone {
						background-position: 0px -119px;
					}
				}				
			}	


		}
	}
	&__widget {
		margin: 0px 0 4px!important;
	}

	&__counter ,
	&__counter_single {
		box-sizing: initial;
		background: transparent;
		color: #224466;
		font-weight: bold;
		height: 20px;
		border: 1px solid #224466;
		border-radius: 0px;
		padding: 0;
		margin: 0;
		text-align: center;
		position: relative;
		top: -2px;
		/*overflow: hidden;*/
		margin-left: 5px;
		display: inline-block;
		vertical-align: middle;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 40px;
		min-width: 15px;
		padding: 0 3px;
		border-radius: 3px;


		&:before {
			top: 6px;
			left: -10px;
			border: 4px inset transparent;
			border-right: 5px solid;
			opacity: 1;			
		}
		&:after {
			left: -4px;
		}

		&__text {
			display: inline-block;
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;			
		}
	}

}
