.entities {
	min-height: 320px;
	position: relative;

	.cell__in {
		min-height: 320px;
	}
	
	ul,li {
		list-style-type: none;
		padding: 0px 0px;
	}
	&__image {
		position: absolute;
		left: 30px;
		bottom: 30px;
		z-index: 1;
	}
	&__text {
		position: relative;
		padding-left: 165px;
		
		z-index: 10;
		&__h1 {
			&:extend(.h15);
			transition: 100ms color;
			margin-left: -2px;
			text-transform: uppercase;
			color: #f63;

			&_small {
				font-size: 23px;
				margin-left: -1px;
			}
		}
		&__hrefs {
			margin-top: 18px;
			font-size: 15px;
			line-height: 1.15;
			font-family: 'IntroRegular';
			li {
				margin-bottom: 6px;
			}
		}
	}
	

}