
.loop-stars(@index, @width) when(@index <= 5) {
	&_@{index} {
		width: (@width * @index);
	}
	.loop-stars(@index+1, @width);
}

.stars-sm {
	height: 11px;
	width: 60px;
	background: url('../images/star-sm-bg.png') repeat-x;

	&__active {
		width: 0;
		height: 100%;
		background: url('../images/star-sm.png') repeat-x;

		.loop-stars(1, 12px);
	}
}

.stars-md {
	height: 13px;
	width: 70px;
	background: url('../images/star-md-bg.png') repeat-x;

	&__active {
		width: 0;
		height: 100%;
		background: url('../images/star-md.png') repeat-x;

		.loop-stars(1, 14px);
	}
}

.stars-lg {
	height: 23px;
	width: 125px;
	background: url('../images/star-lg-bg.png') repeat-x;

	&__active {
		width: 0;
		height: 100%;
		background: url('../images/star-lg.png') repeat-x;

		.loop-stars(1, 25px);
	}
}
