
.map {
	position: relative;
	border-width: 4px 0;
	border-style: solid;
	border-color: #abccda;
	padding: 25px 0;
	margin-bottom: 21px;
	/*margin-top: -20px;*/
	
	&__box {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: url('../images/ajax-loader.gif') no-repeat 50% 50%;
		&>ymaps {
			height: 100%!important;
		}
	}

	&__form {
		&__button-box {
			margin-bottom: 2px;
			margin-top: 22px;
		}
	}

	&__popup {
		padding: 10px;

		&__h1 {
			&:extend(.h40);
		}

		&__text {
			margin-top: 8px;
			.text-sm();
		}

		&__more {
			&:extend(.text-sm);
			display: inline-block;
			margin-top: 12px;
		}
	}

}