
.card {

	background: #fff;

	&__image-box,
	&__content {

		float: left;
		margin-right: 30px;
		width: 340px;
		height: 340px;

	}

	&__image-box {

		background: url(../images/user/user_boy_340x340.png) no-repeat 0 0;

		&__img {
			width: 100%;
			height: 100%;	
		}

		&-girl {
			background: url(../images/user/user_girl_340x340.png) no-repeat 0 0;
		}
	}

	&__content {
		padding-bottom: 30px;
		padding-top: 30px;
	}

	&__h1 {
		&:extend(.h27);
	}

	&__desc {
		margin-top: 15px;
	}

	&__prop {
		&:extend(.text-md);
		margin-top: 7px;

		&__value {
			display: inline-block;
			font-family: 'pt_sansbold';
			color: #333;
		}
	}

}