
.slider {
	position: relative;
	margin-bottom: 20px;

	&__item {
		display: none;
		background: #fff;

		.bx-wrapper &,
		&:first-child {
			display: block;
		}
	}

	&__desc {
		float: left;
		width: 50%;
		padding: 25px 30px;
	}

	&__image-box {
		float: left;
		width: 50%;
	}

	&__h1 {
		&:extend(.h4);
	}

	&__text {
		&:extend(.text-md);
		color: #555;
	}

	&__ctrl {
		position: absolute;
		bottom: 30px;
		left: 30px;
		margin-bottom: -10px;
		margin-left: -10px;
		font-size: 0;
	}

	&__prev,
	&__pager,
	&__next {
		display: inline-block;
		vertical-align: middle;
	}

	&__pager {
		margin: 0 16px;
	}

	.bx-prev,
	.bx-next {
		transition: 200ms opacity;
		display: block;
		padding: 10px;
		opacity: .9;

		&:hover {
			opacity: 1;
		}

		&:before {
			content: ' ';
		}

	}

	.bx-prev {

		&:before {
			.sprite(@icon-blocks-slider-prev);
		}
	}

	.bx-next {
		&:before {
			.sprite(@icon-blocks-slider-next);
		}
	}

	.bx-pager-item {
		display: inline-block;
	}

	.bx-pager-link {
		display: block;
		padding: 10px 4px;

		&:before {
			content: ' ';
			.sprite(@icon-blocks-slider-dot);
		}

		&.active {
			
			&:before {
				.sprite(@icon-blocks-slider-dot-active);
			}
		}
	}

}