
.page {

	&__header {
		margin-bottom: 22px;
	}

	&__h1 {
		&:extend(.h25);
		margin-bottom: 25px;
		color: #0ab;

		&_close {
			margin-bottom: 20px;
		}

		&_very-close {
			margin-bottom: 15px;
		}
	}

	&__h2 {
		&:extend(.h40);
		margin-bottom: 25px;
		margin-top: -13px;
	}

	&__h3 {
		&:extend(.text-md);
		margin-top: -21px;
		margin-bottom: 25px;
		color: #666;

		&__link {
			&:extend(.link-blue all);
			font-family: 'pt_sansbold';
		}
	}

	&__h4 {
		&:extend(.h40);
		margin-bottom: 35px;
	}

	&__content {
		margin-bottom: 40px;
	}

	&__item {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}

		&_has-gap {
			margin-top: 20px !important;
		}

		&_crop {
			overflow: hidden;
		}
		&_gray {
			background: @gray-text;
		}
		&__title {
			color: #fff;
		}
	}

	&__sep {
		margin: 30px 0;
		border-color: #c1cbd6;
		border-width: 0 0 1px 0;
		border-style: dashed;

		&_sm {
			margin-bottom: 20px;
			margin-top: 20px;
		}

		&_md {
			margin-bottom: 25px;
			margin-top: 25px;
		}

		&:first-child {
			display: none;
		}

		&-bg {
			border: 0 none;
			height: 1px;
			background: url(../images/border-bg.png) repeat-x 0 0;
		}

		&-wave {
			border-top: 4px solid #b0dbe1;
			background: url(../images/border-wave.png) repeat-x 0 0;
			height: 15px;
			border-bottom: 0;
			margin: 20px 0;
		}
	}

	&__print {
		&:extend(.link-blue all);
		&:extend(.text-md);
		position: relative;
		padding-left: 27px;
		
		&:before {
			content: ' ';
			.sprite(@icon-blocks-page-printer);
			position: absolute;
			left: 0;
			top: 1px;
		}
	}

	&__img-ctrl {
		&:extend(.link-orange all);
		position: absolute;
		right: 10px;
		top: -20px;
		font-size: 0;

		&__icon {
			vertical-align: middle;
			margin-right: 15px;
		}

		&__text {
			display: inline-block;
			vertical-align: middle;
			font-family: 'IntroBlack';
			font-size: 18px;
			line-height: 1;
			text-transform: uppercase;
		}
	}

	&__likes {
		float: right;
		margin-bottom: 20px;
		margin-left: 20px;


		&-fixed {
			float: none;
			margin: 0;
			position: fixed;
			right: 0;
			top: 360px;

			.social-likes {
				&__widget {
					margin: 0!important;
					height: 40px;					
				}
				&__button {
					width: 40px;
					height: 40px;
					line-height: 40px;
					border: 0;
					padding: 0;
					margin: 0;
					border-radius: 0;
					text-align: center;

					&_vkontakte {
						background: #4c75a3;
					}
					&_facebook {
						background: #3b5998;
					}
					&_twitter {
						background: #00abf1;
					}
					&_plusone {
						background: #d0422a;
					}
					&_odnoklassniki {
						background: #f48420;
					}
				}
				&__counter {
					display: block;
					position: absolute;
					right: 100%;
					top: 0;
					margin: 0;
					width: 50px;
					height: 40px;
					border: 0;
					border-radius: 0;
					color: #fff;
					text-align: right;
					line-height: 40px;
					padding-right: 15px;
					box-sizing: border-box;
					max-width: initial;
					
					&:before {
						display: none;
					}
					&:after {
						display: none;
					}
					&_vkontakte {
						background: #578ac2;
					}
					&_facebook {
						background: #476ab5;
					}
					&_twitter {
						background: #26c0ff;
					}
					&_plusone {
						background: #ed4e33;
					}
					&_odnoklassniki {
						background: #ff9e47;
					}
				}
				&__icon {
					display: inline-block;
					position: static;
					vertical-align: middle;

					&_vkontakte {
						.sprite(@icon-blocks-social-vkontakte);
					}
					&_facebook {
						.sprite(@icon-blocks-social-facebook);
					}
					&_twitter {
						.sprite(@icon-blocks-social-twitter);
					}
					&_plusone {
						.sprite(@icon-blocks-social-plusone);
					}
					&_odnoklassniki {
						.sprite(@icon-blocks-social-odnoklassniki);
					}					
				}
			}
		}
	}

	&__tags {
		margin-top: 10px;
	}

	&__book {

		&__header {
			margin-bottom: 20px;
		}

		&__icon-box {
			float: left;
			min-width: 60px;
			text-align: center;
		}

		&__h1 {
			&:extend(.h27);
			margin-left: 75px;
		}

	}

	&__scout {

		&__logo {
			margin-top: -48px;
		}
	}

}
