.i-panel-events {
	&__gallery {
		margin-bottom: 18px;
		&,
		img {
			display: block;
			position: relative;
		}
		img {
			max-width: 100%;
			height: auto;
		}
		&:after {
			.sprite(@icon-blocks-i-panel-events-photo-cam);
			content: "";
			width: 30px;
			height: 30px;
			position: absolute;
			bottom: 5px;
			left: 5px;
			z-index: 999;
		}
		&__img {
			display: block;
			width: 260px;
			height: 160px;
			background: url(../images/news/default_260x160.jpg) no-repeat 50% 50% transparent;

			img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
	&__item {
		margin-bottom: 20px;
	}
	&__data {
		display: block;
		font-size: 13px;
		line-height: 1.1;
		color: @light-gray;
		margin-bottom: 5px;
	}
	&__title {
		font-family: 'IntroRegular';
		line-height: 1.25;
		margin-bottom: 0px;
	}
	.dotted-line {
		margin: 24px 0px 30px;
	}
}
.i-panel {
	&__all {
		color: #171717;
		font-size: 15px;
		background: url(../images/i-panel-all.png) repeat-x 0 0;
		height: 87px;
		display: block;
		padding: 70px 15px 0;
		position: absolute;
		width: 100%;
		bottom: 25px;
		left: 0;
	}
}