.cities {
	&-faq {
		&__item {
			display: block;
			border-top: 1px dashed #c1cbd6;
			padding: 25px 20px 25px 53px;
			font-family: 'IntroRegular';
			font-size: 18px;
			line-height: 22px;
			color: #224466;
			cursor: pointer;
			background: url(../images/cities/faq.png) no-repeat 1px 16px;
			transition: all .5s linear;
			opacity: 1;
			&:hover {
				opacity: 0.8;
			}
		}
		&__cont {
			max-height: 0px;
			opacity: 0;
			visibility: hidden;
			box-sizing: border-box;
			transition: all .5s ease;
			font-size: 15px;
			color: #444;
			line-height: 22px;
			&-in {
				padding: 10px 20px 30px;
			}
			&.open {
				opacity: 1;
				max-height: 10000px;
				visibility: visible;
			}
		}
	}
	&-reviews {
		&__tabs {
			margin-bottom: -20px;
		}
		&__tab-content {
			display: none;
			&.active {
				display: block;
			}
		}
		&__tab {
			display: inline-block;
			vertical-align: bottom;
			background: #ffffff;
			padding: 20px 20px 15px 20px;
			color: #224466;
			font-size: 14px;
			line-height: 14px;
			text-transform: uppercase;
			font-family: 'IntroBlack';
			border-bottom: 3px solid #f7f7f7;
			letter-spacing: -0.5px;
			&-text {
				display: inline-block;
				padding-bottom: 1px;
				border-bottom: 1px dotted #224466;
			}
			&:hover {
				color: #006688;
			}
			&--active {
				border-color: #fff;
				color: #00aabb;
				.cities-reviews__tab-text {
					border-color: transparent;
				}
			}
		}
	}
	&__callme {
		padding: 28px 42px 25px !important;
		&-button {
			margin-top: 17px;
		}
	}
	&__h1 {
		color: #00aabb;
		padding: 25px 0 22px;
	}
	&__search {
		position: absolute;
		width: 440px;
		left: 50%;
		margin-left: -220px;
		top: 20px;
		z-index: 100;
		.container {
			position: relative;
		}
		&-field {
			height: 25px;
			color: #333333;
			font-size: 14px;
			border: 1px solid #000000;
			border-radius: 3px;
			box-shadow: inset 0px 1px 2px 0px rgba(2, 3, 3, 0.3);
			font-weight: normal;
			font-family: 'pt_sansregular';
			background: url(../images/cities/search.png) no-repeat 4px 4px #f7f7f7;
			padding-left: 25px;
			&::placeholder {
				color: #333;
				opacity: 1;
				font-family: 'pt_sansregular';
			}
		}
		&-button {
			position: absolute;
			right: 10px;
			top: 0px;
			height: 40px !important;
			padding: 0 30px;
		}
	}
	&__map {
		/*height: 590px;*/
		position: relative;
		overflow: hidden;
		padding-left: 220px;
		padding-right: 290px;
		transition: all .3s ease;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 69px;
			z-index: 80;
			background: url(../images/cities/search__bg.png) repeat-x 0 0;
		}
		&__add-org {
			display: block;
			text-align: center;
			font-size: 15px;
			height: 40px;
			line-height: 32px;
			margin: 0 20px;
			margin-right: 40px;
			&-wrapper {
				margin-left: -20px;
				margin-right: -20px;
				padding: 20px 0;
				box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.07);
			}
		}
		&__pabel-button {
			position: absolute;
			width: 20px;
			height: 50px;
			background: #00aec0;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			transition: all .3s ease;
			top: 50%;
			margin-top: -25px;
			right: -20px;
			cursor: pointer;
			&:before {
				content: '';
				width: 6px;
				height: 15px;
				display: block;
				background: url(../images/cities/cities-panel-arrow.png) no-repeat 0 0;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -7.5px;
				margin-left: -4px;
				/*transition: all .3s ease;*/
			}
			&:hover {
				background: #00c2d6;
			}
			&__text {
				display: block;
				/*position: absolute;*/
				position: relative;
				transform: rotate(90deg);
				/*width: 490px;*/
				text-align: center;
				font-size: 12px;
				color: #446699;
				/*
				left: -255px;
				top: 15px;
				line-height: 20px;
				*/
				left: 100%;
				top: 50%;
				margin-top: -15px;
				width: 160px;
				height: 20px;
				line-height: 239px;
				opacity: 0;
				transition: all .3s ease;
			}
			&-hide {	
				&:before  {
					transform: rotate(180deg);
				}
				.cities__map__pabel-button__text {
					opacity: 1;
				}
			}
		}
		&__search {
			position: absolute;
			top: 0;
			left: 0;
			width: 220px;
			height: 100%;
			box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
			background: #fff;
			box-sizing: border-box;
			padding: 15px 20px;	
			transition: all .3s ease;
			z-index: 90;
			&-titile {
				font-size: 20px;
				color: #555;
				font-family: 'IntroRegular';
				text-transform: uppercase;
				line-height: 24px;
				padding-bottom: 15px;
				border-bottom: 1px dashed #c1cbd6;
				margin-bottom: 10px;				
			}
			.form-group {
				margin-bottom: 10px;
			}
			.form-group-btn {
				margin-top: 30px;
			}
			&.cities__map__panel-hidden {
				left: -200px;
			}	
			&__reset {
				font-size: 13px;
				cursor: pointer;
				color: #446699;
				span {
					border-bottom: 1px dashed #446699;
					display: inline-block;
					padding-top: 1px;
					
				}
			}
		}
		&__offers {
			position: absolute;
			top: 0;
			right: 0;
			width: 290px;
			height: 100%;
			box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
			background: #fff;
			box-sizing: border-box;
			padding: 15px 20px;	
			padding-right: 0;
			transition: all .3s ease;
			z-index: 90;
			&-titile {
				font-size: 20px;
				color: #555;
				font-family: 'IntroRegular';
				text-transform: uppercase;
				line-height: 24px;
				padding-bottom: 15px;	
			}
			.form-group {
				margin-bottom: 10px;
			}
			.form-group-btn {
				margin-top: 30px;
			}
			&-list {
				height: 430px;
				overflow-y: hidden;
				overflow-x: hidden;
			}
			&-item {
				display: block;
				text-decoration: none;
				position: relative;
				padding: 15px 0 10px;
				border-top: 1px dashed #c1cbd6;
				padding-left: 65px;
				min-height: 85px;
				background: url(../images/cities/cities-offers-default.png) no-repeat 0 20px;
				&__img {	
					position: absolute;
					top: 20px;
					left: 0;
					width: 50px;
					margin-right: 10px;
				}
				&__text {	
					width: 180px;
					font-size: 13px;
					color: #446699;
				}
			}
			.cities__map__pabel-button {
				right: initial;
				left: -20px;
				transform: rotate(180deg);
			}
			&.cities__map__panel-hidden {
				right: -270px;
			}			
		}
		&__footer {
			padding: 25px 0 40px;
			&__item {
				display: inline-block;
				vertical-align: top;
				font-size: 12px;
				line-height: 14px;
				color: #777;
				width: 120px;
				padding-right: 20px;
				box-sizing: content-box;
				&:last-child {
					padding-right: 0;
				}
				&__heading {
					font-size: 13px;
					font-weight: bold;
					color: #555;
					padding-bottom: 10px;
				}
			}
		}
		&__card {
			font-family: 'pt_sansregular';
			/*width: 430px;*/
			width: 450px;
		}
	}
	&-reviews {
		&__item {
			padding: 22px 0;
			border-bottom: 1px dashed #c1cbd6;
			&:first-child {
				border-top: 1px dashed #c1cbd6;
			}
			&__heading{
				color: #333;
				font-size: 18px;
				font-weight: bold;
				padding-bottom: 15px;
			}
			&__text {
				font-size: 15px;
				color: #444;
				line-height: 22px;
			}
			&__date {
				color: #777;
				font-size: 13px;
			}
		}
	}
}
.cp {
	&-header {
		position: relative;
		&__text {
			font-size: 12px;
			color: #555;
			max-width: 320px;
			line-height: normal;
		}
		&__rating {
			position: absolute;
			right: 28px;
			top: -3px;
		}
	}
	&-comment__text {
		font-size: 13px;
		line-height: 1.4;
		color: #687ea0;
		&.p-t-10 {
			padding-top: 10px;
		}
	}
	&-dotline {
		height: 0;
		border-bottom: 1px dashed #c1cbd6;
	}
	&-raty {
		height: 18px;
		overflow: hidden;
		img {
			margin-right: -4px;
			position: relative;
			&:hover,
			&.hover {
				top: -18px;
			}
		}
	}
	&-title {
		position: relative;
		padding-bottom: 15px;
		padding-left: 70px;
		padding-right: 70px;
		border-bottom: 1px dashed #c1cbd6;
		min-height: 75px;
		margin-top: 8px;
		&__icon {
			position: absolute;
			left: 0;
			top: 5px;
			width: 50px;
			height: 50px;
		}
		&__text {
			font-size: 15px;
			line-height: 20px;
			color: #333;
			font-family: 'pt_sansbold';
		}
	}
	&-subtitle {
		&__text {
			font-size: 13px;
			line-height: 20px;
			color: #333;
			font-family: 'pt_sansbold';
			padding: 14px 0px 15px;
			p {
				margin: 0px 0px 0px;
			}
			&--label {
				line-height: 1.32;
				padding: 9px 0 16px;
			}
		}
	}
	&-description {
		font-size: 13px;
		color: #555555;
		padding-top: 13px;
		padding-bottom: 7px;
		&-row {
			padding-bottom: 7px;
		}
		&-col {
			display: inline-block;
			vertical-align: top;
			width: 165px;
			margin-right: 20px;	
			&:empty {
				display: none;
			}		
			&.weblink {
				white-space: nowrap;
			}
		}
		span.metro {
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 10px;
			background: url(../images/cities/map-card-metro.png) no-repeat 0 0;
			position: relative;
			top: -2px;
			margin-left: 3px;			
		}		
	}
	&-table {
		font-size: 13px;
		color: #555;
		&__header {
			background: #edf0f3;
			margin-left: -20px;
			padding: 0 20px;
			box-sizing: content-box;
			width: 100%;
			font-size: 13px;
			color: #333333;
			font-family: 'pt_sansbold';
			padding-top: 5px;
			padding-bottom: 5px;
			overflow: hidden;		
			margin-bottom: 13px;
			.cp-table__row {
				margin-bottom: 0 !important;
			}	
		}
		&__body {
			max-height: 100px;
			overflow: hidden;
			
			.mCSB_container {
				margin-right: 0 !important;
			}
			.mCSB_scrollTools .mCSB_draggerContainer {

			}
			.mCSB_dragger_bar {
				margin-right: 0 !important;
				width: 3px !important;
			}
		}
		&__row {
			margin-bottom: 4px;
			&:before ,
			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}
		&__col {
			display: block;
			width: 30%;
			float: left;
			/*
			margin-right: 3%;
			&:nth-child(1) {
    			width: 40%;
			}
			&:nth-child(2) {
    			width: 28%;
			}
			&:nth-child(3) {
    			width: 26%;
    			margin-right: 0;
			}
			*/
			margin-right: 1%;
			&:nth-child(1) {
				width: 29%;
			}
			&:nth-child(2) {
				width: 16%;
			}
			&:nth-child(3) {
				width: 24%;
			}
			&:nth-child(4) {
				width: 28%;
				margin-right: 0;
			}
		}
		small {
			vertical-align: super;
			font-size: 6px;			
		}
		&__link {
			display: inline-block;
			float: right;			
			width: 75px;
			text-align: left;
		}
	}
	&-footer {
		border-top: 1px dashed #c1cbd6;
		margin: 11px 0px -12px;
		padding: 14px 0px 0px;
		&:before ,
		&:after {
			content: '';
			display: block;
			clear: both;
		}	
		&__col {
			display: block;
			width: 25%;
			float: left;
			margin-right: 3%;
			white-space: nowrap;
			&,
			&:hover,
			&:focus,
			&:active,
			&:active:focus {
				border: 0px none;
			}
			&:nth-child(1) {
				width: 20%;
			}
			&:nth-child(2) {
				width: 15%;
				margin-left: 1%;
			}
			&:nth-child(3) {
			}
			&:nth-child(4) {
				width: 30%;
				margin-right: 0;
			}
			a {
				&,
				&:hover,
				&:focus,
				&:active,
				&:active:focus {
					color: inherit;
					background-color: transparent;
					border: 0px none;
					margin: 0px;
					border-radius: 0px;
					box-shadow: 0px none;
				}
			}
			&.active {
				a {
					&,
					&:hover,
					&:focus,
					&:active,
					&:active:focus {
						color: #f63;
						background-color: transparent;
						border: 0px none!important;
						margin: 0px;
						border-radius: 0px;
					}
					span,
					span.info,
					span.star,
					span.error,
					span.review {
						background-position: 50% 100%;
					}
				}
			}
		}			
		a {
			font-size: 12px;
			color: #687ea0;
			display: inline-block;
			vertical-align: top;
			
			span {
				display: inline-block;
				vertical-align: middle;
				opacity: 0.8;
				transition: all .3s ease;
				margin-right: 4px;
				position: relative;
				top: -2px;
			}
			span.info,
			span.star,
			span.error,
			span.review {
				width: 13px;
				height: 13px;
			}
			span.info {
				background: url(../images/cities/map-card-info.png) no-repeat 50% 0%;
			}
			span.review {
				background: url(../images/cities/map-card-review.png) no-repeat 50% 0%;
			}
			span.star {
				background: url(../images/cities/map-card-star.png) no-repeat 50% 0%;
			}
			span.error {
				background: url(../images/cities/map-card-error.png) no-repeat 50% 0%;
			}
			&:hover {
				span {
					opacity: 1;
				}
			}
		}
	}
}
#cities__map__map > ymaps > ymaps > ymaps.ymaps-2-1-34-places-pane > ymaps > ymaps {
	text-align: right;
}
#cities__map__map > ymaps > ymaps > ymaps.ymaps-2-1-34-places-pane > ymaps > ymaps > ymaps {
	display: block;
	width: 45px;
	text-align: center;
	margin-left: 13px;
	height: auto;
	margin-top: -4px;
	font-size: 16px;
	color: #ff6633;
	font-family: 'pt_sansbold';
	line-height: 80px;
}
#cities__map__map .ymaps-2-1-34-image {
	margin-left: 0 !important;
}
.ymaps-2-1-34-fullscreen-mode  .ymaps-2-1-34-balloon__content ,
#cities__map__map .ymaps-2-1-34-balloon__content {
	/*width: 470px !important;*/
	width: 490px !important;
	box-sizing: border-box;
	padding: 15px 20px;
	overflow: visible !important;
	margin-right: 0;
}
.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-balloon__content > ymaps ,
#cities__map__map .ymaps-2-1-34-balloon__content > ymaps {
	width: 430px !important;
	overflow: visible !important;
}
.ymaps-2-1-34-fullscreen-mode  .ymaps-2-1-34-balloon__close-button ,
#cities__map__map .ymaps-2-1-34-balloon__close-button {
	margin-right: 0;
	background: url(../images/cities/map-card-close.png) no-repeat center center #edf0f3;
	opacity: 1;
	width: 30px;
	height: 30px;
}
#cities__map__map .ymaps-2-1-34-controls-pane {
	/*left: 50% !important;*/
	top: 20px !important;
	/*margin-left: -100px !important;*/
	/*margin-left: 75px !important;*/
	margin-top: 0;
}
#cities__map__map .ymaps-2-1-34-controls-pane .ymaps-2-1-34-controls__control {
	/*top: 0 !important;*/
}
#cities__map__map .ymaps-2-1-34-zoom {
	/*margin-top: 100px !important; */
}
#cities__map__map .ymaps-2-1-34-zoom__minus {
	/*
    margin-left: 35px !important;
    top: 0 !important;
	*/
    height: 28px !important;
}
.ymaps-2-1-34-fullscreen-mode  .ymaps-2-1-34-b-cluster-content__header ,
#cities__map__map .ymaps-2-1-34-b-cluster-content__header {
	display: none !important;
}
.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-b-cluster-tabs ,
#cities__map__map .ymaps-2-1-34-b-cluster-tabs {
	width: 600px !important;
	min-height: 350px !important;
}
.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-balloon__content.big ,
#cities__map__map .ymaps-2-1-34-balloon__content.big {
	width: 600px !important;
	min-height: 370px !important;
	padding-left: 0 !important;
	padding-top: 0 !important
}
.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-balloon__content.big .ymaps-2-1-34-b-cluster-tabs__section_type_content  ,
#cities__map__map .ymaps-2-1-34-balloon__content.big .ymaps-2-1-34-b-cluster-tabs__section_type_content  {
	padding-top: 15px !important;
}
.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-b-cluster-tabs__section ,
#cities__map__map .ymaps-2-1-34-b-cluster-tabs__section {
	height: 100% !important;
}
.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-b-cluster-tabs__section {
	margin-top: 5px !important;
}
.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-b-cluster-tabs__menu-item-text ,
#cities__map__map .ymaps-2-1-34-b-cluster-tabs__menu-item-text {
	color: #224466 !important;	
	font-size: 11px;
}
.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-b-cluster-tabs__menu-item ,
#cities__map__map .ymaps-2-1-34-b-cluster-tabs__menu-item {
    font-family: 'pt_sansbold' !important;
    border-radius: 0 !important;
    color: #333333 !important;
	padding: 10px;
}
.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-b-cluster-tabs__menu-item_current_yes  ,
#cities__map__map .ymaps-2-1-34-b-cluster-tabs__menu-item_current_yes  {
    background: #EDF0F3 !important;
    color: #373737 !important;
}
.ymaps-2-1-34-fullscreen-mode  .ymaps-2-1-34-b-cluster-tabs__menu-item_current_yes .ymaps-2-1-34-b-cluster-tabs__menu-item-text ,
#cities__map__map .ymaps-2-1-34-b-cluster-tabs__menu-item_current_yes .ymaps-2-1-34-b-cluster-tabs__menu-item-text {
	color: #333333 !important;
}

.panel.review-form {
	transition: all .3 ease;
}
.form-message.success {
	font-size: 15px;
	position: relative;
	padding-left: 40px;
	padding-top: 4px;
	padding-bottom: 5px;
	color: #507691;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		background: url(../images/icons.png) no-repeat 0 -788px;
		width: 33px;
		height: 30px;
	}
}
.panel.review-form .form-group {
	position: relative;
}
.form-group-error {
	position: absolute;
	top: 5px;
	right: 0;
	font-size: 8px;
	color: #fff;
	border: 1px solid #d54d2b;
	border-radius: 3px;
	padding: 1px 3px;
	background: #d54d2b;	
	&:before {
		top: 100%;
		right: 10px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(213, 77, 43, 0);
		border-top-color: #d54d2b;
		border-width: 5px;
		margin-left: -5px;
	}
}
#cities__map__map .ymaps-2-1-34-b-cluster-tabs__section {
	overflow: hidden !important;
	height: 390px !important;
}
#cities__map__map > ymaps > ymaps > ymaps.ymaps-2-1-34-controls-pane > ymaps.ymaps-2-1-34-controls__control.ymaps-2-1-34-user-selection-none > ymaps > ymaps {
	/*margin-left: -50px !important;*/
	margin-left: 10px !important;
}
.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-listbox.ymaps-2-1-34-listbox_opened_no {
	margin-left: 50px !important;
	z-index: 100;
}
.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-default-cluster ymaps {
	display: block;
	width: 34px;
	text-align: center;
	margin-left: 13px;
	height: auto;
	margin-top: -4px;
	font-size: 16px;
	color: #ff6633;
	font-family: 'pt_sansbold';
}

.ymaps-2-1-34-controls__control .ymaps-2-1-34-zoom {
	margin-top: -60px!important;
	z-index: 100;
}


.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-controls__control {
	left: 50px !important;
	top: 50px !important;
	z-index: 100;
}
.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-zoom {
	margin-top: 35px !important;
	z-index: 100;
}
.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-balloon__content {
	margin-right: 0px !important;
}
.ymaps-2-1-34-fullscreen-mode .ymaps-2-1-34-b-cluster-tabs__section_type_content {
	overflow: hidden !important;
}
.ymaps-2-1-34-fullscreen-mode .cities__map__card {
	width: 450px !important;
}
#cities__map__map .ymaps-2-1-34-button__icon  {
	z-index: 100 !important;
}
#cities__map__map > ymaps > ymaps > ymaps.ymaps-2-1-34-controls-pane > ymaps.ymaps-2-1-34-controls__control.ymaps-2-1-34-user-selection-none > ymaps > ymaps {
	margin-top: 115px !important;
}
.mCSB_1_dragger_vertical:hover {
	background: #BDBDBD !important;
}