div.panel-special,
article.panel-special {
	padding: 0px 0px!important;
	height: auto!important;
	border: 0px none!important;
	min-height: 10px;
	img {
		width: 100%;
		height: auto;
	}
	a {
		position: relative;
		color: @orange;
		&:hover {
			color: @yellow;
		}
		&,
		& img {
			display: block;
		}
		.text-bottom {
			position: absolute;
			bottom: 80px;
			left: 20px;
			right: 20px;
			font-size: 30px;
			line-height: 0.94;
			font-family: 'IntroBlack';
			text-transform: uppercase;
			.h1 {
				background: #fff;
				display: inline-block;
				padding: 7px 10px 6px;
				margin-bottom: 0px;
				&:first-child {
					padding-bottom: 0px;
				}
				&:last-child {
					position: relative;
					top: -3px;
				}
			}
		}
		&:hover {
			&:after {
				content: "";
				border: 8px solid #fff;
				position: absolute;
				top: 0px;
				right: 0px;
				bottom: 0px;
				left: 0px;
			}
		}
	}

}
div.panel,
article.panel {
	&.panel-icons,
	&.panel-special {
		
		&.panel-icons-leftcol {
			.h1 {
				font-size: 23px;
				text-transform: uppercase;
			}
		}
		
	}

}