.vacancies {

  &-article {
    & h2 {
      font-family: 'IntroRegular';
      font-size: 22px;
      font-weight: bold;
      color: @dk-blue;
    }
    & p {
      font-size: 18px;
    }
  }

  &-tiles__item {
    padding: 20px;
  }

  &-banners {
    margin-top: 20px;
  }

  &-advantages {
    & .cell__h1 {
      margin-bottom: 30px;
      color: @mid-gray;
    }
    &__item {
      padding-left: 10px;
      padding-right: 40px;

      &-icon-salary {
        .sprite(@icon-blocks-vacancies-money);
        margin-bottom: 15px;
      }
      &-icon-official {
        .sprite(@icon-blocks-vacancies-tk);
        margin-bottom: 15px;
      }
      &-icon-stable {
        .sprite(@icon-blocks-vacancies-target);
        margin-bottom: 15px;
      }
      &-icon-task {
        .sprite(@icon-blocks-vacancies-plan);
        margin-bottom: 15px;
      }
      &-icon-rush {
        .sprite(@icon-blocks-vacancies-timer);
        margin-bottom: 15px;
      }
    }
  }

  &-partners {
    & .cell__h1 {
      margin-bottom: 30px;
      color: @mid-gray;
    }
    &__item {
      padding-left: 10px;
      padding-right: 15px;

      &-img {
        height: 70px;
        max-width: 170px;
        margin-bottom: 15px;
      }
    }
    &__row {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
