.subscription-form {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
  transition: all .3s ease;
  width: 320px;
  height: 320px;
  transform: translateY(250px);

  &.is-open {
    transform: translateY(0);
  }

  &__header {
    background-color: #077eb5;
    background-image: linear-gradient( 0deg, rgba(10,175,189,0) 0%, rgb(10,175,189) 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 70px;
    line-height: 70px;
    padding: 0 30px 0 105px;
    position: relative;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      background-color: #0b97d7;
      background-image: linear-gradient( 0deg, rgba(10,175,189,0) 0%, rgb(10,175,189) 100%);
    }

    .subscription-form__icon--close {
      display: none;
    }
    .subscription-form__icon--window {
      display: block;
    }

    &.is-open {
      .subscription-form__icon--close {
        display: block;
      }
      .subscription-form__icon--window {
        display: none;
      }
    }
  }

  &__title {
    font-family: 'IntroBlack';
    color: #fff;
    font-size: 15px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
  }

  &__button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: 0;
    box-shadow: 0;
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    background: url(../images/subscription-form/subscription-form-icons.png) no-repeat;

    &--window {
      width: 15px;
      height: 14px;
      background-position: 0 0;
    }
    &--close {
      width: 10px;
      height: 10px;
      background-position: -20px 0;
    }
  }

  &__decor {
    background: url(../images/subscription-form/subscription-form-decor.png) no-repeat 0 0;
    width: 63px;
    height: 85px;
    position: absolute;
    left: 27px;
    bottom: 0;
  }

  &__inner {
    background: #fff;
    height: 160px;
    padding: 15px 20px;
  }

  &__footer {
    background: #eeeeee;
    height: 90px;
    padding: 20px 20px;
  }

  &__submit {
    border-radius: 3px;
    background: #077fb6;
    text-transform: none;
    height: 40px;
    line-height: 35px;
    font-size: 15px;
    padding: 0 20px;
  }

  &__desc {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 15px;
  }

  &__field {
    height: 30px;
    margin-bottom: 10px;
  }
}