
.place-counter {
	background-color: white;
	&__title {
		font-family: 'IntroBlack';
		font-size: 15px;
		line-height: 1.1;
		margin: 0px 0px 3px;
	}
	&__subtitle {
		font-family: 'pt_sansregular';
		font-size: 13px;
		color: @mid-gray;
		margin: 0px 0px 7px;
	}
	&__shadow {
		position: relative;
		padding: 25px 30px;
		overflow: hidden;
		&:after {
			content: "";
			display: block;
			position: absolute;
			height: 100%;
			left: 0px;
			right: 0px;
			top: 100%;
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
		}
	}
	&__gray {
		color: @gray-nums;
	}
	&__numbers {
		font-size: 36px;
		line-height: 1.1;
		.decorate {
			font-size: 33px;
			display: inline-block;
			vertical-align: top;
		}
	}
	&__hline {
		top: 25px;
		bottom: 25px;
		left: 47.2%;
		position: absolute;
		width: 1px;
	}
}

