
.thumbs-list {
	display: inline-block;
	&__item {
		margin: 20px 0px 0px 5px;
		float: left;
		position: relative;
		&:nth-child(-n+1) {
			margin-left: 0px;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			border: 2px solid #fff;
			z-index: 10;
		}
		img {
			display: block;
			position: relative;
		}
	}
	&__remove {
		background: #fff url(../images/icons.png) no-repeat -4px -1534px;
		position: absolute;
		width: 14px;
		height: 14px;
		top: 2px;
		right: 2px;
		z-index: 100;
	}
}

.form-control::placeholder {
	font-family: 'pt_sansbold';
	font-size: 14px;
	color: #555;
}

.form-small-search__input::placeholder {
	color: #fff;
}

.form-small-search__input:hover::placeholder {
	color: #0ab;
}

.form-small-search {
	position: relative;
	margin-left: -10px;
	& &__input {
		background: transparent;
		border: 1px solid #4c5d6e;
		box-shadow: none;
		color: #fff;
		&,
		&:hover,
		&:focus {
			background-color: transparent;
			color: #fff;
		}
		&:hover,
		&:focus {
			border-color: #6a7784;
		}
	}
	&__button {
		position: absolute;
		top: 4px;
		right: 0px;
		background: transparent;
		border: 0px none;
	}
}

.form-vertical-border {
	position: relative;
	z-index: 100;
	.button_blue-dark_size-2 {
		padding-left: 15px;
		padding-right: 15px;
		min-width: 100%;
	}
	&__absolute {
		position: absolute;
		width: 100%;
	}
	&:after {
		content: "";
		position: absolute;
		top: 0px;
		left: 50%;
		bottom: 20px;
		width: 0px;
		border-right: 1px dotted #c1cbd6;
	}
	.modal-dialog {
		.modal-header {
			.modal-title {
				line-height: 1.04
			}
		}
	}
	.form-group {
		&.check-in-date {
			margin-bottom: 0px;
		}
	}
}
.form-default {
	.form-horizontal {
		border: 0px none;
		.form-group {
			margin-top: 0px;
			margin-bottom: 11px;
		}
	}
	.form-group {
		.comment {
			font-size: 13px;
			display: block;
			color: #777;
			line-height: 1.2;
			padding: 3px 0px 0px;
		}
		&.check-in-date {
			margin-bottom: 11px;
		}
	}
	&__subtitle {
		font-size: 18px;
		line-height: 1.1;
		font-family: 'IntroRegular';
		margin: 0px 0px 20px;
	}
	.media {
		&-left {
			padding-right: 20px;
		}
		&-body {
			.media-heading {
				font-family: 'IntroLight';
				font-size: 30px;
				line-height: 0.98;
				padding-top: 6px;
				margin-bottom: 8px;
				text-transform: uppercase;
				p {
					margin: 0px 0px 5px;
				}
			}
		}
	}
	label {
		text-align: left;
		&.control-label {
			&,
			&-twoline {
				line-height: 1.0;
			}
			&-twoline {
				padding-top: 0px;
			}
		}
	}
	.comment {
		display: block;
		line-height: 1.2;
	}
	.select-wrapper select {
		height: 32px;
	}
	.select-wrapper {
		select {
			background-position: 100% -159px;
			&:focus,
			&:active,
			&:hover {
				background-position: 100% -183px;
			}
		}
	}
}
.form-horizontal {
	background: #fff;
	border: 4px solid #b0dbe1;
	padding: 20px;
	margin-bottom: 20px;
	padding: 0px;
	margin: 0px;
	&_padding-20 {
		padding: 20px 20px;
	}
	&_padding-30 {
		padding: 30px 30px;
	}
	.select-wrapper select {
		height: 32px;
	}
	label {
		&.control-label {
			padding-top: 9px;
			&,
			&-twoline {
				line-height: 1.0;
			}
			&-twoline {
				padding-top: 2px;
			}
		}
		&.error {
			position: absolute;
			left: 100%;
			top: 0px;
			width: 160px;
			line-height: 1.1;
			white-space: nowrap;
			display: none;
		} 
	}
	.media {
		&-left {
			padding-right: 20px;
		}
		&-body {
			.media-heading {
				font-family: 'IntroLight';
				font-size: 30px;
				line-height: 0.98;
				padding-top: 6px;
				margin-bottom: 8px;
				text-transform: uppercase;
				p {
					margin: 0px 0px 5px;
				}
			}
		}
	}
	.control-label {
		text-align: left;
		font-size: 15px;
	}
	.form-group {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.comment {
		margin: 0px 0px;
		padding: 4px 0px 0px;
		font-size: 13px;
		color: @gray-text;
	}
	.anons {
		padding: 3px 0px 0px;
		line-height: 1.35;
		p {
			color: #777;
		}
		h5,.h5 {
			margin-bottom: 20px;
		}
		h6,.h6 {
			margin-bottom: 7px;
			color: #555;
		}
	}
}
.btn {
	font-family: 'IntroBlack';
	border-width: 0px 0px 2px;
	border-style: solid;
	border-color: #142a3e;
	font-size: 17px;
	line-height: 1.6;
	color: #fff;
	padding: 5px 19px 3px;
	background: linear-gradient(#2d4e6e, #224466);
	border-radius: 0;
	box-shadow: 0px 2px 2px rgba(2,3,3,.30);
	&:focus,
	&:hover {
		background: linear-gradient(#416587, #2b5379);
		color: #fff;
	}
	&:active {
		background: linear-gradient(#224466, #395776);
		box-shadow: none;
		border-width: 2px 0px 0px;
	}
	&.btn-default {
		background: #edf0f3;
		text-align: center;
		font-family: 'IntroBlack';
		font-size: 14px;
		line-height: 1.1;
		padding: 15px 20px;
		display: inline-block;
		color: @href-color;
		border: 0px none;		
		box-shadow: none;
		text-shadow: none;
		&:focus,
		&:hover {
			background: darken(#edf0f3, 2%);
			color: @href-color-hover;
			border: 0px none;
		}
		&:active {
			background: darken(#edf0f3, 10%);
			box-shadow: inset 0px 2px 4px rgba(2,3,3,.10);
			border: 0px none;
			color: @href-color;
		}
	}
	&.btn-xs {
		.text-md();
		line-height: 1.1;
		padding: 2px 7px;
	}
}
.select-wrapper {
	border-width: 1px;
	border-style: solid;
	border-color: #9e9e9e #bdbdbd #ccc;
	display: inline-block;
	width: 100%;
	margin-right: 5px;
	position: relative;
	select {
		width: 66px;
		height: 32px;
		margin: 0px 0px;
		padding: 0 20px 0 5px;
		font-size: 14px;
		background: #f7f7f7;
		box-shadow: inset 0px 1px 2px 0px rgba(2,3,3,0.10);
		text-indent: 0.01px; /* Removes default arrow from firefox*/
		text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
		border: 0 !important;  /*Removes border*/
		appearance: none;
		border-radius: 0;
		background-image: url(../images/icons.png);
		background-position: 100% -160px;
		background-repeat: no-repeat;
		&::-ms-expand {
			display: none;
		}
		&:active,
		&:focus,
		&:hover {
			background-color: #fff;
			background-position: 100% -184px;
		}			
	}
	&_small {
		&:after {
			background-position: -10px -162px;
		}
		&:active,
		&:focus,
		&:hover {
			&:after {
				background-position: -10px -186px;
			}
		}
	}
	&:first-child {
		select {
			width: 90px;
		}
	}
	&-full {
		&,
		&:first-child select,
		& select {
			width: 100%;
		}
	}
	&.w-100 {
		width: 100px;

		select {
			width: 100%;
		}
	}
	&.w-130 {
		width: 130px;

		select {
			width: 100%;
		}
	}
	&.w-135 {
		width: 135px;

		select {
			width: 100%;
		}
	}
}
label {
	font-size: 14px;
	line-height: 1.3;
	color: #333;
}
.datetimepicker,
.bootstrap-select .btn,
.form-control {
	background: #f7f7f7;
	border-width: 1px;
	border-style: solid;
	border-color: #9e9e9e #bdbdbd #ccc;
	padding: 5px 9px;
	height: 34px;
	color: #333;
	border-radius: 0;
	box-shadow: inset 0px 1px 2px rgba(2,3,3,.10);
	&:hover {
		background-color: #fff;
		border-color: #848484 #9d9e9e #aaa;
		color: #333;
		box-shadow: inset 0px 1px 2px rgba(2,3,3,.10);
	}
	&:focus,
	&:active {
		background-color: #fff;
		border-width: 1px;
		border-style: solid;
		border-color: #068291 #079cad #07a8bb;
		color: #333;
		box-shadow: inset 0px 1px 2px rgba(2,3,3,.10);
	}
	&:focus {
		background-color: #fff;
	}
	.form-control {
		padding: 0px 0px;
		height: auto;
	}
}
.select-wrapper,
.datetimepicker,
.bootstrap-select .btn,
.form-control {
	&.error {
		border-color: #c54f28 #ec5f2f #ff6633;
	}	
}
.form-group {
	&:extend(.clearfix all);
	margin-bottom: 11px;
}
label {
	&.error {
		color: #f63;
	}
}
.form-error {
	.comment-error {
		display: block;
	}
}
.comment-error {
	color: #f63;
	display: none;
	line-height: 1.0;
	margin: 0px 0px;
	padding: 0px 0px 8px;
}
input {
	&[type='text'] {
		max-width: 100%;
		font-size: 14px;
	}
}
.age-of-children {
	label {
		color: #333;
		white-space: nowrap;
	}
}
#datetimepicker {
	right: auto;
	left: 0px;
}
.datetimepicker {
	background: #f7f7f7;
	padding: 0px 9px 0px 0px;
	.form-control {
		background: transparent;
		padding: 4px 9px;
		height: 32px;
		font-size: 14px;
	}
}
.check-in-date {
	position: relative;
	margin-bottom: 20px;
	label {
		color: #555;
	}
	.hasDatepicker {
		position: absolute;
		padding: 0px;
		border: 0px none;
		z-index: 333;
	}
	.datetimepicker {
		.input-group-addon,
		.form-control {
			background: transparent;
			border: 0px none;
			border-radius: 0;
			box-shadow: none;
		}
		.input-group-addon {
			padding: 2px 2px;
		}
		&:focus,
		&:hover {
			.input-group-addon {
				.glyphicon-calendar {
					/*background-position: -7px -450px;*/
					background-position: -8px -450px;
				}
			}
		}
	}
}
.diaposon-line {
	display: inline-block;
	width: 14px;
	height: 2px;
	background: #778899;
}
.expanded-search {
	line-height: 1.2;
	display: inline-block;
}


.form-captcha {
	&.w405 {
		width: 405px;
		float: right;
	}
	&__img {

	}
	&__filed {

	}
	&__refresh {
		font-size: 13px;
		color: #446699;
		border-bottom: 1px dashed #446699;
		text-decoration: none;
		display: inline-block;
		margin-top: 7px;
	}
}