.glyphicon {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	&-calendar {
		background: transparent url(../images/icons.png) no-repeat -8px -141px;
		width: 17px;
		height: 16px;
		&:before {
			content: "";
			background: transparent;
		}
	}
	&-on-map {
		background: transparent url(../images/icons.png) no-repeat 0% -510px;
		width: 11px;
		height: 17px;
		margin-right: 7px;
	}
	&-on-map-light {
		background: transparent url(../images/icons.png) no-repeat -15px -510px;
		width: 11px;
		height: 17px;
		margin-right: 7px;
	}
	&-link {
		background: transparent url(../images/icons.png) no-repeat 100% -510px;
		width: 14px;
		height: 17px;
		margin-right: 7px;
	}
	&-archive {
		background: transparent url(../images/icons.png) no-repeat -8px -540px;
		width: 16px;
		height: 17px;
		margin-right: 8px;
	}
	
	&-advantage {
		background: transparent url(../images/icons.png) no-repeat -6px -696px;
		width: 18px;
		height: 18px;
		margin-right: 6px;
		top: -2px;
	}
	&-limitations {
		background: transparent url(../images/icons.png) no-repeat -6px -726px;
		width: 18px;
		height: 18px;
		margin-right: 6px;
		top: -2px;
	}
	&-gallery {
		background: transparent url(../images/icons.png) no-repeat 50% -726px;
		background-position: 50% -370px;
		width: 12px;
		height: 12px;
		margin-right: 6px;
		top: -1px;
		&:before {
			content: "";
			background: transparent;
		}
	}
	&-download {
		.sprite(@icon-blocks-profile-download);
		display: inline-block;
		margin: -3px 10px 0px 0px;
	}

	&-edit {
		.sprite(@icon-blocks-tour-reservation-reserv-edit);
		display: inline-block;
	}
	&-delete {
		.sprite(@icon-blocks-tour-reservation-reserv-delete);
		display: inline-block;
	}
	&-plus {
		.sprite(@icon-blocks-tour-reservation-reserv-plus);
		display: inline-block;	
		margin-right: 10px;
	}
	&-plus-o {
		.sprite(@icon-blocks-tour-reservation-plus-o);
		display: inline-block;	
		margin-right: 5px;
	}
	&-plus-o-min {
		.sprite(@icon-blocks-tour-reservation-plus-o-min);
		display: inline-block;	
		margin-right: 5px;
	}
	&-transport {
		.sprite(@icon-blocks-tour-reservation-transport);
		display: inline-block;
		margin-right: 10px;
	}
	&-insurance {
		.sprite(@icon-blocks-tour-reservation-insurance);
		display: inline-block;
		margin: -3px 10px 0px 0px;
	}
	&-added-service {
		.sprite(@icon-blocks-tour-reservation-added-service);
		display: inline-block;
		margin: -3px 10px 0px 0px;
	}
	
	&-white-search {
		.sprite(@icon-blocks-form-white-search);
		&:hover {
			.sprite(@icon-blocks-form-white-search-hover);
		}
	}
	&-database {
		.sprite(@icon-blocks-button-database);
		margin: -5px 10px 0px 0px;
		&:hover {
			.sprite(@icon-blocks-button-database);
		}
	}

	&-question-sign {
		background: transparent url(../images/icons.png) no-repeat 0 -1115px;
		width: 13px;
		height: 13px;

		&:hover {
			background-position: -20px -1115px;
		}
	}
	&-arrow-down {
		background: transparent url(../images/icons.png) no-repeat 0 -1135px;
		width: 11px;
		height: 13px;
	}
	&-arrow-up {
		background: transparent url(../images/icons.png) no-repeat -18px -1135px;
		width: 11px;
		height: 13px;
		position: relative;
		top: -3px;		
	}
	&-expanded-search {
		background: transparent url(../images/icons.png) no-repeat -81px -934px;
		width: 21px;
		height: 17px;
		position: relative;
	}
	&-orange {
		&-map {
			background: transparent url(../images/icons.png) no-repeat -1px -1154px;
			width: 19px;
			height: 17px;
		}
		&-photo {
			background: transparent url(../images/icons.png) no-repeat -1px -1184px;
			width: 19px;
			height: 17px;
		}		
		&-fly {
			background: transparent url(../images/icons.png) no-repeat -3px -1215px;
			width: 16px;
			height: 16px;
		}
		&-book {
			background: transparent url(../images/icons.png) no-repeat -2px -1244px;
			width: 18px;
			height: 17px;
		}
		&-visa {
			background: transparent url(../images/icons.png) no-repeat -3px -1273px;
			width: 16px;
			height: 18px;
		}
		&-apple {
			background: transparent url(../images/icons.png) no-repeat -2px -1302px;
			width: 18px;
			height: 19px;
		}
		&-bus {
			background: transparent url(../images/icons.png) no-repeat 0 -1328px;
			width: 19px;
			height: 16px;
		}
		&-umbrella {
			background: transparent url(../images/icons.png) no-repeat -1px -1354px;
			width: 16px;
			height: 17px;
		}
		&-home {
			background: transparent url(../images/icons.png) no-repeat 0 -1383px;
			width: 20px;
			height: 18px;
		}
		&-farma {
			background: transparent url(../images/icons.png) no-repeat -1px -1413px;
			width: 18px;
			height: 18px;
		}	
	}
	&-grey {
		&-map {
			background: transparent url(../images/icons.png) no-repeat 100% -1154px;
			width: 19px;
			height: 17px;
		}
		&-photo {
			background: transparent url(../images/icons.png) no-repeat 100% -1184px;
			width: 19px;
			height: 17px;
		}		
		&-fly {
			background: transparent url(../images/icons.png) no-repeat 100% -1215px;
			width: 16px;
			height: 16px;
		}
		&-book {
			background: transparent url(../images/icons.png) no-repeat 100% -1244px;
			width: 18px;
			height: 17px;
		}
		&-visa {
			background: transparent url(../images/icons.png) no-repeat 100% -1273px;
			width: 16px;
			height: 18px;
		}
		&-apple {
			background: transparent url(../images/icons.png) no-repeat 100% -1302px;
			width: 18px;
			height: 19px;
		}
		&-bus {
			background: transparent url(../images/icons.png) no-repeat 100% -1328px;
			width: 19px;
			height: 16px;
		}
		&-umbrella {
			background: transparent url(../images/icons.png) no-repeat 100% -1354px;
			width: 16px;
			height: 17px;
		}
		&-home {
			background: transparent url(../images/icons.png) no-repeat 100% -1383px;
			width: 20px;
			height: 18px;
		}
		&-farma {
			background: transparent url(../images/icons.png) no-repeat 100% -1412px;
			width: 18px;
			height: 18px;
		}
		&-rzd {
			background: transparent url(../images/icons.png) no-repeat 100% -1508px;
			width: 25px;
			height: 18px;
		}
		&-school {
			background: transparent url(../images/icons.png) no-repeat 100% -1535px;
			width: 22px;
			height: 20px;
		}
		&-gift {
			background: transparent url(../images/icons.png) no-repeat 100% -1565px;
			width: 18px;
			height: 18px;	
		}
	}
	&-adult {
		background: transparent url(../images/icons.png) no-repeat 0 -1476px;
		width: 24px;
		height: 24px;
	}
	&-bassein {
		.sprite(@icon-blocks-icons-bassein);
	}
	&-bassein-white {
		background: transparent url(../images/icons.png) no-repeat 0% -1971px;
		width: 33px;
		height: 33px;
	}
	&-kid {
		background: transparent url(../images/icons.png) no-repeat 0 -1440px;
		width: 22px;
		height: 22px;	
	}
	&-kid-emerald {
		background: transparent url(../images/icons.png) no-repeat 100% -1440px;
		width: 22px;
		height: 22px;
	}
	&-kid-white {
		background: transparent url(../images/icons.png) no-repeat 0% -1858px;
		width: 35px;
		height: 35px;
	}
	&-time {
		background: transparent url(../images/icons.png) no-repeat 0 -1568px;
		width: 13px;
		height: 13px;
		margin-right: 7px;
		position: relative;
		top: -1px;		
	}
	&-unfold {
		width: 26px;
		height: 26px;
		background: transparent url(../images/icons.png) no-repeat 0 -1592px;		
	}
	&-fold {
		width: 26px;
		height: 26px;
		background: transparent url(../images/icons.png) no-repeat -41px -1592px;
	}	
	&-back {
		background: transparent url(../images/icons.png) no-repeat 0 -1626px;
		width: 8px;
		height: 16px;
	}
	&-slider-left {
		background: transparent url(../images/icons.png) no-repeat 0 -1645px;
		width: 8px;
		height: 14px;
	}	
	&-slider-right {
		background: transparent url(../images/icons.png) no-repeat -20px -1645px;
		width: 8px;
		height: 14px;
	}

	&-arrows-right {
		background: transparent url(../images/icons.png) no-repeat 0 -1740px;
		width: 21px;
		height: 16px;
	}
	&-arrows-left {
		background: transparent url(../images/icons.png) no-repeat -1px -1763px;
		width: 21px;
		height: 16px;
	}	
	&-excursion-personal {
		background: transparent url(../images/icons.png) no-repeat 0 -1799px;
		width: 20px;
		height: 20px;
	}
	&-excursion-personal-white {
		background: transparent url(../images/icons.png) no-repeat 0 -1940px;
		width: 28px;
		height: 28px;
	}	
	&-excursion-group {
		background: transparent url(../images/icons.png) no-repeat 0 -1830px;
		width: 20px;
		height: 20px;
	}
	&-excursion-group-white {
		background: transparent url(../images/icons.png) no-repeat 0 -1900px;
		width: 28px;
		height: 28px;
	}	
	&-paragraph {
		background: transparent url(../images/icons.png) no-repeat 100% -1640px;
		width: 11px;
		height: 14px;
	}	
	&-money {
		.sprite(@icon-blocks-tour-reservation-money);
	}
	&-money-blue {
		.sprite(@icon-blocks-tour-reservation-money-blue);
	}	
	&-search {
		.sprite(@icon-blocks-icons-search);
	}	
	&-doc {
		.sprite(@icon-blocks-icons-doc);
	}
	&-pr {
		.sprite(@icon-blocks-icons-pr);
	}
	&-pr5 {
		.sprite(@icon-blocks-icons-pr5);
	}
}