.table {
	width: 100%;
	margin-bottom: 20px;
	border-width: 0px 0px 1px;
	border-style: dashed;
	border-color: #c1cbd6;
	&_no-border-bottom {
		border-width: 0px 0px 0px;
	}
	thead {
		tr {
			th {
				border-width: 1px 0px;
				border-style: dashed;
				border-color: #c1cbd6;
				text-align: left;
				padding: 7px 7px 7px 0px;
				font-size: 13px;
				line-height: 1.1;
				color: #777;
				font-weight: normal;
				vertical-align: bottom;
			}
		}
	}
	tbody {
		tr {
			td {
				font-family: 'pt_sansbold';
				font-size: 14px;
				line-height: 1.1;
				padding: 20px 15px 20px 0px;
				border-width: 1px 0px 0px;
				border-style: dashed;
				border-color: #c1cbd6;

			}
		}
	}
}
