
.accordion {

	&__item {
		padding: 0 !important;
		margin-top: 2px;
		margin-bottom: 0;

		h2 {
			margin: 0;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	&__ctrl {
		transition: 100ms background;
		&:extend(.h40);
		position: relative;
		display: block;
		padding: 13px 20px 13px 40px;
		background: #f7f7f7;
		color: #0ab !important;

		&:before {
			content: ' ';
			position: absolute;
			left: 20px;
			top: 14px;
			margin-top: 7px;
			border-style: solid;
			border-color: transparent;
			border-top-color: #00aabb;
			border-width: 6px 4px;
		}

		&:hover {
			background: #f7f7f7 !important;
		}

		&.collapsed {
			background: #edf0f3;
			color: #246 !important;

			&:before {
				left: 21px;
				margin-top: 6px;
				border-width: 4px 6px;
				border-top-color: transparent;
				border-left-color: #224466;
			}

			&:hover {
				color: #068 !important;

				&:before {
					border-left-color: #068;
				}
			}
		}
		
	}

	&__body {
		padding: 5px 20px 22px 20px;
		background: #f7f7f7;
	}

}